@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Spychologist Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Spychologist Rating</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-8tyb-WP7">
        <div class="account-information-cBF">
            <div class="auto-group-mhvw-HHP">
                <div class="rectangle-23-CQM">
                </div>
                <div class="rectangle-24-6kd">
                </div>
                <img class="person-28V" src="./assets/person-813.png" />
                <p class="thng-tin-c-nhn-k4V">Thông tin cá nhân</p>
                <p class="bi-vit-ca-ti-RAd">Bài viết (2)</p>
                <img class="image-5-73T" src="./assets/image-5-vjo.png" />
                <div class="frame-3-S5j">
                </div>
                <img class="image-8-AnR" src="./assets/image-8-fNM.png" />
            </div>
            <div class="auto-group-2kz1-WbP">
                <img class="auto-group-nhyw-Qwf" src="./assets/auto-group-nhyw.png" />
                <p class="bi-vit-lu-Mc1">Bình luận (135)</p>
            </div>
            <div class="auto-group-2dy1-e5K">
                <img class="auto-group-1med-waD" src="./assets/auto-group-1med.png" />
                <p class="lch-s-giao-dch-Fau">Đánh giá (525)</p>
            </div>
        </div>
        <div class="auto-group-wcmb-wCq">
            <p class="danh-sch-nh-gi-qJD">DANH SÁCH ĐÁNH GIÁ</p>
            <div class="ratingcomment-Lkm">
                <div class="rectangle-94-GuK">
                </div>
                <div class="frame-2-o8Z">
                    <p class="tn-8Rj">Nguyễn Trung Tín</p>
                    <p class="thi-gian-G29">5 phút trước</p>
                </div>
                <p class="bnh-lun-o25">Rất tốt</p>
                <img class="ic-round-star-tZK" src="./assets/ic-round-star-Vx1.png" />
                <img class="ic-round-star-Dbb" src="./assets/ic-round-star-in9.png" />
                <img class="ic-round-star-MSu" src="./assets/ic-round-star-c1K.png" />
                <img class="ic-round-star-69b" src="./assets/ic-round-star-AaH.png" />
                <img class="ic-round-star-2J9" src="./assets/ic-round-star-eQm.png" />
                <p class="item--MrD">...</p>
            </div>
            <div class="ratingcomment-sJm">
                <div class="rectangle-94-QJh">
                </div>
                <div class="frame-2-LTF">
                    <p class="tn-g1K">Nguyễn Phương Dung</p>
                    <p class="thi-gian-p7X">1 ngày trước</p>
                </div>
                <p class="bnh-lun-YpD">Rất ổn, tiết kiệm được thời gian di chuyển đi khám</p>
                <img class="ic-round-star-TgH" src="./assets/ic-round-star-a4d.png" />
                <img class="ic-round-star-niZ" src="./assets/ic-round-star-VeV.png" />
                <img class="ic-round-star-KTb" src="./assets/ic-round-star-Pfj.png" />
                <img class="ic-round-star-TJu" src="./assets/ic-round-star-vk5.png" />
                <img class="ic-round-star-Bkh" src="./assets/ic-round-star-VbT.png" />
                <p class="item--XJm">...</p>
            </div>
            <div class="ratingcomment-32D">
                <div class="rectangle-94-mU1">
                </div>
                <div class="frame-2-hsT">
                    <p class="tn-E6h">Nguyễn Vũ Thế Thư</p>
                    <p class="thi-gian-NTo">5 ngày trước</p>
                </div>
                <p class="bnh-lun-JcM">Chi phí quá cao</p>
                <img class="ic-round-star-DUR" src="./assets/ic-round-star-fJu.png" />
                <img class="ic-round-star-8rH" src="./assets/ic-round-star-Xdw.png" />
                <img class="ic-round-star-e3w" src="./assets/ic-round-star-nYd.png" />
                <img class="ic-round-star-Myw" src="./assets/ic-round-star-BRf.png" />
                <img class="ic-round-star-VKT" src="./assets/ic-round-star-ei9.png" />
                <p class="item--RU1">...</p>
            </div>
            <div class="ratingcomment-v9s">
                <div class="rectangle-94-3kH">
                </div>
                <div class="frame-2-ydw">
                    <p class="tn-Jw7">Trương Hoàng Tiến</p>
                    <p class="thi-gian-T3K">12 ngày trước</p>
                </div>
                <p class="bnh-lun-adj">Bác sĩ tư vấn rõ ràng, nói chuyện nhẹ nhàng, dễ nghe, dễ hiểu, giúp tôi giảm được nhiều tình trạng tâm lí</p>
                <img class="ic-round-star-VEu" src="./assets/ic-round-star.png" />
                <img class="ic-round-star-pny" src="./assets/ic-round-star-Tg9.png" />
                <img class="ic-round-star-a1T" src="./assets/ic-round-star-iLd.png" />
                <img class="ic-round-star-Ji9" src="./assets/ic-round-star-Xrm.png" />
                <img class="ic-round-star-qxy" src="./assets/ic-round-star-nB7.png" />
                <p class="item--Nxu">...</p>
            </div>
            <div class="ratingcomment-GYV">
                <div class="rectangle-94-1FB">
                </div>
                <div class="frame-2-LHT">
                    <p class="tn-s2V">Hoàng Phi Hiền</p>
                    <p class="thi-gian-QYD">20 ngày trước</p>
                </div>
                <p class="bnh-lun-wo3">Dịch vụ khá tốt, tuy không đạt như tôi mong muốn nhưng cũng giải quyết được một phần vấn đề tôi gặp phải</p>
                <img class="ic-round-star-rQD" src="./assets/ic-round-star-P6V.png" />
                <img class="ic-round-star-ar1" src="./assets/ic-round-star-69B.png" />
                <img class="ic-round-star-7L9" src="./assets/ic-round-star-uqX.png" />
                <img class="ic-round-star-qmw" src="./assets/ic-round-star-1df.png" />
                <img class="ic-round-star-z93" src="./assets/ic-round-star-Zyo.png" />
                <p class="item--KSD">...</p>
            </div>
            <div class="auto-group-wyfs-dho">
                <img class="auto-group-d3fj-wyP" src="./assets/auto-group-d3fj.png" />
                <div class="auto-group-2bsj-4YD">1</div>
                <div class="auto-group-zj8z-vqK">2</div>
                <p class="item--bgZ">...</p>
                <div class="auto-group-5g3o-ux9">105</div>
                <img class="auto-group-1duq-Bem" src="./assets/auto-group-1duq.png" />
            </div>
        </div>
    </div>
    <style>

        html {
            font-size: 62.5%;
        }

        ul, li {
            list-style: none;
        }

        input {
            border: none;
        }

        body {
            width: auto;
        }

        .auto-group-8tyb-WP7 {
            margin: 3rem 8.6rem 24rem 6.1rem;
            width: calc(100% - 14.7rem);
            height: 105.7rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .account-information-cBF {
                margin-right: 6.4rem;
                box-sizing: border-box;
                padding: 2.5rem 0.5rem 18.4rem 0.5rem;
                width: 34.8rem;
                row-gap: 2.5rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                background-color: #ffffff;
                border-radius: 2rem;
                flex-shrink: 0;
            }

                .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP {
                    margin-right: 1.1rem;
                    width: 32.7rem;
                    height: 17.4rem;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .rectangle-23-CQM {
                        width: 31.6rem;
                        height: 7rem;
                        cursor: pointer;
                        position: absolute;
                        left: 1.1rem;
                        top: 0.9rem;
                        background-color: #ffffff;
                        border-radius: 2rem;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .rectangle-24-6kd {
                        width: 31.6rem;
                        height: 7rem;
                        cursor: pointer;
                        position: absolute;
                        left: 1.1rem;
                        top: 10.4rem;
                        background-color: #ffffff;
                        border-radius: 2rem;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .person-28V {
                        width: 6rem;
                        height: 6rem;
                        cursor: pointer;
                        position: absolute;
                        left: 2rem;
                        top: 10.9rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .thng-tin-c-nhn-k4V {
                        width: 17.4rem;
                        height: 2.5rem;
                        cursor: pointer;
                        position: absolute;
                        left: 9.5rem;
                        top: 3.2rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .bi-vit-ca-ti-RAd {
                        width: 10.6rem;
                        height: 2.5rem;
                        cursor: pointer;
                        position: absolute;
                        left: 9.5rem;
                        top: 12.7rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .image-5-73T {
                        width: 6rem;
                        height: 6rem;
                        cursor: pointer;
                        position: absolute;
                        left: 1.9rem;
                        top: 1.3rem;
                        object-fit: cover;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .frame-3-S5j {
                        width: 10rem;
                        height: 10rem;
                        position: absolute;
                        left: 1rem;
                        top: 5.3rem;
                        overflow: hidden;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-mhvw-HHP .image-8-AnR {
                        width: 10.2rem;
                        height: 8.6rem;
                        cursor: pointer;
                        position: absolute;
                        left: 0;
                        top: 0;
                        object-fit: cover;
                        vertical-align: top;
                    }

                .auto-group-8tyb-WP7 .account-information-cBF .auto-group-2kz1-WbP {
                    margin: 0 1.1rem;
                    box-sizing: border-box;
                    padding: 0.5rem 8.5rem 0.1rem 0.9rem;
                    width: calc(100% - 2.2rem);
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;
                    border-radius: 2rem;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-2kz1-WbP .auto-group-nhyw-Qwf {
                        margin-right: 1.4rem;
                        width: 6.1rem;
                        height: 6.4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-2kz1-WbP .bi-vit-lu-Mc1 {
                        margin-bottom: 0.3rem;
                        cursor: pointer;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                .auto-group-8tyb-WP7 .account-information-cBF .auto-group-2dy1-e5K {
                    margin: 0 1.1rem;
                    box-sizing: border-box;
                    padding: 0.1rem 8.6rem 0.1rem 0.9rem;
                    width: calc(100% - 2.2rem);
                    height: 7rem;
                    display: flex;
                    align-items: center;
                    background-color: #fbd78f;
                    border-radius: 2rem;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-2dy1-e5K .auto-group-1med-waD {
                        margin: 0rem 1.4rem 0.4rem 0rem;
                        width: 6.1rem;
                        height: 6.4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-8tyb-WP7 .account-information-cBF .auto-group-2dy1-e5K .lch-s-giao-dch-Fau {
                        margin-top: 0.1rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq {
                box-sizing: border-box;
                padding: 2.1rem 1.5rem 2.1rem 3.3rem;
                width: 88.1rem;
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                background-color: #e8fbfb;
                border-radius: 2rem;
                flex-shrink: 0;
            }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .danh-sch-nh-gi-qJD {
                    margin: 0rem 60.6rem 0.6rem 0rem;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #313053;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm {
                    margin-bottom: 0.7rem;
                    width: 100%;
                    height: 17.8rem;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .rectangle-94-GuK {
                        width: 83.3rem;
                        height: 17.3rem;
                        position: absolute;
                        left: 0;
                        top: 0.5rem;
                        background-color: #c9f4ef;
                        border-radius: 1rem;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .frame-2-o8Z {
                        width: 27.4rem;
                        height: 2.5rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 1.7rem;
                        display: flex;
                        align-items: flex-end;
                    }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .frame-2-o8Z .tn-8Rj {
                            margin-right: 1.7rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .frame-2-o8Z .thi-gian-G29 {
                            margin-bottom: 0.1rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #ff9a51;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .bnh-lun-o25 {
                        width: 4.3rem;
                        height: 1.6rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 10.1rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-tZK {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 1.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-Dbb {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 4.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-MSu {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 7.4304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-69b {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 10.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-2J9 {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 13.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .item--MrD {
                        width: 2.2rem;
                        height: 3rem;
                        position: absolute;
                        left: 79.7rem;
                        top: 0;
                        font-size: 2.4rem;
                        font-weight: 800;
                        line-height: 1.2125;
                        color: #2778d7;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm {
                    margin-bottom: 0.7rem;
                    width: 100%;
                    height: 17.8rem;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .rectangle-94-QJh {
                        width: 83.3rem;
                        height: 17.3rem;
                        position: absolute;
                        left: 0;
                        top: 0.5rem;
                        background-color: #c9f4ef;
                        border-radius: 1rem;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .frame-2-LTF {
                        width: 31.4rem;
                        height: 2.5rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 1.7rem;
                        display: flex;
                        align-items: flex-end;
                    }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .frame-2-LTF .tn-g1K {
                            margin-right: 1.5rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .frame-2-LTF .thi-gian-p7X {
                            margin-bottom: 0.1rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #ff9a51;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .bnh-lun-YpD {
                        width: 31rem;
                        height: 1.6rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 10.1rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-TgH {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 1.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-niZ {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 4.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-KTb {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 7.4304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-TJu {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 10.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-Bkh {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 13.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .item--XJm {
                        width: 2.2rem;
                        height: 3rem;
                        position: absolute;
                        left: 79.7rem;
                        top: 0;
                        font-size: 2.4rem;
                        font-weight: 800;
                        line-height: 1.2125;
                        color: #2778d7;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D {
                    margin-bottom: 0.7rem;
                    width: 100%;
                    height: 17.8rem;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .rectangle-94-mU1 {
                        width: 83.3rem;
                        height: 17.3rem;
                        position: absolute;
                        left: 0;
                        top: 0.5rem;
                        background-color: #c9f4ef;
                        border-radius: 1rem;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .frame-2-hsT {
                        width: 29.7rem;
                        height: 2.5rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 1.7rem;
                        display: flex;
                        align-items: flex-end;
                    }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .frame-2-hsT .tn-E6h {
                            margin-right: 1.2rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .frame-2-hsT .thi-gian-NTo {
                            margin-bottom: 0.1rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #ff9a51;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .bnh-lun-JcM {
                        width: 9.6rem;
                        height: 1.6rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 10.1rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-DUR {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 1.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-8rH {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 4.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-e3w {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 7.4304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-Myw {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 10.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-VKT {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 13.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .item--RU1 {
                        width: 2.2rem;
                        height: 3rem;
                        position: absolute;
                        left: 79.7rem;
                        top: 0;
                        font-size: 2.4rem;
                        font-weight: 800;
                        line-height: 1.2125;
                        color: #2778d7;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s {
                    margin-bottom: 0.7rem;
                    width: 100%;
                    height: 17.8rem;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .rectangle-94-3kH {
                        width: 83.3rem;
                        height: 17.3rem;
                        position: absolute;
                        left: 0;
                        top: 0.5rem;
                        background-color: #c9f4ef;
                        border-radius: 1rem;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .frame-2-ydw {
                        width: 29.7rem;
                        height: 2.5rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 1.7rem;
                        display: flex;
                        align-items: flex-end;
                    }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .frame-2-ydw .tn-Jw7 {
                            margin-right: 1.5rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .frame-2-ydw .thi-gian-T3K {
                            margin-bottom: 0.1rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #ff9a51;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .bnh-lun-adj {
                        width: 64.3rem;
                        height: 1.6rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 10.1rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-VEu {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 1.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-pny {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 4.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-a1T {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 7.4304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-Ji9 {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 10.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-qxy {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 13.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .item--Nxu {
                        width: 2.2rem;
                        height: 3rem;
                        position: absolute;
                        left: 79.7rem;
                        top: 0;
                        font-size: 2.4rem;
                        font-weight: 800;
                        line-height: 1.2125;
                        color: #2778d7;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV {
                    margin-bottom: 2.5rem;
                    width: 100%;
                    height: 17.8rem;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .rectangle-94-1FB {
                        width: 83.3rem;
                        height: 17.3rem;
                        position: absolute;
                        left: 0;
                        top: 0.5rem;
                        background-color: #c9f4ef;
                        border-radius: 1rem;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .frame-2-LHT {
                        width: 26rem;
                        height: 2.5rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 1.7rem;
                        display: flex;
                        align-items: flex-end;
                    }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .frame-2-LHT .tn-s2V {
                            margin-right: 1.7rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .frame-2-LHT .thi-gian-QYD {
                            margin-bottom: 0.1rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #ff9a51;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .bnh-lun-wo3 {
                        width: 67.3rem;
                        height: 1.6rem;
                        position: absolute;
                        left: 1.9rem;
                        top: 10.1rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-rQD {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 1.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-ar1 {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 4.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-7L9 {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 7.4304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-qmw {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 10.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-z93 {
                        width: 2.1392rem;
                        height: 2.0445rem;
                        position: absolute;
                        left: 13.6304rem;
                        top: 5.2466rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .item--KSD {
                        width: 2.2rem;
                        height: 3rem;
                        position: absolute;
                        left: 79.7rem;
                        top: 0;
                        font-size: 2.4rem;
                        font-weight: 800;
                        line-height: 1.2125;
                        color: #2778d7;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho {
                    margin: 0rem 23.7rem 0rem 27.6rem;
                    width: calc(100% - 51.3rem);
                    display: flex;
                    align-items: flex-end;
                    flex-shrink: 0;
                }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-d3fj-wyP {
                        margin: 0rem 1.6rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-2bsj-4YD {
                        margin: 0rem 1.6rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #ffffff;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #3066b8;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-zj8z-vqK {
                        margin: 0rem 1.7rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #ffffff;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #30a8b8;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .item--bgZ {
                        margin-right: 1.5rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        letter-spacing: 0.72rem;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-5g3o-ux9 {
                        margin: 0rem 1.6rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #ffffff;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #30a8b8;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-1duq-Bem {
                        margin-bottom: 0.1rem;
                        width: 4rem;
                        height: 4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }
    </style>
</body>
</html>
