@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Spychologist Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Spychologist Rating</title>
    <link rel="stylesheet" href="~/assets/css/psychologist-rating.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-8tyb-WP7">
        <div class="account-information-cBF">
            <div class="auto-group-mhvw-HHP">
                <div class="rectangle-23-CQM">
                </div>
                <div class="rectangle-24-6kd">
                </div>
                <img class="person-28V" src="./assets/person-813.png" />
                <p class="thng-tin-c-nhn-k4V">Thông tin cá nhân</p>
                <p class="bi-vit-ca-ti-RAd">Bài viết (2)</p>
                <img class="image-5-73T" src="./assets/image-5-vjo.png" />
                <div class="frame-3-S5j">
                </div>
                <img class="image-8-AnR" src="./assets/image-8-fNM.png" />
            </div>
            <div class="auto-group-2kz1-WbP">
                <img class="auto-group-nhyw-Qwf" src="./assets/auto-group-nhyw.png" />
                <p class="bi-vit-lu-Mc1">Bình luận (135)</p>
            </div>
            <div class="auto-group-2dy1-e5K">
                <img class="auto-group-1med-waD" src="./assets/auto-group-1med.png" />
                <p class="lch-s-giao-dch-Fau">Đánh giá (525)</p>
            </div>
        </div>
        <div class="auto-group-wcmb-wCq">
            <p class="danh-sch-nh-gi-qJD">DANH SÁCH ĐÁNH GIÁ</p>
            <div class="ratingcomment-Lkm">
                <div class="rectangle-94-GuK">
                </div>
                <div class="frame-2-o8Z">
                    <p class="tn-8Rj">Nguyễn Trung Tín</p>
                    <p class="thi-gian-G29">5 phút trước</p>
                </div>
                <p class="bnh-lun-o25">Rất tốt</p>
                <img class="ic-round-star-tZK" src="./assets/ic-round-star-Vx1.png" />
                <img class="ic-round-star-Dbb" src="./assets/ic-round-star-in9.png" />
                <img class="ic-round-star-MSu" src="./assets/ic-round-star-c1K.png" />
                <img class="ic-round-star-69b" src="./assets/ic-round-star-AaH.png" />
                <img class="ic-round-star-2J9" src="./assets/ic-round-star-eQm.png" />
                <p class="item--MrD">...</p>
            </div>
            <div class="ratingcomment-sJm">
                <div class="rectangle-94-QJh">
                </div>
                <div class="frame-2-LTF">
                    <p class="tn-g1K">Nguyễn Phương Dung</p>
                    <p class="thi-gian-p7X">1 ngày trước</p>
                </div>
                <p class="bnh-lun-YpD">Rất ổn, tiết kiệm được thời gian di chuyển đi khám</p>
                <img class="ic-round-star-TgH" src="./assets/ic-round-star-a4d.png" />
                <img class="ic-round-star-niZ" src="./assets/ic-round-star-VeV.png" />
                <img class="ic-round-star-KTb" src="./assets/ic-round-star-Pfj.png" />
                <img class="ic-round-star-TJu" src="./assets/ic-round-star-vk5.png" />
                <img class="ic-round-star-Bkh" src="./assets/ic-round-star-VbT.png" />
                <p class="item--XJm">...</p>
            </div>
            <div class="ratingcomment-32D">
                <div class="rectangle-94-mU1">
                </div>
                <div class="frame-2-hsT">
                    <p class="tn-E6h">Nguyễn Vũ Thế Thư</p>
                    <p class="thi-gian-NTo">5 ngày trước</p>
                </div>
                <p class="bnh-lun-JcM">Chi phí quá cao</p>
                <img class="ic-round-star-DUR" src="./assets/ic-round-star-fJu.png" />
                <img class="ic-round-star-8rH" src="./assets/ic-round-star-Xdw.png" />
                <img class="ic-round-star-e3w" src="./assets/ic-round-star-nYd.png" />
                <img class="ic-round-star-Myw" src="./assets/ic-round-star-BRf.png" />
                <img class="ic-round-star-VKT" src="./assets/ic-round-star-ei9.png" />
                <p class="item--RU1">...</p>
            </div>
            <div class="ratingcomment-v9s">
                <div class="rectangle-94-3kH">
                </div>
                <div class="frame-2-ydw">
                    <p class="tn-Jw7">Trương Hoàng Tiến</p>
                    <p class="thi-gian-T3K">12 ngày trước</p>
                </div>
                <p class="bnh-lun-adj">Bác sĩ tư vấn rõ ràng, nói chuyện nhẹ nhàng, dễ nghe, dễ hiểu, giúp tôi giảm được nhiều tình trạng tâm lí</p>
                <img class="ic-round-star-VEu" src="./assets/ic-round-star.png" />
                <img class="ic-round-star-pny" src="./assets/ic-round-star-Tg9.png" />
                <img class="ic-round-star-a1T" src="./assets/ic-round-star-iLd.png" />
                <img class="ic-round-star-Ji9" src="./assets/ic-round-star-Xrm.png" />
                <img class="ic-round-star-qxy" src="./assets/ic-round-star-nB7.png" />
                <p class="item--Nxu">...</p>
            </div>
            <div class="ratingcomment-GYV">
                <div class="rectangle-94-1FB">
                </div>
                <div class="frame-2-LHT">
                    <p class="tn-s2V">Hoàng Phi Hiền</p>
                    <p class="thi-gian-QYD">20 ngày trước</p>
                </div>
                <p class="bnh-lun-wo3">Dịch vụ khá tốt, tuy không đạt như tôi mong muốn nhưng cũng giải quyết được một phần vấn đề tôi gặp phải</p>
                <img class="ic-round-star-rQD" src="./assets/ic-round-star-P6V.png" />
                <img class="ic-round-star-ar1" src="./assets/ic-round-star-69B.png" />
                <img class="ic-round-star-7L9" src="./assets/ic-round-star-uqX.png" />
                <img class="ic-round-star-qmw" src="./assets/ic-round-star-1df.png" />
                <img class="ic-round-star-z93" src="./assets/ic-round-star-Zyo.png" />
                <p class="item--KSD">...</p>
            </div>
            <div class="auto-group-wyfs-dho">
                <img class="auto-group-d3fj-wyP" src="./assets/auto-group-d3fj.png" />
                <div class="auto-group-2bsj-4YD">1</div>
                <div class="auto-group-zj8z-vqK">2</div>
                <p class="item--bgZ">...</p>
                <div class="auto-group-5g3o-ux9">105</div>
                <img class="auto-group-1duq-Bem" src="./assets/auto-group-1duq.png" />
            </div>
        </div>
    </div>
</body>
</html>
