@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Register Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="~/assets/css/Login.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="wrap-login100">
                    <img class="logo mb-4" src="./assets/images/logo.png" />
                    <form method="post">
                        <div class="wave-group mb-3">
                            <input required="" type="text" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">E</span>
                                <span class="label-char" style="--index: 1">m</span>
                                <span class="label-char" style="--index: 2">a</span>
                                <span class="label-char" style="--index: 3">i</span>
                                <span class="label-char" style="--index: 4">l</span>
                            </label>
                        </div>
                        <div class="wave-group mb-3">
                            <input required="" type="text" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">F</span>
                                <span class="label-char" style="--index: 1">i</span>
                                <span class="label-char" style="--index: 2">r</span>
                                <span class="label-char" style="--index: 3">s</span>
                                <span class="label-char" style="--index: 4">t</span>
                                <span class="label-char" style="--index: 5">&nbsp;</span>
                                <span class="label-char" style="--index: 6">n</span>
                                <span class="label-char" style="--index: 7">a</span>
                                <span class="label-char" style="--index: 8">m</span>
                                <span class="label-char" style="--index: 9">e</span>
                            </label>
                        </div>
                        <div class="wave-group mb-3">
                            <input required="" type="text" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">L</span>
                                <span class="label-char" style="--index: 1">a</span>
                                <span class="label-char" style="--index: 2">s</span>
                                <span class="label-char" style="--index: 3">t</span>
                                <span class="label-char" style="--index: 4">&nbsp;</span>
                                <span class="label-char" style="--index: 5">n</span>
                                <span class="label-char" style="--index: 6">a</span>
                                <span class="label-char" style="--index: 7">m</span>
                                <span class="label-char" style="--index: 8">e</span>
                            </label>
                        </div>
                        <div class="wave-group birthday mb-3">
                            <input required="" type="date" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">B</span>
                                <span class="label-char" style="--index: 1">i</span>
                                <span class="label-char" style="--index: 2">r</span>
                                <span class="label-char" style="--index: 3">t</span>
                                <span class="label-char" style="--index: 4">h</span>
                                <span class="label-char" style="--index: 5">d</span>
                                <span class="label-char" style="--index: 6">a</span>
                                <span class="label-char" style="--index: 7">y</span>
                            </label>
                        </div>
                        <div class="wave-group mb-3">
                            <input required="" type="text" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">A</span>
                                <span class="label-char" style="--index: 1">d</span>
                                <span class="label-char" style="--index: 2">d</span>
                                <span class="label-char" style="--index: 3">r</span>
                                <span class="label-char" style="--index: 4">e</span>
                                <span class="label-char" style="--index: 5">s</span>
                                <span class="label-char" style="--index: 6">s</span>
                            </label>
                        </div>
                        <div class="wave-group mb-3">
                            <input required="" type="number" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">P</span>
                                <span class="label-char" style="--index: 1">h</span>
                                <span class="label-char" style="--index: 2">o</span>
                                <span class="label-char" style="--index: 3">n</span>
                                <span class="label-char" style="--index: 4">e</span>
                            </label>
                        </div>
                        <div class="wave-group mb-3">
                            <input required="" type="password" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">P</span>
                                <span class="label-char" style="--index: 1">a</span>
                                <span class="label-char" style="--index: 2">s</span>
                                <span class="label-char" style="--index: 3">s</span>
                                <span class="label-char" style="--index: 3">w</span>
                                <span class="label-char" style="--index: 3">o</span>
                                <span class="label-char" style="--index: 3">r</span>
                                <span class="label-char" style="--index: 3">d</span>
                            </label>
                        </div>
                        <div class="wave-group mb-3">
                            <input required="" type="text" class="input">
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">R</span>
                                <span class="label-char" style="--index: 1">e</span>
                                <span class="label-char" style="--index: 2">t</span>
                                <span class="label-char" style="--index: 3">y</span>
                                <span class="label-char" style="--index: 4">p</span>
                                <span class="label-char" style="--index: 5">e</span>
                                <span class="label-char" style="--index: 6">&nbsp;</span>
                                <span class="label-char" style="--index: 7">p</span>
                                <span class="label-char" style="--index: 8">a</span>
                                <span class="label-char" style="--index: 9">s</span>
                                <span class="label-char" style="--index: 10">s</span>
                                <span class="label-char" style="--index: 11">w</span>
                                <span class="label-char" style="--index: 12">o</span>
                                <span class="label-char" style="--index: 13">r</span>
                                <span class="label-char" style="--index: 14">d</span>
                            </label>
                        </div>
                        <button>
                            <span>Đăng kí</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>