@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>My Post</title>
    <link rel="stylesheet" href="~/assets/css/newpostpsychologist.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-wunr-yp1">
        <div class="information-box-UVs">Bạn muốn viết gì?</div>
        <div class="auto-group-pyz5-jAu">
            <div class="auto-group-gko3-qzd">Thêm ảnh +</div>
            <div class="auto-group-qhuy-jq7">Đăng</div>
        </div>
    </div>
</body>
</html>
