@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>My Post</title>
    <link rel="stylesheet" href="~/assets/css/newpost.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-wz8m-AWR">
        <div class="auto-group-rshb-GJZ">
            <div class="auto-group-subb-Pe5">
                <div class="rectangle-15-8bf">
                </div>
                <p class="thm-nh--TP3">Thêm ảnh +</p>
            </div>
            <div class="auto-group-yqad-vXX">
                <div class="auto-group-nrkd-TXT">
                    <p class="chn-th--ByF">
                        <span class="chn-th--ByF-sub-0">Chọn thẻ </span>
                        <span class="chn-th--ByF-sub-1">*</span>
                    </p>
                    <p class="ti-a-5--h4R">( Tối đa 5 )</p>
                </div>
                <div class="auto-group-un4m-cx5">
                    <img class="keyboardarrowdown-Yaq" src="./assets/keyboardarrowdown-12M.png" />
                </div>
                <div class="auto-group-ruqp-FVF">Đăng</div>
            </div>
        </div>
        <div class="information-box-Xhf">
            <p class="text-e1b">Bạn cần được giải đáp câu hỏi? Muốn nhận lời khuyên? Hay chỉ đơn giản là giải bày, chia sẽ suy nghĩ của mình? Hãy nói cụ thể hơn.</p>
        </div>
        <div class="auto-group-lcpm-9j3">Tóm tắt vấn đề của bạn bằng một câu ngắn gọn</div>
        <div class="auto-group-awrd-zUm">
            <p class="trung-bnh-621">Trung bình</p>
            <img class="keyboardarrowdown-CKw" src="./assets/keyboardarrowdown.png" />
        </div>
        <p class="hy-nh-gi-tnh-trng-tm-l-hin-ti-ca-bn-thn-uVF">Hãy đánh giá tình trạng tâm lí hiện tại của bản thân </p>
        <p class="tiu--nJ9">
            <span class="tiu--nJ9-sub-0">Tiêu đề </span>
            <span class="tiu--nJ9-sub-1">*</span>
        </p>
        <div class="auto-group-tiu5-jsb">
            <img class="vector-65s" src="./assets/vector-ixm.png" />
            <img class="vector-cK7" src="./assets/vector.png" />
            <p class="mi-ngi-hiu-r-hn-v-vn-ca-bn-hy-lm-sng-t-nhng-thng-tin-sau-nh-KzD">Để mọi người hiểu rõ hơn về vấn đề của bạn, hãy làm sáng tỏ những thông tin sau nhé! </p>
        </div>
        <p class="bn-ang-cm-thy-th-no--mbK">
            <span class="bn-ang-cm-thy-th-no--mbK-sub-0">Bạn đang cảm thấy thế nào? </span>
            <span class="bn-ang-cm-thy-th-no--mbK-sub-1">*</span>
        </p>
        <p class="chng-ti-c-th-gip-c-g-cho-bn--9VP">
            <span class="chng-ti-c-th-gip-c-g-cho-bn--9VP-sub-0">Chúng tôi có thể giúp được gì cho bạn? </span>
            <span class="chng-ti-c-th-gip-c-g-cho-bn--9VP-sub-1">*</span>
        </p>
        <div class="information-box-GTX">Vì sao vậy? Hãy viết nó ra nào!</div>
    </div>
</body>
</html>
