@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>My Post</title>
    <link rel="stylesheet" href="~/assets/css/newpostpsychologist.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <form asp-controller="NewPost" asp-action="NewPostPsychologist" enctype="multipart/form-data">
        <div class="auto-group-wunr-yp1">
                <textarea id="model" name="model" placeholder="Bạn muốn viết gì?" class="information-box-UVs"></textarea>                
            <div class="auto-group-pyz5-jAu">                
                <div class="auto-group-gko3-qzd">
                    <input type="file" name="file" id="cusInput" hidden/>
                    <label class="lb-input" for="cusInput">Thêm Ảnh</label>
                </div>
                <span class="file-choosen" id="file-chosen">No file chosen</span>
                <button class="auto-group-qhuy-jq7" type="submit">Đăng</button>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    const actualBtn = document.getElementById('cusInput');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function(){
      fileChosen.textContent = this.files[0].name
    })
</script>
