@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/admin/images/favicon.png">
    <title>Ela - Bootstrap Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->

    <link href="~/assets/admin/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/admin/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="~/assets/admin/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/assets/admin/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/admin/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/admin/css/helper.css" rel="stylesheet">
    <link href="~/assets/admin/css/style.css" rel="stylesheet">

    <!-- Index2 -->
    <link href="~/assets/admin/css/lib/chartist/chartist.min.css" rel="stylesheet">

    <!-- Amchart -->
    <link href="~/assets/admin/css/lib/amchart/export.css" rel="stylesheet">

    <!-- Chartist -->
    <link href="~/assets/admin/css/lib/chartist/chartist.min.css" rel="stylesheet">

    <!-- Dropzone -->
    <link href="~/assets/admin/css/lib/dropzone/dropzone.css" rel="stylesheet">

    <!-- Map Vector -->
    <link href="~/assets/admin/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">


    <!-- Bootstrap Core CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="~Views/Admin/AdminHome/Index.cshtml">
                        <!-- Logo icon -->
                        <b><img src="~/assets/admin/images/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="~/assets/admin/images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->
                        <li class="nav-item dropdown mega-dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i></a>
                            <div class="dropdown-menu animated zoomIn">
                                <ul class="mega-dropdown-menu row">


                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACT US</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </li>
                                    <li class="col-lg-3 col-xlg-3 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-3 col-xlg-3 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-3 col-xlg-3 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- Search -->
                        <li class="nav-item hidden-sm-down search-box">
                            <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle m-r-10"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="~/assets/admin/images/users/5.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="~/assets/admin/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>John Doe</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="~/assets/admin/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Mr. John</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="~/assets/admin/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/admin/images/users/5.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/Index/">Ecommerce </a></li>
                                <li><a href="~/Admin/Index2/">Analytics </a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Người dùng<span class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/CustomerDatatable/">Người dùng thông thường</a></li>
                                <li><a href="~/Admin/PsychologistDatatable/">Nhà tâm lý</a></li>
                                <li><a href="~/Admin/ManagerDatatable/">Quản lý</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Apps</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/EmailCompose/">Compose</a></li>
                                <li><a href="~/Admin/EmailRead/">Read</a></li>
                                <li><a href="~/Admin/EmailInbox/">Inbox</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/ChartFlot/">Flot</a></li>
                                <li><a href="~/Admin/ChartMorris/">Morris</a></li>
                                <li><a href="~/Admin/ChartChartjs/">ChartJs</a></li>
                                <li><a href="~/Admin/ChartChartist/">Chartist </a></li>
                                <li><a href="~/Admin/ChartAmChart/">AmChart</a></li>
                                <li><a href="~/Admin/ChartEChart/">EChart</a></li>
                                <li><a href="~/Admin/ChartSparkline/">Sparkline</a></li>
                                <li><a href="~/Admin/ChartPeity/">Peity</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Features</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Bootstrap UI <span class="label label-rouded label-warning pull-right">6</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/UiAlert/">Alert</a></li>
                                <li><a href="~/Admin/UiButton/">Button</a></li>
                                <li><a href="~/Admin/UiDropdown/">Dropdown</a></li>
                                <li><a href="~/Admin/UiProgressbar/">Progressbar</a></li>
                                <li><a href="~/Admin/UiTab/">Tab</a></li>
                                <li><a href="~/Admin/UiTypography/">Typography</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Components <span class="label label-rouded label-danger pull-right">6</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/UcCalender/">Calender</a></li>
                                <li><a href="~/Admin/UcDatamap/">Datamap</a></li>
                                <li><a href="~/Admin/UcNestedable/">Nestedable</a></li>
                                <li><a href="~/Admin/UcSweetalert/">Sweetalert</a></li>
                                <li><a href="~/Admin/UcToastr/">Toastr</a></li>
                                <li><a href="~/Admin/UcWeather/">Weather</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Forms</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/FormBasic/">Basic Forms</a></li>
                                <li><a href="~/Admin/FormLayout/">Form Layout</a></li>
                                <li><a href="~/Admin/FormValidation/">Form Validation</a></li>
                                <li><a href="~/Admin/FormEditor/">Editor</a></li>
                                <li><a href="~/Admin/FormDropzone/">Dropzone</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Tables</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/TableBootstrap/">Basic Tables</a></li>
                                <li><a href="~/Admin/TableDatatable/">Data Tables</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Layout</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Layout</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/LayoutBlank/">Blank</a></li>
                                <li><a href="~/Admin/LayoutBoxed/">Boxed</a></li>
                                <li><a href="~/Admin/LayoutFixHeader/">Fix Header</a></li>
                                <li><a href="~/Admin/LayoutFixSidebar/">Fix Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">EXTRA</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Pages <span class="label label-rouded label-success pull-right">8</span></span></a>
                            <ul aria-expanded="false" class="collapse">

                                <li>
                                    <a href="#" class="has-arrow">Authentication <span class="label label-rounded label-success">6</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="~/View/Login">Login</a></li>
                                        <li><a href="~/View/Register">Register</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-arrow">Error Pages</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="~/Admin/PageError400/">400</a></li>
                                        <li><a href="~/Admin/PageError403/">403</a></li>
                                        <li><a href="~/Admin/PageError404/">404</a></li>
                                        <li><a href="~/Admin/PageError500/">500</a></li>
                                        <li><a href="~/Admin/PageError503/">503</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-map-marker"></i><span class="hide-menu">Maps</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Admin/MapGoogle/">Google</a></li>
                                <li><a href="~/Admin/MapVector/">Vector</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-level-down"></i><span class="hide-menu">Multi level dd</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">item 1.1</a></li>
                                <li><a href="#">item 1.2</a></li>
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="#">item 1.3.1</a></li>
                                        <li><a href="#">item 1.3.2</a></li>
                                        <li><a href="#">item 1.3.3</a></li>
                                        <li><a href="#">item 1.3.4</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">item 1.4</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->

        <!-- Page wrapper  -->
        @RenderBody()
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="~/assets/admin/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/admin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/admin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/assets/admin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/assets/admin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <!--Custom JavaScript --> 
    <!-- Index -->
    <!-- Amchart -->
    <script src="~/assets/admin/js/lib/morris-chart/raphael-min.js"></script>
    <script src="~/assets/admin/js/lib/morris-chart/morris.js"></script>
    <script src="~/assets/admin/js/lib/morris-chart/dashboard1-init.js"></script>
    <script src="~/assets/admin/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="~/assets/admin/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="~/assets/admin/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="~/assets/admin/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="~/assets/admin/js/lib/calendar-2/pignose.init.js"></script>

    <script src="~/assets/admin/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/admin/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="~/assets/admin/js/scripts.js"></script>
    <!-- scripit init-->

    <!-- Index2 -->
    <script src="~/assets/admin/js/lib/datamap/d3.min.js"></script>
    <script src="~/assets/admin/js/lib/datamap/topojson.js"></script>
    <script src="~/assets/admin/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="~/assets/admin/js/lib/datamap/datamap-init.js"></script>
    <script src="~/assets/admin/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/assets/admin/js/lib/weather/weather-init.js"></script>
    <script src="~/assets/admin/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/admin/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="~/assets/admin/js/lib/chartist/chartist.min.js"></script>
    <script src="~/assets/admin/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/assets/admin/js/lib/chartist/chartist-init.js"></script>

    <!-- Amchart -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/serial.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/export.min.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/light.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/ammap.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/worldLow.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/pie.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/amstock.js"></script>
    <script src="~/assets/admin/js/lib/chart-amchart/amchart-init.js"></script>

    <!-- Chartjs -->
    <script src="~/assets/admin/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/assets/admin/js/lib/chart-js/chartjs-init.js"></script>

    <!-- Echart -->
    <script src="~/assets/admin/js/lib/echart/echarts.js"></script>
    <script src="~/assets/admin/js/lib/echart/echarts-init.js"></script>

    <!--  flot-chart js -->
    <script src="~/assets/admin/js/lib/flot-chart/excanvas.min.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/jquery.flot.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/jquery.flot.pie.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/jquery.flot.time.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/jquery.flot.stack.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/curvedLines.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="~/assets/admin/js/lib/flot-chart/flot-chart-init.js"></script>

    <!--  Chart Morris -->
    <script src="~/assets/admin/js/lib/morris-chart/morris-init.js"></script>

    <!-- ChartPeity -->
    <script src="~/assets/admin/js/lib/peitychart/jquery.peity.min.js"></script>
    <script src="~/assets/admin/js/lib/peitychart/peitychart.init.js"></script>

    <!-- ChartSparkline -->
    <script src="~/assets/admin/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="~/assets/admin/js/lib/sparklinechart/sparkline.init.js"></script>

    <!-- Dropzone -->
    <script src="~/assets/admin/js/lib/dropzone/dropzone.js"></script>

    <!-- Editor -->
    <script src="~/assets/admin/js/lib/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="~/assets/admin/js/lib/html5-editor/bootstrap-wysihtml5.js"></script>
    <script src="~/assets/admin/js/lib/html5-editor/wysihtml5-init.js"></script>

    <!-- Form validation -->
    <script src="~/assets/admin/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="~/assets/admin/js/lib/form-validation/jquery.validate-init.js"></script>

    <!-- Map Google -->
    <script src="~/assets/admin/js/lib/gmap/gmapApi.js"></script>
    <script src="~/assets/admin/js/lib/gmap/gmaps.js"></script>
    <script src="~/assets/admin/js/lib/gmap/gmap.init.js"></script>

    <!-- Map Vector -->
    <script src="~/assets/admin/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.algeria.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.argentina.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.brazil.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.france.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.germany.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.greece.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.iran.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.iraq.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.russia.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.tunisia.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.europe.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.usa.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/country/jquery.vmap.turkey.js"></script>
    <script src="~/assets/admin/js/lib/vector-map/vector.init.js"></script>

    <!-- Table Database -->
    <script src="~/assets/admin/js/lib/datatables/datatables.min.js"></script>
    <script src="~/assets/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="~/assets/admin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="~/assets/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="~/assets/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="~/assets/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="~/assets/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="~/assets/admin/js/lib/datatables/datatables-init.js"></script>

    <!-- UcCalender -->
    <script src="~/assets/admin/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="~/assets/admin/js/lib/calendar-2/semantic.ui.min.js"></script>
    <script src="~/assets/admin/js/lib/calendar-2/prism.min.js"></script>
    <script src="~/assets/admin/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="~/assets/admin/js/lib/calendar-2/pignose.init.js"></script>

    <!-- Uc Datamap-->
    <script src="~/assets/admin/js/lib/datamap/d3.min.js"></script>
    <script src="~/assets/admin/js/lib/datamap/topojson.js"></script>
    <script src="~/assets/admin/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="~/assets/admin/js/lib/datamap/datamap-init.js"></script>

    <!-- Uc Nestedable-->
    <script src="~/assets/admin/js/lib/nestable/jquery.nestable.js"></script>
    <script src="~/assets/admin/js/lib/nestable/nestable.init.js"></script>

    <!-- Uc Sweetalert -->
    <script src="~/assets/admin/js/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/admin/js/lib/sweetalert/sweetalert.init.js"></script>

    <!-- Uc Toastr -->
    <script src="~/assets/admin/js/lib/toastr/toastr.min.js"></script>
    <script src="~/assets/admin/js/lib/toastr/toastr.init.js"></script>

    <!-- Uc Weather -->
    <script src="~/assets/admin/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/assets/admin/js/lib/weather/weather-init.js"></script>

    <script src="~/assets/admin/js/custom.min.js"></script>

</body>

</html>