@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Save Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Save Post</title>
    <link rel="stylesheet" href="~/assets/css/savepost.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-zvft-k3X">
        <div class="auto-group-nxxm-r6Z">
            <img class="image-8-ZWm" src="~/assets/images/image-8-6Dj.png" />
            <div class="account-information-UNq">
                <div class="auto-group-9xty-x37">
                    <div class="rectangle-23-4bw">
                    </div>
                    <p class="thng-tin-c-nhn-NMj">Thông tin cá nhân</p>
                    <img class="image-9-ea9" src="~/assets/images/image-9.png" />
                </div>
                <div class="auto-group-mqem-BKB">
                    <img class="person-GLd" src="~/assets/images/person-k1B.png" />
                    <p class="bi-vit-ca-ti-bNu">Bài viết của tôi</p>
                </div>
                <div class="auto-group-qmhx-sbK">
                    <img class="commentbank-YxM" src="~/assets/images/commentbank-WwP.png" />
                    <p class="bi-vit-lu-gof">Bài viết đã lưu</p>
                </div>
                <div class="auto-group-cu8q-aPF">
                    <img class="monetizationon-HHf" src="~/assets/images/monetizationon-K3B.png" />
                    <p class="lch-s-giao-dch-cKw">Thanh toán</p>
                </div>
            </div>
        </div>
        <div class="auto-group-sekx-Hws">
            <p class="danh-sach-bai-vit-a-lu-oQR">Danh sách bài viết đã lưu</p>
            <div class="auto-group-dydj-HKb">
                <div class="auto-group-wczh-aJh">
                    <div class="tag-vNZ">Học đường</div>
                    <div class="tag-P1F">Gia đình</div>
                    <div class="tag-F3T">và 2 thẻ khác ...</div>
                    <img class="expandmore-JnR" src="~/assets/images/expandmore-Ty7.png" />
                </div>
                <p class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV">
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-0">Em đang trong mùa ôn thi đã rất áp lực điểm số rồi nhưng về nhà vẫn</span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-1"> </span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-2">...</span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-3"> </span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-4">xem thêm</span>
                </p>
            </div>
            <div class="auto-group-r2yd-Tam">
                <div class="auto-group-skxk-kJy">
                    <div class="tag-VGZ">Công việc</div>
                    <div class="tag-xA9">Gia đình</div>
                    <div class="tag-py3">Stress</div>
                    <img class="expandmore-uDo" src="~/assets/images/expandmore-Cwf.png" />
                </div>
                <p class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m">
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-0">Làm một ngày gần 12 tiếng nhưng khi về đến nhà vẫn không được nghỉ ngơi </span>
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-1"> </span>
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-2">...</span>
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-3"> </span>
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-4">xem thêm</span>
                </p>
            </div>
            <div class="auto-group-svx7-WWR">
                <div class="auto-group-jqpb-PaD">
                    <div class="tag-XRX">Đồng trang lứa</div>
                    <div class="tag-mKs">Stress</div>
                    <img class="expandmore-1V7" src="~/assets/images/expandmore-mgy.png" />
                </div>
                <p class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo">
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-0">Lướt tiktok ai cũng lương tháng 100 triệu trong khi mình chỉ đủ mua ổ bánh mì</span>
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-1"> </span>
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-2">...</span>
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-3"> </span>
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-4">xem thêm</span>
                </p>
            </div>
            <div class="auto-group-mubf-f5o">
                <img class="auto-group-ylz9-med" src="~/assets/images/auto-group-ylz9.png" />
                <div class="auto-group-3h41-H7B">1</div>
                <div class="auto-group-1epd-8Nh">2</div>
                <p class="item--bn5">...</p>
                <div class="auto-group-fzoo-KTB">
                    10
                    <br />

                </div>
                <img class="auto-group-wkny-z3X" src="~/assets/images/auto-group-wkny.png" />
            </div>
        </div>
    </div>
</body>
</html>
