@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Save Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Save Post</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-zvft-k3X">
        <div class="auto-group-nxxm-r6Z">
            <img class="image-8-ZWm" src="./assets/image-8-6Dj.png" />
            <div class="account-information-UNq">
                <div class="auto-group-9xty-x37">
                    <div class="rectangle-23-4bw">
                    </div>
                    <p class="thng-tin-c-nhn-NMj">Thông tin cá nhân</p>
                    <img class="image-9-ea9" src="./assets/image-9.png" />
                </div>
                <div class="auto-group-mqem-BKB">
                    <img class="person-GLd" src="./assets/person-k1B.png" />
                    <p class="bi-vit-ca-ti-bNu">Bài viết của tôi</p>
                </div>
                <div class="auto-group-qmhx-sbK">
                    <img class="commentbank-YxM" src="./assets/commentbank-WwP.png" />
                    <p class="bi-vit-lu-gof">Bài viết đã lưu</p>
                </div>
                <div class="auto-group-cu8q-aPF">
                    <img class="monetizationon-HHf" src="./assets/monetizationon-K3B.png" />
                    <p class="lch-s-giao-dch-cKw">Thanh toán</p>
                </div>
            </div>
        </div>
        <div class="auto-group-sekx-Hws">
            <p class="danh-sach-bai-vit-a-lu-oQR">Danh sách bài viết đã lưu</p>
            <div class="auto-group-dydj-HKb">
                <div class="auto-group-wczh-aJh">
                    <div class="tag-vNZ">Học đường</div>
                    <div class="tag-P1F">Gia đình</div>
                    <div class="tag-F3T">và 2 thẻ khác ...</div>
                    <img class="expandmore-JnR" src="./assets/expandmore-Ty7.png" />
                </div>
                <p class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV">
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-0">Em đang trong mùa ôn thi đã rất áp lực điểm số rồi nhưng về nhà vẫn</span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-1"> </span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-2">...</span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-3"> </span>
                    <button class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-4">xem thêm</button>
                </p>
            </div>
            <div class="auto-group-r2yd-Tam">
                <div class="auto-group-skxk-kJy">
                    <div class="tag-VGZ">Công việc</div>
                    <div class="tag-xA9">Gia đình</div>
                    <div class="tag-py3">Stress</div>
                    <img class="expandmore-uDo" src="./assets/expandmore-Cwf.png" />
                </div>
                <p class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m">
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-0">Làm một ngày gần 12 tiếng nhưng khi về đến nhà vẫn không được nghỉ ngơi </span>
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-1"> </span>
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-2">...</span>
                    <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-3"> </span>
                    <button class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-4">xem thêm</button>
                </p>
            </div>
            <div class="auto-group-svx7-WWR">
                <div class="auto-group-jqpb-PaD">
                    <div class="tag-XRX">Đồng trang lứa</div>
                    <div class="tag-mKs">Stress</div>
                    <img class="expandmore-1V7" src="./assets/expandmore-mgy.png" />
                </div>
                <p class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo">
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-0">Lướt tiktok ai cũng lương tháng 100 triệu trong khi mình chỉ đủ mua ổ bánh mì</span>
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-1"> </span>
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-2">...</span>
                    <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-3"> </span>
                    <button class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-4">xem thêm</button>
                </p>
            </div>
            <div class="auto-group-mubf-f5o">
                <img class="auto-group-ylz9-med" src="./assets/auto-group-ylz9.png" />
                <button class="auto-group-3h41-H7B">1</button>
                <button class="auto-group-1epd-8Nh">2</button>
                <p class="item--bn5">...</p>
                <button class="auto-group-fzoo-KTB">
                    10
                    <br />

                </button>
                <img class="auto-group-wkny-z3X" src="./assets/auto-group-wkny.png" />
            </div>
        </div>
    </div>
    <style>

        html {
            font-size: 62.5%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        ul, li {
            list-style: none;
        }

        input {
            border: none;
        }

        body {
            width: auto;
        }

        .auto-group-zvft-k3X {
            margin: 3rem 9.7rem 5rem -13rem;
            width: calc(100% - 12.7rem);
            height: 105.7rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
        }

            .auto-group-zvft-k3X .auto-group-nxxm-r6Z {
                margin: 2.7rem 8.4rem 0rem 0rem;
                width: 34.8rem;
                height: 57.3rem;
                position: relative;
                flex-shrink: 0;
            }

                .auto-group-zvft-k3X .auto-group-nxxm-r6Z .image-8-ZWm {
                    width: 10.2rem;
                    height: 8.6rem;
                    position: absolute;
                    left: 1.7rem;
                    top: 0.3rem;
                    object-fit: cover;
                    vertical-align: top;
                }

                .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq {
                    box-sizing: border-box;
                    padding: 2.3rem 0.4rem 18.4rem 0.4rem;
                    width: 34.8rem;
                    height: 57.3rem;
                    position: absolute;
                    top: -26px;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff;
                    border-radius: 2rem;
                }

                    .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-9xty-x37 {
                        margin: 0rem 1.2rem 2rem 0rem;
                        width: 32.8rem;
                        height: 8.6rem;
                        position: relative;
                        flex-shrink: 0;
                    }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-9xty-x37 .rectangle-23-4bw {
                            width: 31.6rem;
                            height: 7rem;
                            cursor: pointer;
                            position: absolute;
                            left: 1.2rem;
                            top: 1.1rem;
                            background-color: #ffffff;
                            border-radius: 2rem;
                        }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-9xty-x37 .thng-tin-c-nhn-NMj {
                            width: 17.4rem;
                            height: 2.5rem;
                            cursor: pointer;
                            position: absolute;
                            left: 9.6rem;
                            top: 3.4rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                        }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-9xty-x37 .image-9-ea9 {
                            width: 6rem;
                            max-height: 60px;
                            max-width: 60px;
                            height: 6rem;
                            cursor: pointer;
                            position: absolute;
                            left: 20px;
                            top: 12px;
                            object-fit: cover;
                            vertical-align: top;
                        }

                    .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-mqem-BKB {
                        margin: 0rem 1.2rem 2.5rem 1.2rem;
                        box-sizing: border-box;
                        padding: 0.5rem 8.7rem 0.5rem 0.9rem;
                        width: calc(100% - 2.4rem);
                        display: flex;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-mqem-BKB .person-GLd {
                            margin-right: 1.5rem;
                            width: 6rem;
                            height: 6rem;
                            cursor: pointer;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-mqem-BKB .bi-vit-ca-ti-bNu {
                            margin-top: 0.1rem;
                            cursor: pointer;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-qmhx-sbK {
                        margin: 0rem 1.2rem 2.5rem 1.2rem;
                        box-sizing: border-box;
                        padding: 0.5rem 9.1rem 0.5rem 0.9rem;
                        width: calc(100% - 2.4rem);
                        display: flex;
                        align-items: center;
                        background-color: #fbd78f;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-qmhx-sbK .commentbank-YxM {
                            margin-right: 1.5rem;
                            width: 6rem;
                            height: 6rem;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-qmhx-sbK .bi-vit-lu-gof {
                            margin-top: 0.1rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-cu8q-aPF {
                        margin: 0 1.2rem;
                        box-sizing: border-box;
                        padding: 0.5rem 12.2rem 0.5rem 0.9rem;
                        width: calc(100% - 2.4rem);
                        display: flex;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-cu8q-aPF .monetizationon-HHf {
                            margin-right: 1.5rem;
                            width: 6rem;
                            height: 6rem;
                            cursor: pointer;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-nxxm-r6Z .account-information-UNq .auto-group-cu8q-aPF .lch-s-giao-dch-cKw {
                            margin-top: 0.1rem;
                            cursor: pointer;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

            .auto-group-zvft-k3X .auto-group-sekx-Hws {
                box-sizing: border-box;
                padding: 2.6rem 4.8rem 1.6rem 2.5rem;
                width: 88.1rem;
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                background-color: #e8fbfb;
                border-radius: 2rem;
                flex-shrink: 0;
            }

                .auto-group-zvft-k3X .auto-group-sekx-Hws .danh-sach-bai-vit-a-lu-oQR {
                    margin: 0rem 56rem 2.2rem 0rem;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #313053;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb {
                    margin: 0rem 0rem 2.8rem 0.8rem;
                    box-sizing: border-box;
                    padding: 0.5rem 1rem 2.3rem 1.5rem;
                    width: 80rem;
                    background-color: #ffffff;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .auto-group-wczh-aJh {
                        margin-bottom: 3rem;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                    }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .auto-group-wczh-aJh .tag-vNZ {
                            margin: 0rem 1rem 0.4rem 0rem;
                            width: 9.9rem;
                            height: 3.3rem;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .auto-group-wczh-aJh .tag-P1F {
                            margin: 0rem 1rem 0.4rem 0rem;
                            width: 9.9rem;
                            height: 3.3rem;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .auto-group-wczh-aJh .tag-F3T {
                            margin: 0rem 37.9rem 0.4rem 0rem;
                            width: 11.8rem;
                            height: 3.3rem;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .auto-group-wczh-aJh .expandmore-JnR {
                            width: 6rem;
                            height: 6rem;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV {
                        max-width: 62.4rem;
                        font-size: 1.4rem;
                        font-weight: 300;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                    }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-0 {
                            font-size: 2rem;
                            font-weight: 500;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            border: none;
                            outline: none;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-1 {
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-2 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            border: none;
                            outline: none;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-3 {
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-dydj-HKb .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV .em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-eLV-sub-4 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #000000;
                            background: none;
                            font-family: Inter, 'Source Sans Pro';
                            border: none;
                            outline: none;
                        }

                .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam {
                    margin: 0rem 0rem 3.6rem 0.8rem;
                    box-sizing: border-box;
                    padding: 0.8rem 1rem 1.6rem 1.5rem;
                    width: 80rem;
                    background-color: #ffffff;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .auto-group-skxk-kJy {
                        margin-bottom: 3.4rem;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                    }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .auto-group-skxk-kJy .tag-VGZ {
                            margin-right: 1rem;
                            width: 9.9rem;
                            height: 3.3rem;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .auto-group-skxk-kJy .tag-xA9 {
                            margin-right: 1rem;
                            width: 9.9rem;
                            height: 3.3rem;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .auto-group-skxk-kJy .tag-py3 {
                            margin-right: 41.5rem;
                            width: 8.2rem;
                            height: 3.3rem;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .auto-group-skxk-kJy .expandmore-uDo {
                            width: 6rem;
                            height: 6rem;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m {
                        max-width: 61.9rem;
                        font-size: 2rem;
                        font-weight: 500;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                    }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-0 {
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-1 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-2 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-3 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-r2yd-Tam .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m .lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-F2m-sub-4 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #000000;
                            background: none;
                            font-family: Inter, 'Source Sans Pro';
                            border: none;
                            outline: none;
                        }

                .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR {
                    margin: 0rem 0rem 36.2rem 0.8rem;
                    box-sizing: border-box;
                    padding: 0.9rem 1rem 2.8rem 1.5rem;
                    width: 80rem;
                    background-color: #ffffff;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .auto-group-jqpb-PaD {
                        margin-bottom: 2.1rem;
                        width: 100%;
                        height: 6rem;
                        display: flex;
                        align-items: center;
                    }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .auto-group-jqpb-PaD .tag-XRX {
                            margin: 1.4rem 0.7rem 1.3rem 0rem;
                            width: 11.2rem;
                            height: calc(100% - 2.7rem);
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .auto-group-jqpb-PaD .tag-mKs {
                            margin: 1.4rem 49.7rem 1.3rem 0rem;
                            width: 9.9rem;
                            height: calc(100% - 2.7rem);
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #efd037;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .auto-group-jqpb-PaD .expandmore-1V7 {
                            width: 6rem;
                            height: 6rem;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo {
                        max-width: 59.6rem;
                        font-size: 1.4rem;
                        font-weight: 300;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                    }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-0 {
                            font-size: 2rem;
                            font-weight: 500;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-1 {
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-2 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-3 {
                        }

                        .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-svx7-WWR .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo .lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-kBo-sub-4 {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            background: none;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            border: none;
                            outline: none;
                        }

                .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-mubf-f5o {
                    margin: -3rem 21.2rem 0rem 27.6rem;
                    width: calc(100% - 48.8rem);
                    display: flex;
                    align-items: flex-end;
                    flex-shrink: 0;
                }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-mubf-f5o .auto-group-ylz9-med {
                        margin: 0rem 1.6rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-mubf-f5o .auto-group-3h41-H7B {
                        margin: 0rem 1.6rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #ffffff;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #3066b8;
                        border-radius: 2rem;
                        flex-shrink: 0;
                        border:none;
                        outline: none;
                    }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-mubf-f5o .auto-group-1epd-8Nh {
                        margin: 0rem 1.7rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #ffffff;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #30a8b8;
                        border-radius: 2rem;
                        flex-shrink: 0;
                        border: none;
                        outline: none;
                    }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-mubf-f5o .item--bn5 {
                        margin-right: 1.5rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        letter-spacing: 0.72rem;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        border: none;
                        outline: none;
                    }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-mubf-f5o .auto-group-fzoo-KTB {
                        margin: 0rem 1.6rem 0.1rem 0rem;
                        width: 4rem;
                        height: 4rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #ffffff;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #30a8b8;
                        border-radius: 2rem;
                        flex-shrink: 0;
                        border: none;
                        outline: none;
                    }

                    .auto-group-zvft-k3X .auto-group-sekx-Hws .auto-group-mubf-f5o .auto-group-wkny-z3X {
                        margin-bottom: 0.1rem;
                        width: 4rem;
                        height: 4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }
    </style>
</body>
</html>
