<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <style>
        body {
            margin: 0;
            font-family: 'Inter', sans-serif;
        }

        .HeaderRow, .FooterRow {
            width: 100%;
            margin: 0 auto;
           
        }

        .container {
            margin: 0 auto;
        }
        .header{
            
        }

        .ImageLogo{
            position: absolute;
            top: 0;
            left: 0;
           
            bottom: 0;
            width: 5rem;
            height: 3rem;
            margin: auto 0;
            margin-left: 1.5rem;
        }


        * {
            box-sizing: border-box;
        }

 
        .search-box {
            width: fit-content;
            height: fit-content;
            position: relative;
        }

        .input-search {
            height: 50px;
            width: 50px;
            border-style: none;
            padding: 10px;
            font-size: 18px;
            letter-spacing: 2px;
            outline: none;
            border-radius: 25px;
            transition: all .5s ease-in-out;
            background-color: yellow;
            padding-right: 40px;
            color: black;
        }

            .input-search::placeholder {
                color: black;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: 100;
            }

        .btn-search {
            width: 50px;
            height: 50px;
            border-style: none;
            font-size: 20px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            right: 0px;
            color: black;
            background-color: transparent;
            pointer-events: painted;
        }

            .btn-search:focus ~ .input-search {
                width: 300px;
                border-radius: 0px;
                background-color: transparent;
                border-bottom: 1px solid black;
                transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
            }

        .input-search:focus {
            width: 300px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid black;
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }
       
    </style>
   

</head>
<body>
    <header class="header">
        <div class="">
            <div class="HeaderRow" style="height:60px; position: relative">
                <div class="" style="width: 100%; height: 60px; left: 0px; top: 0px; padding:5px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; position: absolute; background: #FFFDAB"></div>


       

                    <div>
                        <img class="ImageLogo col" style="" src="https://sohanews.sohacdn.com/thumb_w/660/160588918557773824/2023/4/13/edit-nhung-hanh-dong-la-lung-ma-loai-cho-thuong-lam-16813809545881762859708.png" />
                    </div>

                    <div class="search-box">
                        <button class="btn-search"><i class="fas fa-search"></i></button>
                        <input type="text" class="input-search" placeholder="Type to Search...">
                    </div>
         
              


            </div>
        </div>
       
       
    </header>
    <div class="container">
        
            @RenderBody()

    </div>

    <footer>
        <div class="FooterRow" style=" height: 396px; position: relative">
            <div class="Rectangle88" style="width: 100%; height: 396px; left: 0px; top: 0px; position: absolute; background: #FFFDAB"></div>
            <div class="CUHIThNgGP" style="left: 840px; top: 76px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Câu hỏi thường gặp</div>
            <div class="IUKhoNSDNg" style="left: 584px; top: 112px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Điều khoản sử dụng</div>
            <div class="ACh" style="left: 109px; top: 44px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Địa chỉ</div>
            <div class="LE2a7NgD1D1LongThNhMThNhPhThCThNhPhHChMinhViTNam" style="width: 399px; left: 109px; top: 70px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lô E2a-7, Đường D1, Đ. D1, Long Thạnh Mỹ,<br />Thành Phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</div>
            <div class="Hotline" style="left: 109px; top: 134px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Hotline</div>
            <div class="0007" style="left: 109px; top: 156px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">1900 0007</div>
            <div class="Email" style="left: 109px; top: 198px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Email</div>
            <div class="ZalphasupportGmailCom" style="left: 109px; top: 220px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">zalphasupport@gmail.com</div>
            <div class="Mail" style="width: 24px; height: 24px; left: 80px; top: 194px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="Mail" style="width: 20px; height: 16px; left: 2px; top: 4px; position: absolute; background: #2364AA"></div>
            </div>
            <div class="VChNgTI" style="left: 584px; top: 40px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Về chúng tôi</div>
            <div class="ChNhSChBOMT" style="left: 584px; top: 76px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Chính sách bảo mật</div>
            <div class="NgKCNgTCViN" style="left: 840px; top: 40px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Đăng ký cộng tác viên</div>
            <div class="TIAppMobile" style="left: 840px; top: 112px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Tải app mobile</div>
            <div class="Rectangle91" style="width: 40px; height: 40px; left: 1111px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="Rectangle93" style="width: 40px; height: 40px; left: 1211px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="Rectangle92" style="width: 40px; height: 40px; left: 1161px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="RiFacebookFill" style="width: 30px; height: 30px; left: 897px; top: 228px; position: absolute"></div>
            <div class="Vector" style="width: 13.12px; height: 25px; left: 1124.25px; top: 47.25px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 10px; height: 10px; left: 1176px; top: 55px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 30px; height: 30px; left: 1166px; top: 45px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 30px; height: 27.12px; left: 1216px; top: 46.44px; position: absolute; background: white"></div>
            <div class="TeenyiconsInstagramSolid" style="width: 30px; height: 30px; left: 947px; top: 228px; position: absolute"></div>
            <div class="SimpleIconsX" style="width: 30px; height: 30px; left: 997px; top: 228px; position: absolute"></div>
            <div class="Copyright2023AllRightsReserved" style="left: 594px; top: 359px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Copyright ©2023 All Rights Reserved</div>
            <div class="LocationOn" style="width: 24px; height: 24px; left: 80px; top: 40px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="LocationOn" style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; background: #2364AA"></div>
            </div>
            <div class="Call" style="width: 24px; height: 24px; left: 80px; top: 130px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="Call" style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute; background: #2364AA"></div>
            </div>
        </div>
    </footer>

</body>
</html>