<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <style>
        body {
            margin: 0;
            font-family: 'Inter', sans-serif;
        }

        .HeaderRow, .FooterRow {
            width: 100%;
            margin: 0 auto;
           
        }

        .container {
            margin: 0 auto;
        }
        .header{
            margin-bottom: 30px;
        }

        .ImageLogo{
            position: absolute;
            width: 4.5vw;
          
            margin: auto ;
        }


        * {
            box-sizing: border-box;
        }

 
        .search-box {
            width: fit-content;
            height: fit-content;
            position: absolute;
            margin-top:10px;
        }

        .input-search {
            height: 40px;
            width: 40px;
            border-style: none;
    
            font-size: 16px;
            outline: none;
            border-radius: 25px;
            transition: all .5s ease-in-out;
            background-color: #008CA1;
            padding-right: 40px;
            color: black;
        }

            .input-search::placeholder {
                color: wheat;
                font-size: 16px;
                font-weight: 100;
            }

        .btn-search {
            width: 40px;
            height: 40px;
            border-style: none;
            font-size: 16px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            right: 0px;
            color: wheat;
            background-color: transparent;
            pointer-events: painted;
        }

            .btn-search:focus ~ .input-search {
                width: 22vw;
                border-radius: 0px;
                background-color: transparent;
                border-bottom: 1px solid black;
                transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);  
            }

        .input-search:focus {
            width: 22vw;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid black;
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }

        .boxtext {
           /*  background-color: #008CA1; */
      
            margin: 0 0.05em;
            text-align: center;
            width: 10vw;
            height: 50px;
            font-size: 14px;
            font-family: Inter;
            font-weight: 800;
            word-wrap: break-word;
            display: flex;
            align-items: center; 
            justify-content: center
        }
       
    </style>
   

    <style>

        html {
            font-size: 62.5%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        ul, li {
            list-style: none;
        }

        input {
            border: none;
        }

        body {
            width: 144rem;
        }

        .accountinformation-ppm {
            width: 100%;
            overflow: hidden;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #f8f8f8;
        }

            .accountinformation-ppm .header-LHK {
                margin-bottom: 3.2rem;
                width: 100%;
                height: 5rem;
                display: flex;
                align-items: center;
                background-color: #fffdab;
                flex-shrink: 0;
            }

                .accountinformation-ppm .header-LHK .image-3-SbF {
                    margin-right: 1rem;
                    width: 7.5rem;
                    height: 5rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .accountinformation-ppm .header-LHK .auto-group-e5tb-mdX {
                    margin-right: 17.7rem;
                    width: 30rem;
                    height: 3rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .accountinformation-ppm .header-LHK .auto-group-pcyd-ti9 {
                    width: 11.4rem;
                    height: 100%;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 800;
                    line-height: 1.2125;
                    color: #008ca1;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fffdab;
                    flex-shrink: 0;
                }

                .accountinformation-ppm .header-LHK .auto-group-h9cz-YXo {
                    width: 11.4rem;
                    height: 100%;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 800;
                    line-height: 1.2125;
                    color: #008ca1;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fffdab;
                    flex-shrink: 0;
                }

                .accountinformation-ppm .header-LHK .auto-group-thzf-dJM {
                    margin-right: 2.8rem;
                    width: 12.7rem;
                    height: 100%;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 800;
                    line-height: 1.2125;
                    color: #008ca1;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fffdab;
                    flex-shrink: 0;
                }

                .accountinformation-ppm .header-LHK .category-iqb {
                    margin: 0.1rem 15rem 0rem 0rem;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 800;
                    line-height: 1.2125;
                    color: #008ca1;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .accountinformation-ppm .header-LHK .ellipse-9-eMs {
                    width: 5rem;
                    height: 5rem;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('../assets/ellipse-9-bg-uqw.png');
                    border-radius: 2.5rem;
                    flex-shrink: 0;
                }

                .accountinformation-ppm .header-LHK .auto-group-zxcr-N2y {
                    box-sizing: border-box;
                    padding: 0.8rem 2.9rem 1.1rem 1.3rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                }

                    .accountinformation-ppm .header-LHK .auto-group-zxcr-N2y .auto-group-x2n9-gpM {
                        margin-right: 7.2rem;
                        width: 5.6rem;
                        height: 100%;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .header-LHK .auto-group-zxcr-N2y .auto-group-x2n9-gpM .windino-dUh {
                            margin-bottom: 0.4rem;
                            font-size: 1.4rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                        }

                        .accountinformation-ppm .header-LHK .auto-group-zxcr-N2y .auto-group-x2n9-gpM .freemium-kpD {
                            width: 100%;
                            text-align: center;
                            font-size: 0.8rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #f08e17;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                        }

                    .accountinformation-ppm .header-LHK .auto-group-zxcr-N2y .auto-group-7ki9-HZF {
                        margin-top: 0.3rem;
                        width: 6rem;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .header-LHK .auto-group-zxcr-N2y .auto-group-7ki9-HZF .auto-group-bglu-RfT {
                            margin-bottom: 0.4rem;
                            width: 100%;
                            height: 1.2rem;
                            text-align: center;
                            font-size: 0.6rem;
                            font-weight: 700;
                            line-height: 1.2125;
                            color: #ffffff;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #f6bc63;
                            border-radius: 5rem;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .header-LHK .auto-group-zxcr-N2y .auto-group-7ki9-HZF .auto-group-j3bt-JDT {
                            width: 100%;
                            height: 1.2rem;
                            text-align: center;
                            font-size: 0.6rem;
                            font-weight: 700;
                            line-height: 1.2125;
                            color: #ffffff;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #9acfc3;
                            border-radius: 5rem;
                            flex-shrink: 0;
                        }

            .accountinformation-ppm .auto-group-nkgm-aAy {
                margin: 0rem 8.9rem 24.7rem 7.5rem;
                width: calc(100% - 16.4rem);
                height: 71.8rem;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
            }

                .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX {
                    margin-right: 4.7rem;
                    box-sizing: border-box;
                    padding: 3.4rem 1.6rem 18.4rem 1.6rem;
                    width: 34.8rem;
                    row-gap: 2.5rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff;
                    border-radius: 2rem;
                    flex-shrink: 0;
                }

                    .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-kar3-yiu {
                        box-sizing: border-box;
                        padding: 0.4rem 5.8rem 0.6rem 0.8rem;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        background-color: #fbd78f;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-kar3-yiu .image-5-WD3 {
                            margin-right: 1.6rem;
                            width: 6rem;
                            height: 6rem;
                            object-fit: cover;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-kar3-yiu .thng-tin-c-nhn-SMb {
                            margin-top: 0.3rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-uhvf-wZF {
                        box-sizing: border-box;
                        padding: 0.5rem 8.7rem 0.5rem 0.9rem;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-uhvf-wZF .person-5QZ {
                            margin-right: 1.5rem;
                            width: 6rem;
                            height: 6rem;
                            cursor: pointer;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-uhvf-wZF .bi-vit-ca-ti-QBw {
                            margin-top: 0.1rem;
                            cursor: pointer;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-bdpk-5J5 {
                        box-sizing: border-box;
                        padding: 0.5rem 9.1rem 0.5rem 0.9rem;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-bdpk-5J5 .commentbank-c37 {
                            margin-right: 1.5rem;
                            width: 6rem;
                            height: 6rem;
                            cursor: pointer;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-bdpk-5J5 .bi-vit-lu-vZb {
                            margin-top: 0.1rem;
                            cursor: pointer;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-hznm-1b3 {
                        box-sizing: border-box;
                        padding: 0.5rem 12.2rem 0.5rem 0.9rem;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 2rem;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-hznm-1b3 .monetizationon-9BT {
                            margin-right: 1.5rem;
                            width: 6rem;
                            height: 6rem;
                            cursor: pointer;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .auto-group-nkgm-aAy .account-information-5dX .auto-group-hznm-1b3 .lch-s-giao-dch-H2m {
                            margin-top: 0.1rem;
                            cursor: pointer;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky {
                    width: 88.1rem;
                    height: 100%;
                    position: relative;
                    background: linear-gradient(236.41deg, #f8f1ec 0%, #93eeea 100%);
                    border-radius: 2rem;
                    flex-shrink: 0;
                }

                    .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH {
                        width: 29rem;
                        height: 11.6rem;
                        position: absolute;
                        left: 4.2rem;
                        top: 2.6rem;
                        display: flex;
                        align-items: center;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-ahft-cz9 {
                            width: 11.5rem;
                            height: 100%;
                            position: relative;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-ahft-cz9 .rectangle-53-mMF {
                                width: 10.8rem;
                                height: 10.8rem;
                                position: absolute;
                                left: 0;
                                top: 0;
                                object-fit: cover;
                                vertical-align: top;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-ahft-cz9 .edit-button-i1b {
                                width: 2.5rem;
                                height: 2.5rem;
                                position: absolute;
                                left: 9rem;
                                top: 9.1rem;
                                object-fit: contain;
                                vertical-align: top;
                            }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF {
                            box-sizing: border-box;
                            padding-left: 2.9rem;
                            height: 100%;
                            display: flex;
                            align-items: flex-start;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .auto-group-mrym-aZb {
                                margin-right: 0.9rem;
                                width: 11.2rem;
                                flex-shrink: 0;
                            }

                                .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .auto-group-mrym-aZb .windino-urm {
                                    margin-bottom: 0.7rem;
                                    width: 100%;
                                    text-align: center;
                                    font-size: 2.8rem;
                                    font-weight: 600;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                }

                                .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .auto-group-mrym-aZb .freemium-2wP {
                                    width: 100%;
                                    text-align: center;
                                    font-size: 1.7rem;
                                    font-weight: 500;
                                    line-height: 1.2125;
                                    color: #2d75cb;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .edit-button-mPB {
                                margin-top: 0.8rem;
                                width: 2.5rem;
                                height: 2.5rem;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                    .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih {
                        width: 79.5rem;
                        height: 4.3rem;
                        position: absolute;
                        left: 4.2rem;
                        top: 27.6rem;
                        display: flex;
                        align-items: center;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-3g8d-dRP {
                            margin-right: 8.9rem;
                            box-sizing: border-box;
                            padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #ffffff;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-3g8d-dRP .trn-xun-phong-8sw {
                                margin-right: 17.8rem;
                                font-size: 1.5rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #908d8d;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-3g8d-dRP .edit-button-3k1 {
                                width: 2.5rem;
                                height: 2.5rem;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-xbky-mR7 {
                            box-sizing: border-box;
                            padding: 0.8rem 1.7rem 1rem 1rem;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #ffffff;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-xbky-mR7 .item-2002-6CV {
                                margin: 0.2rem 26.3rem 0rem 0rem;
                                font-size: 1.5rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #908d8d;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-xbky-mR7 .edit-button-QU5 {
                                width: 2.5rem;
                                height: 2.5rem;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                    .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT {
                        width: 79.5rem;
                        height: 4.3rem;
                        position: absolute;
                        left: 4.2rem;
                        top: 62rem;
                        display: flex;
                        align-items: center;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-24vk-3mw {
                            margin-right: 8.9rem;
                            box-sizing: border-box;
                            padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #ffffff;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-24vk-3mw .item-0393644813-NJR {
                                margin-right: 20.8rem;
                                font-size: 1.5rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #908d8d;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-24vk-3mw .edit-button-5yX {
                                width: 2.5rem;
                                height: 2.5rem;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-eoho-bws {
                            box-sizing: border-box;
                            padding: 1.1rem 1.1rem 0.8rem 1rem;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #ffffff;
                            border-radius: 1rem;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-eoho-bws .sinh-vin-uSm {
                                margin: 0rem 24.2rem 0.3rem 0rem;
                                font-size: 1.5rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #908d8d;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-eoho-bws .keyboardarrowdown-QuK {
                                width: 2.4rem;
                                height: 2.4rem;
                                position: relative;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                    .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK {
                        width: 79.5rem;
                        height: 7.1rem;
                        position: absolute;
                        left: 4.2rem;
                        top: 42rem;
                        display: flex;
                        align-items: flex-end;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj {
                            margin-right: 8.9rem;
                            width: 35.3rem;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .email-CaH {
                                margin-bottom: 1rem;
                                font-size: 1.3rem;
                                font-weight: 700;
                                line-height: 1.2125;
                                color: #070ea8;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .auto-group-qs1x-8iq {
                                box-sizing: border-box;
                                padding: 1rem 1.1rem 0.8rem 1.5rem;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                background-color: #ffffff;
                                border-radius: 1rem;
                            }

                                .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .auto-group-qs1x-8iq .windtran02gmailcom-dfb {
                                    margin-right: 13.1rem;
                                    font-size: 1.5rem;
                                    font-weight: 500;
                                    line-height: 1.2125;
                                    color: #908d8d;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                                .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .auto-group-qs1x-8iq .edit-button-Y1s {
                                    width: 2.5rem;
                                    height: 2.5rem;
                                    object-fit: contain;
                                    vertical-align: top;
                                    flex-shrink: 0;
                                }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b {
                            width: 35.3rem;
                            height: 100%;
                            position: relative;
                            flex-shrink: 0;
                        }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .rectangle-58-MV7 {
                                width: 35.3rem;
                                height: 4.3rem;
                                position: absolute;
                                left: 0;
                                top: 2.8rem;
                                background-color: #ffffff;
                                border-radius: 1rem;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .item--5vu {
                                width: 21rem;
                                height: 7rem;
                                position: absolute;
                                left: 1.2rem;
                                top: 0;
                                font-size: 5.7rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #000000;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .edit-button-asf {
                                width: 2.5rem;
                                height: 2.5rem;
                                position: absolute;
                                left: 31.1rem;
                                top: 3.7rem;
                                object-fit: contain;
                                vertical-align: top;
                            }

                            .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .mt-khu-X2D {
                                width: 6.2rem;
                                height: 1.6rem;
                                position: absolute;
                                left: 0;
                                top: 0.2rem;
                                font-size: 1.3rem;
                                font-weight: 700;
                                line-height: 1.2125;
                                color: #070ea8;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                    .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-tez1-Qrh {
                        width: 50.45rem;
                        height: 1.6rem;
                        position: absolute;
                        left: 4.15rem;
                        top: 24.6rem;
                        display: flex;
                        align-items: center;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-tez1-Qrh .h-v-tn-wLq {
                            margin-right: 38.15rem;
                            text-align: center;
                            font-size: 1.3rem;
                            font-weight: 700;
                            line-height: 1.2125;
                            color: #070ea8;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-tez1-Qrh .nm-sinh-dzM {
                            font-size: 1.3rem;
                            font-weight: 700;
                            line-height: 1.2125;
                            color: #070ea8;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-mrx9-yHX {
                        width: 52.7rem;
                        height: 1.6rem;
                        position: absolute;
                        left: 4.2rem;
                        top: 59.4rem;
                        display: flex;
                        align-items: center;
                    }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-mrx9-yHX .s-in-thoi-6d3 {
                            margin-right: 35.5rem;
                            font-size: 1.3rem;
                            font-weight: 700;
                            line-height: 1.2125;
                            color: #070ea8;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-mrx9-yHX .ngh-nghip-dN5 {
                            font-size: 1.3rem;
                            font-weight: 700;
                            line-height: 1.2125;
                            color: #070ea8;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

            .accountinformation-ppm .footer-KVo {
                width: 100%;
                height: 39.6rem;
                position: relative;
                background-color: #fffdab;
                flex-shrink: 0;
            }

                .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV {
                    width: 117.1rem;
                    height: 6.4rem;
                    position: absolute;
                    left: 8rem;
                    top: 4rem;
                    display: flex;
                    align-items: flex-start;
                }

                    .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .locationon-yKT {
                        margin-right: 0.5rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-4qlm-uiu {
                        margin: 0.4rem 10.9rem 0rem 0rem;
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-4qlm-uiu .a-ch-dQ1 {
                            margin-bottom: 0.9rem;
                            font-size: 1.4rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #2364aa;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-4qlm-uiu .l-e2a-7-ng-d1-d1-long-thnh-m-thnh-ph-th-c-thnh-ph-h-ch-minh-vit-nam-Y1B {
                            max-width: 36.6rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #2364aa;
                            font-family: Inter, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                    .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-jjp3-aCm {
                        margin-right: 12.3rem;
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-jjp3-aCm .v-chng-ti-v1j {
                            margin-bottom: 1.9rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #2364aa;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-jjp3-aCm .chnh-sch-bo-mt-dgq {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #2364aa;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-7tzw-Mcq {
                        margin-right: 12.2rem;
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                    }

                        .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-7tzw-Mcq .ng-k-cng-tc-vin-JHB {
                            margin-bottom: 1.9rem;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #2364aa;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-7tzw-Mcq .cu-hi-thng-gp-2DB {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.2125;
                            color: #2364aa;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-vbkq-YxD {
                        margin-right: 1rem;
                        width: 4rem;
                        height: 4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-fjgz-Heu {
                        margin-right: 1rem;
                        width: 4rem;
                        height: 4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-iznq-4CV .auto-group-rsdf-26h {
                        width: 4rem;
                        height: 4rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                .accountinformation-ppm .footer-KVo .auto-group-w6fx-ZsK {
                    width: 35.4rem;
                    height: 1.7rem;
                    position: absolute;
                    left: 58.4rem;
                    top: 11.2rem;
                    display: flex;
                    align-items: center;
                }

                    .accountinformation-ppm .footer-KVo .auto-group-w6fx-ZsK .iu-khon-s-dng-6cM {
                        margin-right: 12.1rem;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #2364aa;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-w6fx-ZsK .ti-app-mobile-cah {
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #2364aa;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                .accountinformation-ppm .footer-KVo .auto-group-brho-9ad {
                    width: 7.8rem;
                    height: 2.4rem;
                    position: absolute;
                    left: 8rem;
                    top: 13rem;
                    display: flex;
                    align-items: center;
                }

                    .accountinformation-ppm .footer-KVo .auto-group-brho-9ad .call-TLR {
                        margin-right: 0.5rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-brho-9ad .hotline-Pzm {
                        margin-top: 0.1rem;
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #2364aa;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                .accountinformation-ppm .footer-KVo .item-1900-0007-Xr5 {
                    width: 7.1rem;
                    height: 1.7rem;
                    position: absolute;
                    left: 10.9rem;
                    top: 15.6rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                }

                .accountinformation-ppm .footer-KVo .auto-group-hmhf-RgZ {
                    width: 6.6rem;
                    height: 2.4rem;
                    position: absolute;
                    left: 8rem;
                    top: 19.4rem;
                    display: flex;
                    align-items: center;
                }

                    .accountinformation-ppm .footer-KVo .auto-group-hmhf-RgZ .mail-mEd {
                        margin-right: 0.5rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-hmhf-RgZ .email-ubj {
                        margin-top: 0.1rem;
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1.2125;
                        color: #2364aa;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                .accountinformation-ppm .footer-KVo .auto-group-65t9-3hw {
                    width: 91.8rem;
                    height: 3.8rem;
                    position: absolute;
                    left: 10.9rem;
                    top: 22rem;
                    display: flex;
                    align-items: flex-end;
                }

                    .accountinformation-ppm .footer-KVo .auto-group-65t9-3hw .zalphasupportgmailcom-AnZ {
                        margin: 0rem 61.2rem 2.1rem 0rem;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #2364aa;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-65t9-3hw .ri-facebook-fill-V49 {
                        margin-right: 2rem;
                        width: 3rem;
                        height: 3rem;
                        overflow: hidden;
                        position: relative;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-65t9-3hw .teenyicons-instagram-solid-RCh {
                        margin-right: 2rem;
                        width: 3rem;
                        height: 3rem;
                        overflow: hidden;
                        position: relative;
                        flex-shrink: 0;
                    }

                    .accountinformation-ppm .footer-KVo .auto-group-65t9-3hw .simple-icons-x-Yo7 {
                        width: 3rem;
                        height: 3rem;
                        overflow: hidden;
                        position: relative;
                        flex-shrink: 0;
                    }

                .accountinformation-ppm .footer-KVo .copyright-2023-all-rights-reserved-JGV {
                    width: 25.2rem;
                    height: 1.7rem;
                    position: absolute;
                    left: 59.4rem;
                    top: 35.9rem;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                }

    </style>

</head>
<body>
    <header class="header">
        <div class="">
            <div class="HeaderRow" style="height:60px; position: relative">
                <div class="" style="width: 100%; height: 60px; left: 0px; top: 0px; padding:5px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; position: absolute; background: #FFFDAB"></div>

                <div class="" >
                    <div class="row" style="height:60px;">
                        <div class="col-1" style=" height:60px; display: flex; align-items:center; justify-content:center;">
                            <img class="ImageLogo" style="" src="https://sohanews.sohacdn.com/thumb_w/660/160588918557773824/2023/4/13/edit-nhung-hanh-dong-la-lung-ma-loai-cho-thuong-lam-16813809545881762859708.png" />
                        </div>

                        <div class="col-3" style="height:60px;">
                            <div class="search-box">
                                <button class="btn-search"><i class="fas fa-search"></i></button>
                                <input type="text" class="input-search" placeholder="Type to Search...">
                            </div>

                        </div>
                        <div class="col-4">
                            <div style="position: absolute;">
                                @* Back ground sau cái chữ*@
                                @*  <div class="Background1" style="width: 114px; height: 50px; left: 562px; top: 0px; position: absolute; background: #FFADAB"></div>
                                <div class="Background2" style="width: 127px; height: 50px; left: 790px; top: 0px; position: absolute; background: #FFFDAB"></div>
                                <div class="Background3" style="width: 114px; height: 50px; left: 676px; top: 0px; position: absolute; background: #FFADAB"></div> *@
                                <div class="row" style=" display: flex;justify-content: space-around; align-items: center;">
                                    <div class="boxtext col-3" >Newfeed</div>
                                    <div class="boxtext col-3" >Category</div>
                                    <div class="boxtext col-3" >Recommend</div>
                                    <div class="boxtext col-3" >Newpost</div>
                                </div>
                            </div>
                          
                         </div>
                       
                         <div class="col-4">
                             dksahldahsld

                         </div>
                    </div>
                </div>


            </div>
        </div>
       
       
    </header>
    <div class="container">
        
            @RenderBody()

    </div>

    <footer>
        <div class="FooterRow" style=" height: 396px; position: relative">
            <div class="Rectangle88" style="width: 100%; height: 396px; left: 0px; top: 0px; position: absolute; background: #FFFDAB"></div>
            <div class="CUHIThNgGP" style="left: 840px; top: 76px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Câu hỏi thường gặp</div>
            <div class="IUKhoNSDNg" style="left: 584px; top: 112px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Điều khoản sử dụng</div>
            <div class="ACh" style="left: 109px; top: 44px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Địa chỉ</div>
            <div class="LE2a7NgD1D1LongThNhMThNhPhThCThNhPhHChMinhViTNam" style="width: 399px; left: 109px; top: 70px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lô E2a-7, Đường D1, Đ. D1, Long Thạnh Mỹ,<br />Thành Phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</div>
            <div class="Hotline" style="left: 109px; top: 134px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Hotline</div>
            <div class="0007" style="left: 109px; top: 156px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">1900 0007</div>
            <div class="Email" style="left: 109px; top: 198px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Email</div>
            <div class="ZalphasupportGmailCom" style="left: 109px; top: 220px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">zalphasupport@gmail.com</div>
            <div class="Mail" style="width: 24px; height: 24px; left: 80px; top: 194px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="Mail" style="width: 20px; height: 16px; left: 2px; top: 4px; position: absolute; background: #2364AA"></div>
            </div>
            <div class="VChNgTI" style="left: 584px; top: 40px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Về chúng tôi</div>
            <div class="ChNhSChBOMT" style="left: 584px; top: 76px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Chính sách bảo mật</div>
            <div class="NgKCNgTCViN" style="left: 840px; top: 40px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Đăng ký cộng tác viên</div>
            <div class="TIAppMobile" style="left: 840px; top: 112px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Tải app mobile</div>
            <div class="Rectangle91" style="width: 40px; height: 40px; left: 1111px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="Rectangle93" style="width: 40px; height: 40px; left: 1211px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="Rectangle92" style="width: 40px; height: 40px; left: 1161px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="RiFacebookFill" style="width: 30px; height: 30px; left: 897px; top: 228px; position: absolute"></div>
            <div class="Vector" style="width: 13.12px; height: 25px; left: 1124.25px; top: 47.25px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 10px; height: 10px; left: 1176px; top: 55px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 30px; height: 30px; left: 1166px; top: 45px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 30px; height: 27.12px; left: 1216px; top: 46.44px; position: absolute; background: white"></div>
            <div class="TeenyiconsInstagramSolid" style="width: 30px; height: 30px; left: 947px; top: 228px; position: absolute"></div>
            <div class="SimpleIconsX" style="width: 30px; height: 30px; left: 997px; top: 228px; position: absolute"></div>
            <div class="Copyright2023AllRightsReserved" style="left: 594px; top: 359px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Copyright ©2023 All Rights Reserved</div>
            <div class="LocationOn" style="width: 24px; height: 24px; left: 80px; top: 40px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="LocationOn" style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; background: #2364AA"></div>
            </div>
            <div class="Call" style="width: 24px; height: 24px; left: 80px; top: 130px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="Call" style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute; background: #2364AA"></div>
            </div>
        </div>
    </footer>

</body>
</html>