@using Microsoft.AspNetCore.Identity;
@using ZAlpha.Domain.Identity;

@inject SignInManager<UserAccount> _signInManager;
@inject UserManager<UserAccount> _userManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/assets/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/assets/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/layout.css" />
    <link rel="stylesheet" href="~/assets/css/layout-responsive.css" />

    <!-- Thêm các tệp tin CSS của Toastr từ CDN -->
    <link href="cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <!-- Thêm các tệp tin JS của Toastr từ CDN -->
    <script src="cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</head>
<body>
    <header class="header-mobile">
        <div class="HeaderRow">
            <div class="row" style="height:60px; margin:0px;">
                <div class="col-1"></div>
                <div class="col-1" style="height:60px; display: flex; align-items:center; justify-content:center;">
                    <div class="logo"></div>
                </div>
                <div class="col-8"></div>
                <div class="col-1">
                    <label class="popup">
                        <input type="checkbox" />
                        <div class="burger" tabindex="0">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <nav class="popup-window">
                            <legend>Actions</legend>
                            <ul>
                                <li>
                                    <button>
                                        <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle r="4" cy="7" cx="9"></circle>
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        </svg>
                                        <span>Colloborators</span>
                                    </button>
                                </li>
                                <li>
                                    <button>
                                        <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                                        </svg>
                                        <span>Magic Link</span>
                                    </button>
                                </li>
                                <hr>
                                <li>
                                    <button>
                                        <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                            <rect ry="2" rx="2" height="13" width="13" y="9" x="9"></rect>
                                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                                        </svg>
                                        <span>Clone</span>
                                    </button>
                                </li>
                                <li>
                                    <button>
                                        <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                            <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                                        </svg>
                                        <span>Edit</span>
                                    </button>
                                </li>
                                <hr>
                                <li>
                                    <button>
                                        <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                            <line y2="18" x2="6" y1="6" x1="18"></line>
                                            <line y2="18" x2="18" y1="6" x1="6"></line>
                                        </svg>
                                        <span>Delete</span>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </label>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </header>
    <div id="mobileMenu" class="mobile-menu-hidden">
        <!-- Đặt các chức năng ở đây -->
        <ul>
            <li><a href="#">Chức năng 1</a></li>
            <li><a href="#">Chức năng 2</a></li>
            <!-- Thêm các chức năng khác nếu cần -->
        </ul>
    </div>
    <style>
        .mobile-menu-hidden {
            display: none;
            position: fixed;
            top: 0;
            right: -100%;
            width: 80%; /* Điều chỉnh độ rộng của menu tùy ý */
            height: 100%;
            background-color: white; /* Điều chỉnh màu nền tùy ý */
            transition: right 0.3s ease-in-out;
        }

        .mobile-menu-show {
            right: 0;
        }
    </style>
    <header class="header">
        <div class="HeaderRow">
            <div class="row" style="height:60px; margin:0px;">
                <div class="col-1" style=" height:60px; display: flex; align-items:center; justify-content:center;">
                    <div class="logo"></div>
                </div>
                <div class="col-3" style="height:60px;">
                    <form action="~/Home/Search" method="post" enctype="multipart/form-data">
                        <div class="group-search">
                            <svg class="icon-search" aria-hidden="true" viewBox="0 0 24 24">
                                <g>
                                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                </g>
                            </svg>
                            <input placeholder="Tìm kiếm bài viết" name="keySearch" type="search" class="input-search">
                        </div>
                    </form>
                </div>
                <div class="col-4 route-header">
                    <div class="row">
                        <div class="boxtext col-3"><a href="~/Home" style="text-decoration:none">Newfeed</a></div>
                        <div class="boxtext col-3"><a>Category</a></div>
                        <div class="boxtext col-3"><a href="~/Recommend/" style="text-decoration:none">Recommend</a></div>
                        <div class="boxtext col-3"><a href="~/Route/NewPost" style="text-decoration:none">Newpost</a></div>
                    </div>
                </div>
                <div class="col-1">
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-3">
                        <div class="row">
                            <div class="col-5">
                                <div class="row" style=" position: relative;">
                                    @{
                                        var user = await _signInManager.UserManager.FindByNameAsync(User.Identity.Name);
                                    }
                                    <a href="~/Route/Info">
                                        @if (user.AvatarUrl != null)
                                        {
                                            <img class="EllipseImg" src="@user.AvatarUrl" />
                                        }
                                        else
                                        {
                                            <img class="EllipseImg" src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/avatar-trang-4.jpg" />
                                        }
                                    </a>
                                    <a class="user-name" href="~/Route/Info"> @user.FirstName @user.LastName </a>
                                    @if (user.IsPremium == ZAlpha.Domain.Enums.PremiumStatus.Active)
                                    {
                                        <div class="user-freemium">Premium</div>
                                    }
                                    else
                                    {
                                        <div class="user-premium">Freemium</div>
                                    }
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="row" style=" position: relative;">
                                    <div style=" position: absolute;">
                                        <button class="buttonHeader" style="width:7vw; height: 20px; margin-top:4.5px; display: block; font-size: 10px;"> Membership</button>
                                        <form method="get" action="~/logout">
                                            <button class="buttonHeader" style="width:7vw; height: 20px; margin-top:6px; display: block; font-size: 10px; background-color: #9ACFC3;"> Sign Out</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                }
                else
                {
                    <div class="col-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="row" style=" position: relative;">
                                    <div style=" position: absolute;">
                                        <form action="~/Login" method="get">
                                            <button class="buttonHeader"> Sign In</button>
                                        </form>
                                        <form method="get" action="~/Register">
                                            <button class="buttonHeader" style="background-color: #9ACFC3;">Sign up</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="FooterRow" style="height:280px; position: relative">
            <div style="width: 100%; height: 280px; left: 0px; top: 0px; position: absolute; background: #FFFDAB"></div>
            <div class="row">
                <div class="col-4" style="padding:3vw 5vw;">

                    <div style=" position: absolute; display:block; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Địa chỉ</div>
                    <br />
                    <div style=" position: absolute; display:block; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lô E2a-7, Đường D1, Đ. D1, Long Thạnh Mỹ,<br />Thành Phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</div>
                    <br />
                    <br />
                    <div style=" position: absolute; display:block; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Hotline</div>
                    <br />
                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">1900 0007</div>
                    <br />
                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Email</div>
                    <br />
                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">zalphasupport@gmail.com</div>

                </div>
                <div class="col-2" style="padding:3vw 5vw;">
                    <div style="position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Về chúng tôi</div>
                    <br />
                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Chính sách bảo mật</div>
                    <br />
                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Điều khoản sử dụng</div>
                </div>
                <div class="col-2" style="padding:3vw 5vw;">

                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Đăng ký cộng tác viên</div>
                    <br />
                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Câu hỏi thường gặp</div>
                    <br />
                    <div style=" position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Tải app mobile</div>
                    <br />

                </div>
                <div class="col-4" style="padding:3vw 5vw;">
                    <div style=" position: absolute;">
                        <i class="fa-brands fa-square-facebook fa-2xl" style="color:#DEA941; margin:0.3vw;"></i>

                        <i class="fa-brands fa-square-instagram fa-2xl" style="color:#DEA941; margin:0.3vw;"></i>

                        <i class="fa-brands fa-square-x-twitter fa-2xl" style="color:#DEA941; margin:0.3vw;"></i>
                    </div>
                </div>

            </div>


        </div>
    </footer>

    @await Component.InvokeAsync("NToastNotify");
</body>
</html>