<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
   <style>
        body {
            margin: 0;
            font-family: 'Inter', sans-serif;
        }

        .HeaderRow, .FooterRow {
            width: 100%;
            margin: 0 auto;
            
        }

        .container {
            margin: 0 auto;
        }


       
    </style>
   

</head>
<body>
    <header class="">
        <div class="row">
            <div class="HeaderRow" style="height: 50px; position: relative">
                <div class="Rectangle17" style="width: 100%; height: 50px; left: 0px; top: 0px; position: absolute; background: #FFFDAB"></div>


                <div class="col-md-2">
                    <img class="Image3" style="width: 75px; height: 50px; left: 0px; top: 0px; position: absolute;" src="../Img/logo.jpg" />
                </div>

                <div class="">                    
                    <div class="Rectangle18" style="width: 300px; height: 30px; left: 85px; top: 10px; position: absolute; background: white; border-radius: 30px"></div>
                    <div class="Ellipse2" style="width: 25px; height: 25px; left: 356px; top: 13px; position: absolute; background: #EFD037; border-radius: 9999px"></div>
                    <div class="Group" style="width: 20px; height: 20px; left: 359px; top: 15px; position: absolute">
                        <div class="Vector" style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
                        <div class="Vector" style="width: 15.92px; height: 15.92px; left: 1.67px; top: 1.67px; position: absolute; background: white"></div>
                    </div>
                </div>               

                <div class="col-md-4">
                    <div class="Rectangle27" style="width: 114px; height: 50px; left: 562px; top: 0px; position: absolute; background: #FFFDAB"></div>
                    <div class="Rectangle28" style="width: 127px; height: 50px; left: 790px; top: 0px; position: absolute; background: #FFFDAB"></div>
                    <div class="Rectangle29" style="width: 114px; height: 50px; left: 676px; top: 0px; position: absolute; background: #FFFDAB"></div>
                    <div class="Newfeed" style="left: 588px; top: 17px; position: absolute; text-align: center; color: #008CA1; font-size: 14px; font-family: Inter; font-weight: 800; word-wrap: break-word">Newfeed</div>
                    <div class="Category" style="left: 945px; top: 17px; position: absolute; text-align: center; color: #008CA1; font-size: 14px; font-family: Inter; font-weight: 800; word-wrap: break-word">Category</div>
                    <div class="Recommend" style="left: 813px; top: 17px; position: absolute; text-align: center; color: #008CA1; font-size: 14px; font-family: Inter; font-weight: 800; word-wrap: break-word">Recommend</div>
                    <div class="Newpost" style="left: 703px; top: 17px; position: absolute; text-align: center; color: #008CA1; font-size: 14px; font-family: Inter; font-weight: 800; word-wrap: break-word">Newpost</div>
                </div>

                <div>
                    <img class="Ellipse9" style="width: 50px; height: 50px; left: 1160px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/50x50" />
                    <div class="Freemium" style="left: 1223px; top: 29px; position: absolute; text-align: center; color: #F08E17; font-size: 8px; font-family: Inter; font-weight: 400; word-wrap: break-word">Freemium</div>
                    <div class="Windino" style="width: 94px; height: 17px; left: 1223px; top: 8px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Windino</div>
                </div>

                <div>
                    <div class="Membership" style="width: 77px; height: 8px; left: 1343px; top: 13px; position: absolute; text-align: center; color: white; font-size: 6px; font-family: Inter; font-weight: 700; word-wrap: break-word">Membership</div>
                    <div class="SignOut" style="width: 77px; height: 8px; left: 1343px; top: 29px; position: absolute; text-align: center; color: white; font-size: 6px; font-family: Inter; font-weight: 700; word-wrap: break-word">Sign Out</div>
                    <div class="Rectangle19" style="width: 60px; height: 12px; left: 1351px; top: 11px; position: absolute; background: #F6BC63; border-radius: 50px"></div>
                    <div class="Rectangle20" style="width: 60px; height: 12px; left: 1351px; top: 27px; position: absolute; background: #9ACFC3; border-radius: 50px"></div>
                </div>
            </div>
        </div>
       
       
    </header>
    <div class="container">
        
            @RenderBody()

    </div>

    <footer>
        <div class="FooterRow" style=" height: 396px; position: relative">
            <div class="Rectangle88" style="width: 100%; height: 396px; left: 0px; top: 0px; position: absolute; background: #FFFDAB"></div>
            <div class="CUHIThNgGP" style="left: 840px; top: 76px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Câu hỏi thường gặp</div>
            <div class="IUKhoNSDNg" style="left: 584px; top: 112px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Điều khoản sử dụng</div>
            <div class="ACh" style="left: 109px; top: 44px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Địa chỉ</div>
            <div class="LE2a7NgD1D1LongThNhMThNhPhThCThNhPhHChMinhViTNam" style="width: 399px; left: 109px; top: 70px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lô E2a-7, Đường D1, Đ. D1, Long Thạnh Mỹ,<br />Thành Phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</div>
            <div class="Hotline" style="left: 109px; top: 134px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Hotline</div>
            <div class="0007" style="left: 109px; top: 156px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">1900 0007</div>
            <div class="Email" style="left: 109px; top: 198px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Email</div>
            <div class="ZalphasupportGmailCom" style="left: 109px; top: 220px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">zalphasupport@gmail.com</div>
            <div class="Mail" style="width: 24px; height: 24px; left: 80px; top: 194px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="Mail" style="width: 20px; height: 16px; left: 2px; top: 4px; position: absolute; background: #2364AA"></div>
            </div>
            <div class="VChNgTI" style="left: 584px; top: 40px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Về chúng tôi</div>
            <div class="ChNhSChBOMT" style="left: 584px; top: 76px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Chính sách bảo mật</div>
            <div class="NgKCNgTCViN" style="left: 840px; top: 40px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Đăng ký cộng tác viên</div>
            <div class="TIAppMobile" style="left: 840px; top: 112px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Tải app mobile</div>
            <div class="Rectangle91" style="width: 40px; height: 40px; left: 1111px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="Rectangle93" style="width: 40px; height: 40px; left: 1211px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="Rectangle92" style="width: 40px; height: 40px; left: 1161px; top: 40px; position: absolute; background: #DEA941; border-radius: 10px"></div>
            <div class="RiFacebookFill" style="width: 30px; height: 30px; left: 897px; top: 228px; position: absolute"></div>
            <div class="Vector" style="width: 13.12px; height: 25px; left: 1124.25px; top: 47.25px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 10px; height: 10px; left: 1176px; top: 55px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 30px; height: 30px; left: 1166px; top: 45px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 30px; height: 27.12px; left: 1216px; top: 46.44px; position: absolute; background: white"></div>
            <div class="TeenyiconsInstagramSolid" style="width: 30px; height: 30px; left: 947px; top: 228px; position: absolute"></div>
            <div class="SimpleIconsX" style="width: 30px; height: 30px; left: 997px; top: 228px; position: absolute"></div>
            <div class="Copyright2023AllRightsReserved" style="left: 594px; top: 359px; position: absolute; color: #2364AA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Copyright ©2023 All Rights Reserved</div>
            <div class="LocationOn" style="width: 24px; height: 24px; left: 80px; top: 40px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="LocationOn" style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; background: #2364AA"></div>
            </div>
            <div class="Call" style="width: 24px; height: 24px; left: 80px; top: 130px; position: absolute">
                <div class="BoundingBox" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div class="Call" style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute; background: #2364AA"></div>
            </div>
        </div>
    </footer>



   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>