
.container-newfeed {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.box {
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1vw 2vw 1vw 2vw;
    margin: 0.5vh 0;
    flex-wrap: wrap;
}
.boxDetail {
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1vw 2vw 1vw 2vw;
    margin: 0.5vh 0;
    flex-wrap: wrap;
}
.boxComment {
    background-color: #f2fcfc;
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1vw 2vw 1vw 2vw;
    /*margin: 0 0 1vh 0;*/
    margin: 1vh;
    flex-wrap: wrap;
}
.DivComment {
    background-color: #defafa;
    border-radius: 9px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
    padding: 0.5vw 1vw 0.5vw 1vw;
    /*margin: 0 0 1vh 0;*/
    margin: 1vh;
    flex-wrap: wrap;
}
.br {
    margin: 2.2vh 0;
}
.TiltePost {
    margin: 6px 0 16px 0;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}
.hashtag p {
    color: blue;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;

    display: inline;
}
.PostText {
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
}
.PushTextBox {
    color: #2364AA;
    background-color: #ECD6B2;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
    width: 8vw;
    padding: 0.5vw;
    margin: 0.2vw;
    overflow: hidden;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

    .PushTextBox i,
    .PushTextBox p {
        display: inline; /* Set both <i> and <p> to inline */
        margin: 0; /* Remove default margin for both elements */
    }

.textbox {
    display: inline-block;
    background-color: #EFD037; /* Set the background color */
    border-radius: 10px;
    border: 1px solid #ccc; /* Add a 1px solid border with a light gray color */
    text-align: center; /* Center the text horizontally */
    padding: 0.2vw 0.5vw; /* Add padding for better visual appearance */
    margin: 0 0.2vw;
    overflow: hidden; /* Hide overflowing content */
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
/* CSS */
.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.5;
    outline: transparent;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 6vw;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

    .button-62:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #FF6C37, .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


/* CSS */
.button-2 {
    background: linear-gradient(to bottom right, #78c677, #79ee63);
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.5;
    outline: transparent;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 6vw;
    text-align: center;
    margin: auto;
}

    .button-2:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #78f5aa, .125rem .125rem 1rem rgba(121, 238, 99, 0.5);
    }

    .button-2:not([disabled]):hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(120, 245, 170, 0.5), .125rem .125rem 1rem rgba(121, 238, 99, 0.5);
    }

/* CSS */
.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #518dcf 0%,#2364AA 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-comment {
    text-align: right;
    margin: 1vw 0;
}


