.newPostBox {
    border-radius: 25px;
    background-color: white;
    padding: 1vh 2vw 1vh 2vw;
    margin: 2rem 15vw;
    flex-wrap: wrap;
}
textarea {   
    padding: 0.5rem;
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước của textarea */
    border: 1.5px solid #ccc; /* Viền đường kẻ */
    border-radius: 10px; /* Bo tròn góc */
    font-size: 16px; /* Kích thước chữ */
    line-height: 1.5; /* Độ dài dòng */
    resize: vertical; /* Cho phép chỉnh sửa kích thước theo chiều dọc */
    outline: none; /* Loại bỏ đường viền khi focus */
    transition: border-color 0.3s ease; /* Hiệu ứng chuyển đổi màu viền */
    border-color: #28c0f7;
}

    textarea:focus {
        border-color: #007bff; /* Màu viền khi textarea được focus */
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
    }

.comboBoxNewPost {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #28c0f7; /* Thay đổi màu viền */
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease; /* Hiệu ứng chuyển đổi màu viền */
}

    .comboBoxNewPost:hover {
        border-color: #007bff;
    }

    .comboBoxNewPost:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
    }



.new-post-container {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
}

.new-post-header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .new-post-header svg {
        height: 100px;
    }

    .new-post-header p {
        text-align: center;
        color: black;
    }

.new-post-footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

    .new-post-footer svg {
        height: 130%;
        fill: royalblue;
        background-color: rgba(70, 66, 66, 0.103);
        border-radius: 50%;
        padding: 2px;
        cursor: pointer;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
    }

    .new-post-footer p {
        flex: 1;
        text-align: center;
    }

#new-post-file {
    display: none;
}

.buttonDangPost {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 8px;
    height: 3rem;
    width: 10rem;
    border: none;
    background: #28c0f7;
    border-radius: 15px;
    cursor: pointer;
}

.lable {
    line-height: 22px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.buttonDangPost:hover {
    background: #007bff;    
}
.buttonDangPost:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}
 