html {
    font-size: 100%;
}

ul, li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: auto;
}

.auto-group-qyhb-1t9 {
    margin: 3rem 8.6rem 13.9rem 0rem;
    width: calc(100% - 12.4rem);
    height: 71.8rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

    .auto-group-qyhb-1t9 .account-information-7gH {
        margin: 0.5rem 8.7rem 0rem 0rem;
        box-sizing: border-box;
        padding: 3.4rem 1.6rem 18.4rem 1.6rem;
        width: 34.8rem;
        row-gap: 2.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
    }

        .auto-group-qyhb-1t9 .account-information-7gH .auto-group-bzos-zVB {
            box-sizing: border-box;
            padding: 0.4rem 5.8rem 0.6rem 0.8rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #fbd78f;
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-bzos-zVB .image-5-us3 {
                margin-right: 1.6rem;
                width: 6rem;
                height: 6rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
            }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-bzos-zVB .thng-tin-c-nhn-E8d {
                margin-top: 0.3rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .auto-group-qyhb-1t9 .account-information-7gH .auto-group-h5nd-uEm {
            box-sizing: border-box;
            padding: 0.5rem 12.6rem 0.5rem 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #F2F3F8;
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-h5nd-uEm .person-EH3 {
                margin-right: 1.5rem;
                width: 6rem;
                height: 6rem;
                cursor: pointer;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-h5nd-uEm .bi-vit-ca-ti-kWH {
                margin-top: 0.1rem;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .auto-group-qyhb-1t9 .account-information-7gH .auto-group-gdnd-2yb {
            box-sizing: border-box;
            padding: 0.5rem 7.4rem 0.1rem 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #F2F3F8;
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-gdnd-2yb .auto-group-8zbb-A4D {
                margin-right: 1.4rem;
                width: 6.1rem;
                height: 6.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-gdnd-2yb .bi-vit-lu-tku {
                margin-bottom: 0.3rem;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .auto-group-qyhb-1t9 .account-information-7gH .auto-group-g6sr-NAH {
            box-sizing: border-box;
            padding: 0.1rem 8.8rem 0.1rem 0.9rem;
            width: 100%;
            height: 7rem;
            display: flex;
            align-items: center;
            background-color: #F2F3F8;
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-g6sr-NAH .auto-group-n2l5-r5T {
                margin: 0rem 1.4rem 0.4rem 0rem;
                width: 6.1rem;
                height: 6.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .auto-group-qyhb-1t9 .account-information-7gH .auto-group-g6sr-NAH .lch-s-giao-dch-jQ9 {
                margin-top: 0.1rem;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

    .auto-group-qyhb-1t9 .auto-group-uomx-y3b {
        width: 88.1rem;
        height: 100%;
        position: relative;
        background: linear-gradient(236.41deg, #f8f1ec 0%, #93eeea 100%);
        border-radius: 2rem;
        flex-shrink: 0;
    }

        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu {
            width: 79.5rem;
            height: 21rem;
            position: absolute;
            left: 3.3rem;
            top: 3.9rem;
            display: flex;
            align-items: flex-end;
        }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-7rgr-zDb {
                margin-right: 4.3rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
            }

                .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-7rgr-zDb .rectangle-60-jBB {
                    margin: 0rem 0rem 0.9rem 0.6rem;
                    width: 15rem;
                    height: 15rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-7rgr-zDb .psy-trn-pht-RJu {
                    margin: 0rem 0rem 0.6rem 0.8rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-7rgr-zDb .auto-group-oma5-KfB {
                    width: 12rem;
                    height: 2.3rem;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-7rgr-zDb .auto-group-oma5-KfB .item-43-fDF {
                        width: 2.5rem;
                        height: 1.4rem;
                        position: absolute;
                        left: 9.5rem;
                        top: 0.7rem;
                        font-size: 1.1rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-7rgr-zDb .auto-group-oma5-KfB .image-7-9PK {
                        width: 10rem;
                        height: 2.3rem;
                        position: absolute;
                        left: 0;
                        top: 0;
                        object-fit: cover;
                        vertical-align: top;
                    }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo {
                width: 59.6rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
            }

                .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    flex-shrink: 0;
                }

                    .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR {
                        margin-right: 9.4rem;
                        max-width: 33.7rem;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        flex-shrink: 0;
                    }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-0 {
                            font-size: 1.6rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-1 {
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-2 {
                            font-size: 1.6rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-3 {
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-4 {
                            font-size: 1.6rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR .lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-5 {
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                    .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .auto-group-rypf-9bb {
                        width: 16.5rem;
                        height: 2.4rem;
                        position: relative;
                        flex-shrink: 0;
                    }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .auto-group-rypf-9bb .nhn-xem-cc-th-HSu {
                            width: 14.7rem;
                            height: 1.7rem;
                            position: absolute;
                            left: 0;
                            top: 0.3rem;
                            font-size: 1.4rem;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #063c8d;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                        }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-9c4u-oyf .auto-group-rypf-9bb .arrowdropdown-MxZ {
                            width: 2.4rem;
                            height: 2.4rem;
                            position: absolute;
                            left: 14.1rem;
                            top: 0;
                            object-fit: contain;
                            vertical-align: top;
                        }

                .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-frv9-H5X {
                    box-sizing: border-box;
                    padding-top: 1.7rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                }

                    .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-frv9-H5X .line-1-cdb {
                        margin-bottom: 1.7rem;
                        width: 24.2074rem;
                        height: 0.2rem;
                        background-color: #063c8e;
                        flex-shrink: 0;
                    }

                    .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-frv9-H5X .cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs {
                        margin-left: 0.3rem;
                        max-width: 45rem;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        flex-shrink: 0;
                    }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-frv9-H5X .cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs .cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs-sub-0 {
                            font-size: 1.6rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                        }

                        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-5xnq-gCu .auto-group-6shx-Tuo .auto-group-frv9-H5X .cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs .cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs-sub-1 {
                        }

        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .hong-diu-tp-th-c-tp-h-ch-minh-YJH {
            width: 12.6rem;
            height: 2.2rem;
            position: absolute;
            left: 4.3rem;
            top: 26.1rem;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #063c8e;
            font-family: Inter, 'Source Sans Pro';
        }

        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-bzq5-1hf {
            width: 33.5rem;
            height: 1.7rem;
            position: absolute;
            left: 23.2rem;
            top: 28.9rem;
            display: flex;
            align-items: center;
        }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-bzq5-1hf .s-in-thoi-8nH {
                margin-right: 20.4rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #063c8e;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-bzq5-1hf .email-riH {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #063c8e;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-fv2q-CGM {
            width: 54.8rem;
            height: 3.5rem;
            position: absolute;
            left: 23.2rem;
            top: 31.2rem;
            display: flex;
            align-items: center;
        }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-fv2q-CGM .auto-group-f3df-XJd {
                margin-right: 4.8rem;
                box-sizing: border-box;
                padding: 0.8rem 0.9rem 1rem 0.9rem;
                width: 25rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                background-color: #ffffff;
                border-radius: 1rem;
                flex-shrink: 0;
            }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-fv2q-CGM .auto-group-2crt-aXo {
                box-sizing: border-box;
                padding: 0.8rem 1.3rem 1rem 1.3rem;
                width: 25rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                background-color: #ffffff;
                border-radius: 1rem;
                flex-shrink: 0;
            }

        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-a9gh-Fdw {
            box-sizing: border-box;
            padding: 2.5rem 1.8rem 2.5rem 2rem;
            width: 78.5rem;
            height: 25.4rem;
            position: absolute;
            left: 4.3rem;
            top: 37.8rem;
            background-color: #ffffff;
            border-radius: 1rem;
        }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-a9gh-Fdw .ti-l-trn-minh-pht-nh-tm-l-hc-lm-sng-c-kinh-nghim-hn-4-nm-trong-lnh-vc-tr-liu-tm-l-ti-gip-nhiu-thn-ch-vt-qua-cc-vn-v-sc-khe-tm-thn-bao-gm-trm-cm-lo-u-ri-lon-n-ung-ri-lon-nhn-cch-v-cc-vn-v-tm-l-x-hi-ti-tin-rng-mi-ngi-u-c-tim-nng-t-cha-lnh-v-pht-trin-mc-tiu-ca-ti-l-gip-thn-ch-hiu-r-hn-v-bn-thn-pht-trin-cc-k-nng-ng-ph-lnh-mnh-v-xy-dng-mt-cuc-sng-hnh-phc-v-trn-vn-hn-m6V {
                max-width: 74.7rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.7857142857;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
            }

        .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-evk9-K9w {
            width: 33.5rem;
            height: 3rem;
            position: absolute;
            left: 49.3rem;
            top: 66.3rem;
            display: flex;
            align-items: center;
        }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-evk9-K9w .auto-group-jqjd-35w {
                margin-right: 3.4rem;
                width: 12rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.7857142857;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #2bc9ff;
                border-radius: 1rem;
                flex-shrink: 0;
            }

            .auto-group-qyhb-1t9 .auto-group-uomx-y3b .auto-group-evk9-K9w .auto-group-1c8m-hRP {
                width: 18.1rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.7857142857;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #2bc9ff;
                border-radius: 1rem;
                flex-shrink: 0;
            }
