html {
    font-size: 62.5%;
}

button {
    border: none;
}

ul, li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: auto;
}

.auto-group-8tyb-WP7 {
    margin: 3rem 8.6rem 15.9rem 6.1rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

    .auto-group-8tyb-WP7 .account-information-i7w {
        margin-right: 6.4rem;
        box-sizing: border-box;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: auto;
        row-gap: 2.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
    }

        .auto-group-8tyb-WP7 .account-information-i7w .auto-group-srhw-3Uy {
            margin: 0 1.1rem;
            box-sizing: border-box;
            padding: 0.5rem 8.5rem 0.1rem 0.9rem;
            width: calc(100% - 2.2rem);
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .account-information-i7w .auto-group-srhw-3Uy .auto-group-6kr1-wqF {
                margin-right: 1.4rem;
                width: 6.1rem;
                height: 6.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .auto-group-8tyb-WP7 .account-information-i7w .auto-group-srhw-3Uy .bi-vit-lu-HeD {
                margin-bottom: 0.3rem;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .auto-group-8tyb-WP7 .account-information-i7w .auto-group-ehb3-AT7 {
            margin: 0 1.1rem;
            box-sizing: border-box;
            padding: 0.1rem 8.6rem 0.1rem 0.9rem;
            width: calc(100% - 2.2rem);
            height: 7rem;
            display: flex;
            align-items: center;
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .account-information-i7w .auto-group-ehb3-AT7 .auto-group-yefp-UCu {
                margin: 0rem 1.4rem 0.4rem 0rem;
                width: 6.1rem;
                height: 6.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .auto-group-8tyb-WP7 .account-information-i7w .auto-group-ehb3-AT7 .lch-s-giao-dch-oFB {
                margin-top: 0.1rem;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

    .auto-group-8tyb-WP7 .auto-group-wcmb-wCq {
        box-sizing: border-box;
        padding: 2.1rem 1.5rem 2.1rem 3.3rem;
        width: 88.1rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #e8fbfb;
        border-radius: 2rem;
        flex-shrink: 0;
    }

        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .danh-sch-nh-gi-qJD {
            margin: 0rem 60.6rem 0.6rem 0rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #313053;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
        }

        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm {
            margin-bottom: 0.7rem;
            width: 100%;
            height: 17.8rem;
            position: relative;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .rectangle-94-GuK {
                width: 83.3rem;
                height: 17.3rem;
                position: absolute;
                left: 0;
                top: 0.5rem;
                background-color: #c9f4ef;
                border-radius: 1rem;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .frame-2-o8Z {
                width: 27.4rem;
                height: 2.5rem;
                position: absolute;
                left: 1.9rem;
                top: 1.7rem;
                display: flex;
                align-items: flex-end;
            }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .frame-2-o8Z .tn-8Rj {
                    margin-right: 1.7rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .frame-2-o8Z .thi-gian-G29 {
                    margin-bottom: 0.1rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #ff9a51;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .bnh-lun-o25 {
                width: 4.3rem;
                height: 1.6rem;
                position: absolute;
                left: 1.9rem;
                top: 10.1rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-tZK {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 1.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-Dbb {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 4.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-MSu {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 7.4304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-69b {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 10.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .ic-round-star-2J9 {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 13.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-Lkm .item--MrD {
                width: 2.2rem;
                height: 3rem;
                position: absolute;
                left: 79.7rem;
                top: 0;
                font-size: 2.4rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #2778d7;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm {
            margin-bottom: 0.7rem;
            width: 100%;
            height: 17.8rem;
            position: relative;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .rectangle-94-QJh {
                width: 83.3rem;
                height: 17.3rem;
                position: absolute;
                left: 0;
                top: 0.5rem;
                background-color: #c9f4ef;
                border-radius: 1rem;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .frame-2-LTF {
                width: 31.4rem;
                height: 2.5rem;
                position: absolute;
                left: 1.9rem;
                top: 1.7rem;
                display: flex;
                align-items: flex-end;
            }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .frame-2-LTF .tn-g1K {
                    margin-right: 1.5rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .frame-2-LTF .thi-gian-p7X {
                    margin-bottom: 0.1rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #ff9a51;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .bnh-lun-YpD {
                width: 31rem;
                height: 1.6rem;
                position: absolute;
                left: 1.9rem;
                top: 10.1rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-TgH {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 1.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-niZ {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 4.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-KTb {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 7.4304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-TJu {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 10.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .ic-round-star-Bkh {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 13.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-sJm .item--XJm {
                width: 2.2rem;
                height: 3rem;
                position: absolute;
                left: 79.7rem;
                top: 0;
                font-size: 2.4rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #2778d7;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D {
            margin-bottom: 0.7rem;
            width: 100%;
            height: 17.8rem;
            position: relative;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .rectangle-94-mU1 {
                width: 83.3rem;
                height: 17.3rem;
                position: absolute;
                left: 0;
                top: 0.5rem;
                background-color: #c9f4ef;
                border-radius: 1rem;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .frame-2-hsT {
                width: 29.7rem;
                height: 2.5rem;
                position: absolute;
                left: 1.9rem;
                top: 1.7rem;
                display: flex;
                align-items: flex-end;
            }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .frame-2-hsT .tn-E6h {
                    margin-right: 1.2rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .frame-2-hsT .thi-gian-NTo {
                    margin-bottom: 0.1rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #ff9a51;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .bnh-lun-JcM {
                width: 9.6rem;
                height: 1.6rem;
                position: absolute;
                left: 1.9rem;
                top: 10.1rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-DUR {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 1.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-8rH {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 4.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-e3w {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 7.4304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-Myw {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 10.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .ic-round-star-VKT {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 13.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-32D .item--RU1 {
                width: 2.2rem;
                height: 3rem;
                position: absolute;
                left: 79.7rem;
                top: 0;
                font-size: 2.4rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #2778d7;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s {
            margin-bottom: 0.7rem;
            width: 100%;
            height: 17.8rem;
            position: relative;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .rectangle-94-3kH {
                width: 83.3rem;
                height: 17.3rem;
                position: absolute;
                left: 0;
                top: 0.5rem;
                background-color: #c9f4ef;
                border-radius: 1rem;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .frame-2-ydw {
                width: 29.7rem;
                height: 2.5rem;
                position: absolute;
                left: 1.9rem;
                top: 1.7rem;
                display: flex;
                align-items: flex-end;
            }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .frame-2-ydw .tn-Jw7 {
                    margin-right: 1.5rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .frame-2-ydw .thi-gian-T3K {
                    margin-bottom: 0.1rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #ff9a51;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .bnh-lun-adj {
                width: 64.3rem;
                height: 1.6rem;
                position: absolute;
                left: 1.9rem;
                top: 10.1rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-VEu {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 1.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-pny {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 4.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-a1T {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 7.4304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-Ji9 {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 10.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .ic-round-star-qxy {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 13.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-v9s .item--Nxu {
                width: 2.2rem;
                height: 3rem;
                position: absolute;
                left: 79.7rem;
                top: 0;
                font-size: 2.4rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #2778d7;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV {
            margin-bottom: 2.5rem;
            width: 100%;
            height: 17.8rem;
            position: relative;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .rectangle-94-1FB {
                width: 83.3rem;
                height: 17.3rem;
                position: absolute;
                left: 0;
                top: 0.5rem;
                background-color: #c9f4ef;
                border-radius: 1rem;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .frame-2-LHT {
                width: 26rem;
                height: 2.5rem;
                position: absolute;
                left: 1.9rem;
                top: 1.7rem;
                display: flex;
                align-items: flex-end;
            }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .frame-2-LHT .tn-s2V {
                    margin-right: 1.7rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .frame-2-LHT .thi-gian-QYD {
                    margin-bottom: 0.1rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #ff9a51;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .bnh-lun-wo3 {
                width: 67.3rem;
                height: 1.6rem;
                position: absolute;
                left: 1.9rem;
                top: 10.1rem;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-rQD {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 1.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-ar1 {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 4.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-7L9 {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 7.4304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-qmw {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 10.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .ic-round-star-z93 {
                width: 2.1392rem;
                height: 2.0445rem;
                position: absolute;
                left: 13.6304rem;
                top: 5.2466rem;
                object-fit: contain;
                vertical-align: top;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .ratingcomment-GYV .item--KSD {
                width: 2.2rem;
                height: 3rem;
                position: absolute;
                left: 79.7rem;
                top: 0;
                font-size: 2.4rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #2778d7;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
            }

        .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho {
            margin: 0rem 23.7rem 0rem 27.6rem;
            width: calc(100% - 51.3rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
        }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-d3fj-wyP {
                margin: 0rem 1.6rem 0.1rem 0rem;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-2bsj-4YD {
                margin: 0rem 1.6rem 0.1rem 0rem;
                width: 4rem;
                height: 4rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #3066b8;
                border-radius: 2rem;
                flex-shrink: 0;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-zj8z-vqK {
                margin: 0rem 1.7rem 0.1rem 0rem;
                width: 4rem;
                height: 4rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #30a8b8;
                border-radius: 2rem;
                flex-shrink: 0;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .item--bgZ {
                margin-right: 1.5rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                letter-spacing: 0.72rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-5g3o-ux9 {
                margin: 0rem 1.6rem 0.1rem 0rem;
                width: 4rem;
                height: 4rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #30a8b8;
                border-radius: 2rem;
                flex-shrink: 0;
            }

            .auto-group-8tyb-WP7 .auto-group-wcmb-wCq .auto-group-wyfs-dho .auto-group-1duq-Bem {
                margin-bottom: 0.1rem;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }
