@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@using Microsoft.AspNetCore.Mvc;
@{
    PaginatedList<ZAlpha.Application.Tag.Queries.GetTag.TagModel> tags = ViewBag.tags;
    List<ZAlpha.Domain.Enums.EmotionalStatus> emotionalStatusList = ViewBag.emotionalStatusList;
}
<head>
    <title>New Post</title>
    <link href="~/assets/css/newpost.css" rel="stylesheet" />
</head>

@using ZAlpha.Application.Common.Models;
@using ZAlpha.Application.Comment.Queries.GetAllComment;

<div class="newPostBox">
    <form action="~/Customer/NewPost" method="post" enctype="multipart/form-data">

        <div style="color: black; font-size: 19px; font-family: Inter; font-weight: 400; word-wrap: break-word; margin:1rem 0;">
            Để mọi người hiểu rõ hơn về vấn đề của bạn, hãy làm sáng tỏ những thông tin sau nhé!
        </div>
        <div>
            <div style="margin:1rem 0 0.3rem 0;">
                <span style="color: black; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">Bạn đang cảm thấy thế nào? </span>
                <span style="color: #DD2E44; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">*</span>
            </div>
            <div style="display:flex; justify-content: center;align-content: center;">
                <textarea id="postbody" style="width:48vw; height:20vh;" name="postBody" placeholder="Vì sao vậy? Hãy viết nó ra nào!"></textarea>
            </div>
            @*-------------------------------*@
            @*  <div style="margin:1rem 0 0.3rem 0;">
            <span style="color: black; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">Chúng tôi có thể giúp được gì cho bạn? </span>
            </div>
            <div style="display:flex; justify-content: center;align-content: center;">
            <textarea style="width:48vw; height:15vh;" name="" placeholder="Bạn cần được giải đáp câu hỏi? Muốn nhận lời khuyên? Hay chỉ đơn giản là giải bày, chia sẽ suy nghĩ của mình? Hãy nói cụ thể hơn."></textarea>
            </div> *@
            @*-------------------------------*@
            <div style="margin:1rem 0 0.3rem 0;">
                <span style="color: black; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">Tiêu đề</span>
                <span style="color: #DD2E44; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">*</span>
            </div>
            <div style="display:flex; justify-content: center;align-content: center;">
                <textarea id="postTitle" style="width:48vw; " rows="3" name="postTitle" placeholder="Hãy tóm tắt vấn đề của bạn bằng một câu ngắn gọn"></textarea>
            </div>
            @*-------------------------------*@
            <div style="margin:1rem 0 0.3rem 0;">
                <span style="color: black; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">Hãy đánh giá tình trạng tâm lí hiện tại của bản thân</span>
            </div>
            <div style="display:flex; justify-content: center;align-content: center;">
                <select class="comboBoxNewPost" name="emotional">
                    <option value="none">Tình trạng của bạn:</option>
                    @{emotionalStatusList.Remove(emotionalStatusList[0]);};
                    @foreach (var item in emotionalStatusList)
                    {
                        <option value="@item.ToString()">@item.ToString()</option>
                    }
                </select>
            </div>

            @*-------------------------------*@
            <div class="row" style="margin:2rem 0;">
                <div class="col-6" style="display:flex;justify-content: center;align-content: center;">
                    <div class="new-post-container">
                        <div class="new-post-header">
                            <div id="default-img">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </div>
                            <img id="preview" src="#" alt = "Image Preview" style = "display: none; max-width: 200px; max-height: 200px;" />
                        </div>
                        <label for="new-post-file" class="new-post-footer" name="fileImg">
                            <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path><path d="M18.153 6h-.009v5.342H23.5v-.002z"></path></g></svg>
                            <p>Not selected file</p>
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="#000000" stroke-width="2"></path> <path d="M19.5 5H4.5" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> <path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="#000000" stroke-width="2"></path> </g></svg>

                        </label>
                        <input id="new-post-file" type="file" name="file" onchange="previewImage()" accept="image/jpeg">
                    </div>
                </div>
                <div class="col-6">
                    @*-------------------------------*@
                    <div style="margin:1rem 0 0.3rem 0;">
                        <span style="color: black; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">Chọn thẻ:</span>
                        <span style="color: #DD2E44; font-size: 18px; font-family: Inter; font-weight: 600; word-wrap: break-word">*</span>
                    </div>

                    <div class="auto-group-brvk-CQM" style="overflow-y: scroll; height: 250px; font-size:1.1rem">
                        @foreach (var item in tags.Items)
                        {
                            <div class="auto-group-v2tf-14H" style="display: flex; align-items: center;">
                                <input class="auto-group-czch-9RP" type="checkbox" name="SelectedValues" value="@item.Id" />
                                <span style="margin-left: 10px;">@item.TagName</span>
                            </div>
                        }
                    </div>
                    <style>
                        .auto-group-brvk-CQM .auto-group-v2tf-14H {
                            display: flex;
                            text-align: center;
                            font-weight: 500;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            margin-bottom: 1px;
                        }
                    </style>
                </div>
            </div>
            @*---------------*@
            <div class="row" style="margin:2rem 0;">
                <div class="col-3">
                </div>
                <div class="col-3" style="display:flex;justify-content: center;align-content: center;">
                    <button class="buttonDangPost" type="submit">
                        <i class="fa-solid fa-paper-plane" style="color:white;"></i>
                        <span class="lable">Đăng</span>
                    </button>
                </div>
                <div class="col-3">
                    <button class="buttonDangPost">
                        <i class="fa-solid fa-clipboard-list" style="color:white;"></i>
                        <span class="lable">Lưu nháp</span>
                    </button>
                </div>
                <div class="col-3">
                </div>

            </div>

        </div>
    </form>
</div>

<script>
    function previewImage() {
        var input = document.getElementById('new-post-file');
        var preview = document.getElementById('preview');
        var defaultImg = document.getElementById('default-img');
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var image = new Image();
                image.onload = function () {
                    preview.src = e.target.result;
                    preview.style.display = 'block';

                    defaultImg.style.display = "none";
                };                
                image.onerror = function () {
                    console.log('File is not an image.');

                    defaultImg.style.display = 'block';

                    preview.style.display = "none";
                    // Your code for handling non-image file
                };
                image.src = e.target.result;
            };
            
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>