@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./assets/css/Login.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="LoginContent">
        <div class="hoacuc"></div>
        <div class="logo"></div>
        <div class="v81_1350">
            <span class="v81_1351">Số điện thoại</span>
            <input class="v81_1352"></input>
        </div><div class="v81_1353">
            <span class="v81_1354">Mật khẩu</span>
            <input class="v81_1355"></input>
        </div><div class="v81_1356"></div>
        <div class="v81_1365"></div>
        <span class="v81_1357">Đăng nhập</span>
        <div class="v81_1358">
            <div class="v81_1359"></div>
            <div class="v81_1360"></div>
            <div class="v81_1361"></div>
            <div class="v81_1362"></div>
        </div>
        <span class="v81_1366">Tài khoản doanh nghiệp</span>
    </div>
</body>
</html>