@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "User Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./assets/css/accountinformation.css" rel="stylesheet" />
</head>
<body>
    <div class="auto-group-nkgm-aAy">
        <!-- Menu -->
        <div class="account-information-5dX">
            <div class="auto-group-kar3-yiu">
                <img class="image-5-WD3" src="./assets/image-5.png" />
                <div class="thng-tin-c-nhn-SMb">@Html.ActionLink("Thông tin cá nhân", "Info", "User", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>
            </div>
            <div class="auto-group-uhvf-wZF">
                <img class="person-5QZ" src="./assets/person.png" />
                <div class="bi-vit-ca-ti-QBw">@Html.ActionLink("Bài viết của tôi", "Index", "MyPost", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>
            </div>
            <div class="auto-group-bdpk-5J5">
                <img class="commentbank-c37" src="./assets/commentbank.png" />
                <div class="bi-vit-lu-vZb">@Html.ActionLink("Bài viết đã lưu", "SavedPost", "SavePost", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>
            </div>
            <div class="auto-group-hznm-1b3">
                <img class="monetizationon-9BT" src="./assets/monetizationon-wXb.png" />
                <div class="lch-s-giao-dch-H2m">@Html.ActionLink("Thanh toán", "Transaction", "Transaction", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>
            </div>
        </div>
        <!-- Menu end-->

        <!-- User Info -->
        <div class="auto-group-6jwb-Zky">
            <div class="auto-group-s23x-hcH">
                <div class="auto-group-ahft-cz9">
                    <img class="rectangle-53-mMF" src="./assets/rectangle-53.png" />
                    <img class="edit-button-i1b" src="./assets/edit-button-4tD.png" />
                </div>
                <div class="auto-group-zbf3-duF">
                    <div class="auto-group-mrym-aZb">
                        <p class="windino-urm">Windino</p>
                        <p class="freemium-2wP">(Freemium)</p>
                    </div>
                    <img class="edit-button-mPB" src="./assets/edit-button-5Ad.png" />
                </div>
            </div>
            <div class="auto-group-maht-tih">
                <div class="auto-group-3g8d-dRP">
                    <p class="trn-xun-phong-8sw">Trần Xuân Phong</p>
                    <img class="edit-button-3k1" src="./assets/edit-button-aWy.png" />
                </div>
                <div class="auto-group-xbky-mR7">
                    <p class="item-2002-6CV">2002</p>
                    <img class="edit-button-QU5" src="./assets/edit-button-n13.png" />
                </div>
            </div>
            <div class="auto-group-bkud-jFT">
                <div class="auto-group-24vk-3mw">
                    <p class="item-0393644813-NJR">0393644813</p>
                    <img class="edit-button-5yX" src="./assets/edit-button-wx1.png" />
                </div>
                <div class="auto-group-eoho-bws">
                    <p class="sinh-vin-uSm">Sinh viên</p>
                    <img class="keyboardarrowdown-QuK" src="./assets/keyboardarrowdown-SRT.png" />
                </div>
            </div>
            <div class="auto-group-w4pm-8qK">
                <div class="auto-group-djad-GRj">
                    <p class="email-CaH">Email</p>
                    <div class="auto-group-qs1x-8iq">
                        <p class="windtran02gmailcom-dfb">windtran02@gmail.com</p>
                        <img class="edit-button-Y1s" src="./assets/edit-button.png" />
                    </div>
                </div>
                <div class="auto-group-oagd-E9b">
                    <p class="mt-khu-X2D">Mật khẩu</p>
                    <div class="rectangle-58-MV7">
                        <p class="item--5vu">...............</p>
                        <img class="edit-button-asf" src="./assets/edit-button.png" />
                    </div>
                </div>
            </div>
            <div class="auto-group-tez1-Qrh">
                <p class="h-v-tn-wLq">Họ và tên</p>
                <p class="nm-sinh-dzM">Năm Sinh</p>
            </div>
            <div class="auto-group-mrx9-yHX">
                <p class="s-in-thoi-6d3">Số điện thoại</p>
                <p class="ngh-nghip-dN5">Nghề Nghiệp</p>
            </div>
        </div>
        <!-- User Info End -->
    </div>
</body>

<style>
    html {
        font-size: 62.5%;
    }

    ul, li {
        list-style: none;
    }

    input {
        border: none;
    }

    body {
        width: auto;
    }

    .auto-group-nkgm-aAy {
        margin: 3rem 8.9rem 24.7rem 7.5rem;
        width: calc(100% - 16.4rem);
        height: 71.8rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
    }

        .auto-group-nkgm-aAy .account-information-5dX {
            margin-right: 4.7rem;
            margin-left: -10vw;
            box-sizing: border-box;
            padding: 3.4rem 1.6rem 1.6rem 1.6rem;
            width: 30%;
            row-gap: 2.5rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-nkgm-aAy .account-information-5dX .auto-group-kar3-yiu {
                box-sizing: border-box;
                padding: 0.4rem 5.8rem 0.6rem 0.8rem;
                width: 100%;
                display: flex;
                align-items: center;
                background-color: #fbd78f;
                border-radius: 2rem;
                flex-shrink: 0;
            }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-kar3-yiu .image-5-WD3 {
                    margin-right: 1rem;
                    margin-left: 0.3rem;
                    max-width: 5rem;
                    width: 100%;
                    height: 5rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-kar3-yiu .thng-tin-c-nhn-SMb {
                    margin-top: 0.1rem;
                    cursor: pointer;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-nkgm-aAy .account-information-5dX .auto-group-uhvf-wZF {
                box-sizing: border-box;
                padding: 0.5rem 8.7rem 0.5rem 0.9rem;
                width: 100%;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                border-radius: 2rem;
                flex-shrink: 0;
            }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-uhvf-wZF .person-5QZ {
                    margin-right: 1rem;
                    margin-left: 0.3rem;
                    max-width: 5rem;
                    width: 100%;
                    height: 5rem;
                    cursor: pointer;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-uhvf-wZF .bi-vit-ca-ti-QBw {
                    margin-top: 0.3rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-nkgm-aAy .account-information-5dX .auto-group-bdpk-5J5 {
                box-sizing: border-box;
                padding: 0.5rem 9.1rem 0.5rem 0.9rem;
                width: 100%;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                border-radius: 2rem;
                flex-shrink: 0;
            }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-bdpk-5J5 .commentbank-c37 {
                    margin-right: 1rem;
                    margin-left: 0.3rem;
                    max-width: 5rem;
                    width: 100%;
                    height: 5rem;
                    cursor: pointer;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-bdpk-5J5 .bi-vit-lu-vZb {
                    margin-top: 0.3rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-nkgm-aAy .account-information-5dX .auto-group-hznm-1b3 {
                box-sizing: border-box;
                padding: 0.5rem 12.2rem 0.5rem 0.9rem;
                width: 100%;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                border-radius: 2rem;
                flex-shrink: 0;
            }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-hznm-1b3 .monetizationon-9BT {
                    margin-right: 1rem;
                    margin-left: 0.3rem;
                    max-width: 5rem;
                    width: 100%;
                    height: 5rem;
                    cursor: pointer;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .auto-group-nkgm-aAy .account-information-5dX .auto-group-hznm-1b3 .lch-s-giao-dch-H2m {
                    margin-top: 0.1rem;
                    cursor: pointer;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

        .auto-group-nkgm-aAy .auto-group-6jwb-Zky {
            width: 80%;
            height: 100%;
            position: relative;
            background: linear-gradient(236.41deg, #f8f1ec 0%, #93eeea 100%);
            border-radius: 2rem;
            flex-shrink: 0;
        }

            .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH {
                width: 29rem;
                height: 11.6rem;
                position: absolute;
                left: 4.2rem;
                top: 2.6rem;
                display: flex;
                align-items: center;
            }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-ahft-cz9 {
                    width: 11.5rem;
                    height: 100%;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-ahft-cz9 .rectangle-53-mMF {
                        max-width: 10.8rem;
                        max-height: 10.8rem;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        object-fit: cover;
                        vertical-align: top;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-ahft-cz9 .edit-button-i1b {
                        max-width: 2.5rem;
                        max-height: 2.5rem;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 9rem;
                        top: 9.1rem;
                        object-fit: contain;
                        vertical-align: top;
                    }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF {
                    box-sizing: border-box;
                    padding-left: 2.9rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-start;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .auto-group-mrym-aZb {
                        margin-right: 0.9rem;
                        width: 11.2rem;
                        flex-shrink: 0;
                    }

                        .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .auto-group-mrym-aZb .windino-urm {
                            margin-bottom: 0.7rem;
                            width: 100%;
                            text-align: center;
                            font-size: 1.7vw;
                            font-weight: 600;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                        }

                        .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .auto-group-mrym-aZb .freemium-2wP {
                            width: 100%;
                            text-align: center;
                            font-size: 0.9vw;
                            font-weight: 500;
                            line-height: 1.2125;
                            color: #2d75cb;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                        }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-s23x-hcH .auto-group-zbf3-duF .edit-button-mPB {
                        margin-top: 0.8rem;
                        max-width: 2.5rem;
                        max-height: 2.5rem;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

            .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih {
                width: 100%;
                height: 4.3rem;
                position: absolute;
                top: 27.6rem;
                display: flex; 
                justify-content: space-around;
                align-items: center;
            }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-3g8d-dRP {
                    box-sizing: border-box;
                    padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #ffffff;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-3g8d-dRP .trn-xun-phong-8sw {
                        margin: 0px 0px 0px 0px;
                        font-size: 1vw;
                        font-weight: 500;
                        line-height: 1.2125;
                        color: #908d8d;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-3g8d-dRP .edit-button-3k1 {
                        max-width: 2.5rem;
                        max-height: 2.5rem;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-xbky-mR7 {
                    box-sizing: border-box;
                    padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #ffffff;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-xbky-mR7 .item-2002-6CV {
                        margin: 0px 0px 0px 0px;
                        font-size: 1.5rem;
                        font-weight: 500;
                        line-height: 1.2125;
                        color: #908d8d;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-maht-tih .auto-group-xbky-mR7 .edit-button-QU5 {
                        width: 2.5rem;
                        height: 2.5rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

            .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT {
                width: 100%;
                height: 4.3rem;
                position: absolute;
                top: 62rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-24vk-3mw {
                    box-sizing: border-box;
                    padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #ffffff;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-24vk-3mw .item-0393644813-NJR {
                        margin: 0px;
                        font-size: 1.5rem;
                        font-weight: 500;
                        line-height: 1.2125;
                        color: #908d8d;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-24vk-3mw .edit-button-5yX {
                        width: 2.5rem;
                        height: 2.5rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-eoho-bws {
                    box-sizing: border-box;
                    padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;
                    justify-content: space-between;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-eoho-bws .sinh-vin-uSm {
                        margin: 0px;
                        font-size: 1.5rem;
                        font-weight: 500;
                        line-height: 1.2125;
                        color: #908d8d;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-bkud-jFT .auto-group-eoho-bws .keyboardarrowdown-QuK {
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

            .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK {
                width: 100%;
                height: 7.1rem;
                position: absolute;
                top: 42rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj {
                    width: 40%;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .email-CaH {
                        margin-bottom: 1rem;
                        font-size: 1vw;
                        font-weight: 700;
                        line-height: 1.2125;
                        color: #070ea8;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .auto-group-qs1x-8iq {
                        box-sizing: border-box;
                        padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 1rem;
                        justify-content: space-between;
                    }

                        .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .auto-group-qs1x-8iq .windtran02gmailcom-dfb {
                            margin: 0px;
                            font-size: 1vw;
                            font-weight: 500;
                            line-height: 1.2125;
                            color: #908d8d;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                        .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-djad-GRj .auto-group-qs1x-8iq .edit-button-Y1s {
                            width: 2.5rem;
                            height: 2.5rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b {
                    width: 40%;
                    height: 100%;
                    flex-shrink: 0;
                }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .rectangle-58-MV7 {
                        width: 40%;
                        height: 4.3rem;
                        position: absolute;
                        padding: 0.9rem 1.1rem 0.9rem 1.5rem;
                        top: 2.35rem;
                        background-color: #ffffff;
                        border-radius: 1rem;
                        display: flex;
                        justify-content: space-between;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .item--5vu {
                        margin: 0px;
                        width: 100%;
                        height: 100%;
                        font-size: 1.6rem;
                        -webkit-text-security: disc;
                        font-weight: 500;
                        /* line-height: 1.2125; */
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .edit-button-asf {
                        max-width: 2.5rem;
                        max-height: 2.5rem;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        vertical-align: top;
                    }

                    .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-w4pm-8qK .auto-group-oagd-E9b .mt-khu-X2D {
                        width: 40%;
                        height: 1.6rem;
                        position: absolute;
                        font-size: 1vw;
                        font-weight: 700;
                        line-height: 1.2125;
                        color: #070ea8;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                    }

            .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-tez1-Qrh {
                width: 100%;
                height: 1.6rem;
                position: absolute;
                top: 24.6rem;
                display: flex;
                align-items: center;
                left: -15.5%;
                justify-content: space-around;
            }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-tez1-Qrh .h-v-tn-wLq {
                    margin: 0px;
                    text-align: center;
                    font-size: 1vw;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #070ea8;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-tez1-Qrh .nm-sinh-dzM {
                    margin: 0px;
                    font-size: 1vw;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #070ea8;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-mrx9-yHX {
                width: 100%;
                height: 1.6rem;
                position: absolute;
                top: 59.4rem;
                display: flex;
                align-items: center;
                left: -14%;
                justify-content: space-around;

            }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-mrx9-yHX .s-in-thoi-6d3 {
                    margin: 0px;
                    font-size: 1vw;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #070ea8;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-nkgm-aAy .auto-group-6jwb-Zky .auto-group-mrx9-yHX .ngh-nghip-dN5 {
                    margin: 0px;
                    font-size: 1vw;
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #070ea8;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

    .footer-KVo {
        width: 100%;
        height: 39.6rem;
        position: relative;
        background-color: #fffdab;
        flex-shrink: 0;
    }

        .footer-KVo .auto-group-iznq-4CV {
            width: 117.1rem;
            height: 6.4rem;
            position: absolute;
            left: 8rem;
            top: 4rem;
            display: flex;
            align-items: flex-start;
        }

            .footer-KVo .auto-group-iznq-4CV .locationon-yKT {
                margin-right: 0.5rem;
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-iznq-4CV .auto-group-4qlm-uiu {
                margin: 0.4rem 10.9rem 0rem 0rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
            }

                .footer-KVo .auto-group-iznq-4CV .auto-group-4qlm-uiu .a-ch-dQ1 {
                    margin-bottom: 0.9rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .footer-KVo .auto-group-iznq-4CV .auto-group-4qlm-uiu .l-e2a-7-ng-d1-d1-long-thnh-m-thnh-ph-th-c-thnh-ph-h-ch-minh-vit-nam-Y1B {
                    max-width: 36.6rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                }

            .footer-KVo .auto-group-iznq-4CV .auto-group-jjp3-aCm {
                margin-right: 12.3rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
            }

                .footer-KVo .auto-group-iznq-4CV .auto-group-jjp3-aCm .v-chng-ti-v1j {
                    margin-bottom: 1.9rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .footer-KVo .auto-group-iznq-4CV .auto-group-jjp3-aCm .chnh-sch-bo-mt-dgq {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .footer-KVo .auto-group-iznq-4CV .auto-group-7tzw-Mcq {
                margin-right: 12.2rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
            }

                .footer-KVo .auto-group-iznq-4CV .auto-group-7tzw-Mcq .ng-k-cng-tc-vin-JHB {
                    margin-bottom: 1.9rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .footer-KVo .auto-group-iznq-4CV .auto-group-7tzw-Mcq .cu-hi-thng-gp-2DB {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #2364aa;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

            .footer-KVo .auto-group-iznq-4CV .auto-group-vbkq-YxD {
                margin-right: 1rem;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-iznq-4CV .auto-group-fjgz-Heu {
                margin-right: 1rem;
                width: 4rem;
                height: 4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-iznq-4CV .auto-group-rsdf-26h {
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

        .footer-KVo .auto-group-w6fx-ZsK {
            width: 35.4rem;
            height: 1.7rem;
            position: absolute;
            left: 58.4rem;
            top: 11.2rem;
            display: flex;
            align-items: center;
        }

            .footer-KVo .auto-group-w6fx-ZsK .iu-khon-s-dng-6cM {
                margin-right: 12.1rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #2364aa;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-w6fx-ZsK .ti-app-mobile-cah {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #2364aa;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .footer-KVo .auto-group-brho-9ad {
            width: 7.8rem;
            height: 2.4rem;
            position: absolute;
            left: 8rem;
            top: 13rem;
            display: flex;
            align-items: center;
        }

            .footer-KVo .auto-group-brho-9ad .call-TLR {
                margin-right: 0.5rem;
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-brho-9ad .hotline-Pzm {
                margin-top: 0.1rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #2364aa;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .footer-KVo .item-1900-0007-Xr5 {
            width: 7.1rem;
            height: 1.7rem;
            position: absolute;
            left: 10.9rem;
            top: 15.6rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #2364aa;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
        }

        .footer-KVo .auto-group-hmhf-RgZ {
            width: 6.6rem;
            height: 2.4rem;
            position: absolute;
            left: 8rem;
            top: 19.4rem;
            display: flex;
            align-items: center;
        }

            .footer-KVo .auto-group-hmhf-RgZ .mail-mEd {
                margin-right: 0.5rem;
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-hmhf-RgZ .email-ubj {
                margin-top: 0.1rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #2364aa;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

        .footer-KVo .auto-group-65t9-3hw {
            width: 91.8rem;
            height: 3.8rem;
            position: absolute;
            left: 10.9rem;
            top: 22rem;
            display: flex;
            align-items: flex-end;
        }

            .footer-KVo .auto-group-65t9-3hw .zalphasupportgmailcom-AnZ {
                margin: 0rem 61.2rem 2.1rem 0rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #2364aa;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-65t9-3hw .ri-facebook-fill-V49 {
                margin-right: 2rem;
                width: 3rem;
                height: 3rem;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-65t9-3hw .teenyicons-instagram-solid-RCh {
                margin-right: 2rem;
                width: 3rem;
                height: 3rem;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
            }

            .footer-KVo .auto-group-65t9-3hw .simple-icons-x-Yo7 {
                width: 3rem;
                height: 3rem;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
            }

        .footer-KVo .copyright-2023-all-rights-reserved-JGV {
            width: 25.2rem;
            height: 1.7rem;
            position: absolute;
            left: 59.4rem;
            top: 35.9rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #2364aa;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
        }
</style>

</html>