@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "User Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/assets/css/user-info.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="auto-group-nkgm-aAy">
        <!-- Menu -->
        <div class="account-information-5dX">
            <div class="auto-group-kar3-yiu">
                <img class="image-5-WD3" src="./assets/image-5.png" />
                <p class="thng-tin-c-nhn-SMb">Thông tin cá nhân</p>
            </div>
            <div class="auto-group-uhvf-wZF">
                <img class="person-5QZ" src="./assets/person.png" />
                <p class="bi-vit-ca-ti-QBw">Bài viết của tôi</p>
            </div>
            <div class="auto-group-bdpk-5J5">
                <img class="commentbank-c37" src="./assets/commentbank.png" />
                <p class="bi-vit-lu-vZb">Bài viết đã lưu</p>
            </div>
            <div class="auto-group-hznm-1b3">
                <img class="monetizationon-9BT" src="./assets/monetizationon-wXb.png" />
                <p class="lch-s-giao-dch-H2m">Thanh toán</p>
            </div>
        </div>
        <!-- Menu end-->

        <!-- User Info -->
        <div class="auto-group-6jwb-Zky">
            <div class="auto-group-s23x-hcH">
                <div class="auto-group-ahft-cz9">
                    <img class="rectangle-53-mMF" src="./assets/rectangle-53.png" />
                    <img class="edit-button-i1b" src="./assets/edit-button-4tD.png" />
                </div>
                <div class="auto-group-zbf3-duF">
                    <div class="auto-group-mrym-aZb">
                        <p class="windino-urm">Windino</p>
                        <p class="freemium-2wP">(Freemium)</p>
                    </div>
                    <img class="edit-button-mPB" src="./assets/edit-button-5Ad.png" />
                </div>
            </div>
            <div class="auto-group-maht-tih">
                <div class="auto-group-3g8d-dRP">
                    <p class="trn-xun-phong-8sw">Trần Xuân Phong</p>
                    <img class="edit-button-3k1" src="./assets/edit-button-aWy.png" />
                </div>
                <div class="auto-group-xbky-mR7">
                    <p class="item-2002-6CV">2002</p>
                    <img class="edit-button-QU5" src="./assets/edit-button-n13.png" />
                </div>
            </div>
            <div class="auto-group-bkud-jFT">
                <div class="auto-group-24vk-3mw">
                    <p class="item-0393644813-NJR">0393644813</p>
                    <img class="edit-button-5yX" src="./assets/edit-button-wx1.png" />
                </div>
                <div class="auto-group-eoho-bws">
                    <p class="sinh-vin-uSm">Sinh viên</p>
                    <img class="keyboardarrowdown-QuK" src="./assets/keyboardarrowdown-SRT.png" />
                </div>
            </div>
            <div class="auto-group-w4pm-8qK">
                <div class="auto-group-djad-GRj">
                    <p class="email-CaH">Email</p>
                    <div class="auto-group-qs1x-8iq">
                        <p class="windtran02gmailcom-dfb">windtran02@gmail.com</p>
                        <img class="edit-button-Y1s" src="./assets/edit-button.png" />
                    </div>
                </div>
                <div class="auto-group-oagd-E9b">
                    <div class="rectangle-58-MV7">
                    </div>
                    <p class="item--5vu">.............</p>
                    <img class="edit-button-asf" src="./assets/edit-button-fyX.png" />
                    <p class="mt-khu-X2D">Mật khẩu</p>
                </div>
            </div>
            <div class="auto-group-tez1-Qrh">
                <p class="h-v-tn-wLq">Họ và tên</p>
                <p class="nm-sinh-dzM">Năm Sinh</p>
            </div>
            <div class="auto-group-mrx9-yHX">
                <p class="s-in-thoi-6d3">Số điện thoại</p>
                <p class="ngh-nghip-dN5">Nghề Nghiệp</p>
            </div>
        </div>
        <!-- User Info End -->
    </div>
</body>
</html>