@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Recommend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Recommend</title>
    <link rel="stylesheet" href="~/assets/css/recommend.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-9xmf-sL9">
        <div class="auto-group-jjym-NXo">
            <p class="tm-kim-theo-tn-sjT">TÌM KIẾM THEO TÊN</p>
            <input class="auto-group-4tch-mpq" type="text" style="font-size: 1.4rem; padding-left: 10px;"/>

            <p class="tm-kim-theo-th-UjF">TÌM KIẾM THEO THẺ</p> 
            <div class="auto-group-brvk-CQM">
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Học đường</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Gia đình</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Công việc</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Tình cảm</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Bạn bè</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Đồng trang lứa</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Stress</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Áp lực</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Sức khoẻ</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Đồng nghiệp</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Môi trường</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <input class="auto-group-czch-9RP" type="checkbox" />
                    <p class="ng-trang-la-UTf">Nhạy cảm</p>
                </div>
            </div>
            <p class="tm-kim-theo-v-tr-rK7">TÌM KIẾM THEO VỊ TRÍ</p>
            <div class="auto-group-bmzo-Lzy">
                <p class="tp-h-ch-minh-F6M">TP. Hồ Chí Minh</p>
                <img class="keyboardarrowdown-9Sd" src="~/assets/images/keyboardarrowdown-S1B.png" />
            </div>
        </div>
        <div class="auto-group-bzho-TTK">
            <div class="auto-group-qlry-bJd">
                <p class="sp-xp-theo-j9w">Sắp xếp theo</p>
                <button class="auto-group-1dlh-Dqo">Lượt bình luận</button>
                <button class="auto-group-bbmo-hky">Lượt đánh giá</button>
                <button class="auto-group-bbmo-hky">Trình độ</button>
            </div>
            <div class="auto-group-roty-Kvm">
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div> 
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>            
            </div>
            <div class="auto-group-roty-Kvm">
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
            </div>
            <div class="auto-group-roty-Kvm">
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="~/assets/images/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="~/assets/images/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="~/assets/images/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="~/assets/images/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="~/assets/images/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>