@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Recommend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ZAlpha.Application.Common.Models;
@using ZAlpha.Application.PsychologistAccount.Queries.GetAllPsychologistAccount;
@using ZAlpha.Domain.Enums;
@model ZAlpha.Application.Common.Models.PaginatedList<PsychologistAccountModel>

<div class="content-grid" style="transform: translate(0px, 0px); transition: transform 0.4s ease-in-out 0s;">
    <section class="section">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Tìm kiếm chuyên gia của bạn</p>
                <!-- /SECTION PRETITLE -->
                <!-- SECTION TITLE -->
                <h2 class="section-title">Danh sách chuyên gia <span class="highlighted">Zalpha</span></h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->
        <!-- SECTION FILTERS BAR -->
        <div class="section-filters-bar v1">
            <!-- SECTION FILTERS BAR ACTIONS -->
            <div class="section-filters-bar-actions">
                <!-- FORM -->
                <form class="form" action="~/Recommend/Search" method="post">
                    <!-- FORM INPUT -->
                    <div class="form-input small with-button">
                        <label for="groups-search">Tìm kiếm </label>
                        <input type="text" name="keySearch" id="groups-search" name="groups_search">
                        <!-- BUTTON -->
                        <button class="button primary" type="submit">
                            <!-- ICON MAGNIFYING GLASS -->
                            <svg class="icon-magnifying-glass">
                                <use xlink:href="#svg-magnifying-glass"></use>
                            </svg>
                            <!-- /ICON MAGNIFYING GLASS -->
                        </button>
                        <!-- /BUTTON -->
                    </div>
                    <!-- /FORM INPUT -->
                    <!-- FORM SELECT -->
                    <div class="form-select">
                        <label for="groups-filter-category">Tìm kiếm theo</label>
                        <select id="groups-filter-category" name="groups_filter_category">
                            <option value="0">Số bài viết</option>
                            <option value="1">Lượt tương tác</option>
                            @* <option value="2">Alphabetical</option> *@
                        </select>
                        <!-- FORM SELECT ICON -->
                        <svg class="form-select-icon icon-small-arrow">
                            <use xlink:href="#svg-small-arrow"></use>
                        </svg>
                        <!-- /FORM SELECT ICON -->
                    </div>
                    <!-- /FORM SELECT -->
                </form>
                <!-- /FORM -->
                <!-- FILTER TABS -->
                <div class="filter-tabs">
                    <!-- FILTER TAB -->
                    <div class="filter-tab active">
                        <!-- FILTER TAB TEXT -->
                        <p class="filter-tab-text">Số bài viết</p>
                        <!-- /FILTER TAB TEXT -->
                    </div>
                    <!-- /FILTER TAB -->
                    <!-- FILTER TAB -->
                    <div class="filter-tab">
                        <!-- FILTER TAB TEXT -->
                        <p class="filter-tab-text">Lượt tương tác</p>
                        <!-- /FILTER TAB TEXT -->
                    </div>
                    <!-- /FILTER TAB -->
                   
                </div>
                <!-- /FILTER TABS -->
            </div>
            <!-- /SECTION FILTERS BAR ACTIONS -->
           
        </div>
        <!-- /SECTION FILTERS BAR -->
        <!-- GRID -->
        <div class="grid grid-3-3-3-3 centered">
            @foreach (var item in Model.Items)
            {
                <!-- USER PREVIEW -->
                <div class="user-preview small">
                    <!-- USER PREVIEW COVER -->
                    <figure class="user-preview-cover liquid" style="background: url(&quot;img/cover/29.jpg&quot;) center center / cover no-repeat;">
                        <img src="img/cover/29.jpg" alt="cover-29" style="display: none;">
                    </figure>
                    <!-- /USER PREVIEW COVER -->
                    <!-- USER PREVIEW INFO -->
                    <div class="user-preview-info">
                        <!-- TAG STICKER -->
                        <div class="tag-sticker">
                            <!-- TAG STICKER ICON -->
                            <svg class="tag-sticker-icon icon-public">
                                <use xlink:href="#svg-public"></use>
                            </svg>
                            <!-- /TAG STICKER ICON -->
                        </div>
                        <!-- /TAG STICKER -->
                        <!-- USER SHORT DESCRIPTION -->
                        <div class="user-short-description small">
                            <!-- USER SHORT DESCRIPTION AVATAR -->
                            <a class="user-short-description-avatar user-avatar no-stats" href="Route/InfomationDetail?userId=@item.UserAccountId">
                                <!-- USER AVATAR BORDER -->
                                <div class="user-avatar-border">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-100-108" style="width: 100px; height: 108px; position: relative;"><canvas width="100" height="108" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR BORDER -->
                                <!-- USER AVATAR CONTENT -->
                                <div class="user-avatar-content">
                                    <!-- HEXAGON --> 
                                    <div class="hexagon-image-84-92" data-src="@((item.UserAccount.AvatarUrl == null ? "https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" : item.UserAccount.AvatarUrl))" style="width: 84px; height: 92px; position: relative;"><canvas width="84" height="92" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR CONTENT -->
                            </a>
                            <!-- /USER SHORT DESCRIPTION AVATAR -->
                            <!-- USER SHORT DESCRIPTION TITLE -->
                            <p class="user-short-description-title"><a href="group-timeline.html">@item.UserAccount.UserName</a></p>
                            <!-- /USER SHORT DESCRIPTION TITLE -->
                            <!-- USER SHORT DESCRIPTION TEXT -->
                            <p class="user-short-description-text">@item.UserAccount.Email</p>
                            <!-- /USER SHORT DESCRIPTION TEXT -->
                        </div>
                        <!-- /USER SHORT DESCRIPTION -->
                        <!-- USER STATS -->
                        <div class="user-stats">
                            <!-- USER STAT -->
                            <div class="user-stat">
                                <!-- USER STAT TITLE -->
                                <p class="user-stat-title">139</p>
                                <!-- /USER STAT TITLE -->
                                <!-- USER STAT TEXT -->
                                <p class="user-stat-text">members</p>
                                <!-- /USER STAT TEXT -->
                            </div>
                            <!-- /USER STAT -->
                            <!-- USER STAT -->
                            <div class="user-stat">
                                <!-- USER STAT TITLE -->
                                <p class="user-stat-title"> @(item.UserAccount.InteractWithPosts?.Where(o => o.InteractPostStatus == ZAlpha.Domain.Enums.InteractPostStatus.Create && o.IsDeleted == false).Count() == null ? 0 : item.UserAccount.InteractWithPosts?.Where(o => o.InteractPostStatus == ZAlpha.Domain.Enums.InteractPostStatus.Create && o.IsDeleted == false).Count())</p>
                                <!-- /USER STAT TITLE -->
                                <!-- USER STAT TEXT -->
                                <p class="user-stat-text">posts</p>
                                <!-- /USER STAT TEXT -->
                            </div>
                            <!-- /USER STAT -->
                            <!-- USER STAT -->
                            <div class="user-stat">
                                <!-- USER STAT TITLE -->
                                <p class="user-stat-title">7.3k</p>
                                <!-- /USER STAT TITLE -->
                                <!-- USER STAT TEXT -->
                                <p class="user-stat-text">visits</p>
                                <!-- /USER STAT TEXT -->
                            </div>
                            <!-- /USER STAT -->
                        </div>
                        <!-- /USER STATS -->
                    </div>
                    <!-- /USER PREVIEW INFO -->
                    <!-- USER PREVIEW FOOTER -->
                    <div class="user-preview-footer">
                        <!-- USER PREVIEW FOOTER ACTION -->
                        <div class="user-preview-footer-action full">
                            <!-- BUTTON -->
                            <a class="button small secondary" href="Route/InfomationDetail?userId=@item.UserAccountId">Xem chi tiết</a>
                            <!-- /BUTTON -->
                        </div>
                        <!-- /USER PREVIEW FOOTER ACTION -->
                    </div>
                    <!-- /USER PREVIEW FOOTER -->
                </div>
                <!-- /USER PREVIEW -->
            }           
        </div>
        <!-- /GRID -->
    </section>
</div>
