@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Recommend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Recommend</title>
    <link rel="stylesheet" href="~/assets/css/recommend.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-9xmf-sL9">
        <div class="auto-group-jjym-NXo">
            <p class="tm-kim-theo-tn-sjT">TÌM KIẾM THEO TÊN</p>
            <img class="auto-group-4tch-mpq" src="./assets/auto-group-4tch.png" />
            <p class="tm-kim-theo-th-UjF">TÌM KIẾM THEO THẺ</p>
            <div class="auto-group-brvk-CQM">
                <div class="auto-group-rn6h-en9">
                    <input class="auto-group-wght-bBb" type="checkbox" />
                    <p class="hc-ng-KNV">Học đường</p>
                </div>
                <div class="auto-group-w1f3-pq3">
                    <input class="rectangle-80-MKB" type="checkbox" />
                    <p class="gia-nh-s2d">Gia đình</p>
                </div>
                <div class="auto-group-mlbx-bDX">
                    <div class="rectangle-79-LS1">
                    </div>
                    <p class="cng-vic-fjB">Công việc</p>
                </div>
                <div class="auto-group-bei1-Cz1">
                    <div class="rectangle-78-xCV">
                    </div>
                    <p class="tnh-cm-Gys">Tình cảm</p>
                </div>
                <div class="auto-group-fzpy-Ccd">
                    <img class="auto-group-cgeh-Lyj" src="./assets/auto-group-cgeh.png" />
                    <p class="bn-b-gGu">Bạn bè</p>
                </div>
                <div class="auto-group-v2tf-14H">
                    <img class="auto-group-czch-9RP" src="./assets/auto-group-czch.png" />
                    <p class="ng-trang-la-UTf">Đồng trang lứa</p>
                </div>
                <div class="auto-group-lwnq-zgu">
                    <div class="rectangle-74-8o7">
                    </div>
                    <p class="stress-4gm">Stress</p>
                </div>
                <div class="auto-group-hdim-oPT">
                    <div class="rectangle-73-xGM">
                    </div>
                    <p class="p-lc-5rm">Áp lực</p>
                </div>
                <div class="auto-group-qatp-Di5">
                    <div class="rectangle-72-xff">
                    </div>
                    <p class="sc-kho-6G5">Sức khoẻ</p>
                </div>
                <div class="auto-group-xhcr-D5o">
                    <div class="rectangle-70-9k9">
                    </div>
                    <p class="ng-nghip-gk5">Đồng nghiệp</p>
                </div>
                <div class="auto-group-bru7-1GZ">
                    <div class="rectangle-75-wg1">
                    </div>
                    <p class="mi-trng-sZf">Môi trường</p>
                </div>
                <div class="auto-group-qabo-cGM">
                    <div class="rectangle-71-ZSV">
                    </div>
                    <p class="nhy-cm-hYh">Nhạy cảm</p>
                </div>
            </div>
            <p class="tm-kim-theo-v-tr-rK7">TÌM KIẾM THEO VỊ TRÍ</p>
            <div class="auto-group-bmzo-Lzy">
                <p class="tp-h-ch-minh-F6M">TP. Hồ Chí Minh</p>
                <img class="keyboardarrowdown-9Sd" src="./assets/keyboardarrowdown-S1B.png" />
            </div>
        </div>
        <div class="auto-group-bzho-TTK">
            <div class="auto-group-qlry-bJd">
                <p class="sp-xp-theo-j9w">Sắp xếp theo</p>
                <div class="auto-group-1dlh-Dqo">Lượt bình luận</div>
                <div class="auto-group-bbmo-hky">Lượt đánh giá</div>
                <div class="auto-group-k93j-n1j">
                    <p class="trnh--huP">Trình độ</p>
                    <img class="keyboardarrowdown-pDK" src="./assets/keyboardarrowdown-2Yd.png" />
                </div>
            </div>
            <div class="auto-group-roty-Kvm">
                <div class="psychologistcard-3Ly">
                    <img class="rectangle-85-XG9" src="./assets/rectangle-85-oQy.png" />
                    <div class="frame-1-3EV">
                        <p class="tn-NXf">Psy. Trần Phát</p>
                        <img class="checkcircle-Jw7" src="./assets/checkcircle-BoT.png" />
                    </div>
                    <p class="a-ch-SnR">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-qg1s-xkm">
                        <img class="image-7-5qP" src="./assets/image-7-dyP.png" />
                        <p class="s-lng-ReM">(83)</p>
                    </div>
                    <div class="auto-group-kbed-jf3">
                        <img class="chat-G9B" src="./assets/chat-Bwj.png" />
                        <p class="s-bnh-lun-zay">Đã viết 2k7 bình luận</p>
                    </div>
                    <div class="auto-group-d8jy-KNM">
                        <img class="arrowselectortool-TDf" src="./assets/arrowselectortool.png" />
                        <p class="s-truy-cp-BfT">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-6Gd">
                    <img class="rectangle-85-axV" src="./assets/rectangle-85-SkD.png" />
                    <div class="frame-1-VZf">
                        <p class="tn-DVf">Dr. Phương Phạm</p>
                        <img class="checkcircle-kkV" src="./assets/checkcircle-8g5.png" />
                    </div>
                    <p class="a-ch-HkR">Đồng Nai</p>
                    <div class="auto-group-etbf-Q4M">
                        <img class="image-7-Kx1" src="./assets/image-7-39w.png" />
                        <p class="s-lng-fky">(43)</p>
                    </div>
                    <div class="auto-group-nrsv-ad3">
                        <img class="chat-ufK" src="./assets/chat-e7f.png" />
                        <p class="s-bnh-lun-TRw">Đã viết 2k3 bình luận</p>
                    </div>
                    <div class="auto-group-emft-Bcq">
                        <img class="arrowselectortool-82H" src="./assets/arrowselectortool-N45.png" />
                        <p class="s-truy-cp-riy">Có 313 lượt truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-y2u">
                    <img class="rectangle-85-4q3" src="./assets/rectangle-85-U8V.png" />
                    <div class="frame-1-Bem">Psy. Tran Wind</div>
                    <p class="a-ch-Fed">Hà Nội</p>
                    <div class="auto-group-j7tj-mcy">
                        <img class="image-7-J77" src="./assets/image-7-8iH.png" />
                        <p class="s-lng-oJm">(16)</p>
                    </div>
                    <div class="auto-group-hfzw-Cbo">
                        <img class="chat-7yf" src="./assets/chat-rTo.png" />
                        <p class="s-bnh-lun-Sm3">Đã viết 1k9 bình luận</p>
                    </div>
                    <div class="auto-group-813k-Mt1">
                        <img class="arrowselectortool-gfP" src="./assets/arrowselectortool-6Z3.png" />
                        <p class="s-truy-cp-pFo">Có 101 lượt truy cập</p>
                    </div>
                </div>
            </div>
            <div class="auto-group-adkb-uY9">
                <div class="psychologistcard-1r5">
                    <img class="rectangle-85-iEh" src="./assets/rectangle-85-Je1.png" />
                    <div class="frame-1-QdK">
                        <p class="tn-8pD">Psy. Hoàng Yến</p>
                        <img class="checkcircle-U7P" src="./assets/checkcircle-Emb.png" />
                    </div>
                    <p class="a-ch-bxh">Hải Phòng</p>
                    <div class="auto-group-rgof-K81">
                        <img class="image-7-341" src="./assets/image-7-g4V.png" />
                        <p class="s-lng-Nry">(122)</p>
                    </div>
                    <div class="auto-group-jdu1-tqK">
                        <img class="chat-E8V" src="./assets/chat.png" />
                        <p class="s-bnh-lun-Anq">Đã viết 1k5 bình luận</p>
                    </div>
                    <div class="auto-group-bygy-5eu">
                        <img class="arrowselectortool-CzR" src="./assets/arrowselectortool-u57.png" />
                        <p class="s-truy-cp-Laq">Có 250 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-RMP">
                    <img class="rectangle-85-gHK" src="./assets/rectangle-85-4G5.png" />
                    <div class="frame-1-BE5">Psy. Nam Hoàng</div>
                    <p class="a-ch-TBb">Đồng Nai</p>
                    <div class="auto-group-n8jh-NJZ">
                        <img class="image-7-6VT" src="./assets/image-7-KKj.png" />
                        <p class="s-lng-SpD">(94)</p>
                    </div>
                    <div class="auto-group-csfs-Nhs">
                        <img class="chat-6tm" src="./assets/chat-eku.png" />
                        <p class="s-bnh-lun-3JD">Đã viết 1k bình luận</p>
                    </div>
                    <div class="auto-group-vps1-mV7">
                        <img class="arrowselectortool-UuK" src="./assets/arrowselectortool-rRs.png" />
                        <p class="s-truy-cp-pTP">Có 222 lượt truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-XMo">
                    <img class="rectangle-85-Rxy" src="./assets/rectangle-85-ey3.png" />
                    <div class="auto-group-jyid-kEZ">
                        <div class="frame-1-GTo">Dr. Tân Trường</div>
                        <img class="checkcircle-YgD" src="./assets/checkcircle.png" />
                    </div>
                    <p class="a-ch-g1j">Hà Nội</p>
                    <div class="auto-group-g73j-Pgq">
                        <img class="image-7-iUD" src="./assets/image-7-xBF.png" />
                        <p class="s-lng-TRo">(61)</p>
                    </div>
                    <div class="auto-group-ff9w-nDB">
                        <img class="chat-uHo" src="./assets/chat-vGD.png" />
                        <p class="s-bnh-lun-qx9">Đã viết 920 bình luận</p>
                    </div>
                    <div class="auto-group-sp1f-mau">
                        <img class="arrowselectortool-hzM" src="./assets/arrowselectortool-JLu.png" />
                        <p class="s-truy-cp-SS9">Có 101 lượt truy cập</p>
                    </div>
                </div>
            </div>
            <div class="auto-group-ibt1-Yzy">
                <div class="psychologistcard-5ED">
                    <img class="rectangle-85-yaV" src="./assets/rectangle-85-Wmj.png" />
                    <div class="frame-1-gzh">
                        <p class="tn-2Ym">Psy. Thomas Trần</p>
                        <img class="checkcircle-A9B" src="./assets/checkcircle-i4m.png" />
                    </div>
                    <p class="a-ch-tqs">Tp. Hồ Chí Minh</p>
                    <div class="auto-group-vugu-1vV">
                        <img class="image-7-9Wu" src="./assets/image-7-8rh.png" />
                        <p class="s-lng-JPo">(917)</p>
                    </div>
                    <div class="auto-group-g1gq-Qxd">
                        <img class="chat-LbP" src="./assets/chat-yS5.png" />
                        <p class="s-bnh-lun-t77">Đã viết 300 bình luận</p>
                    </div>
                    <div class="auto-group-zxmb-1Sd">
                        <img class="arrowselectortool-8GM" src="./assets/arrowselectortool-Ley.png" />
                        <p class="s-truy-cp-sDw">Có 501 truy cập</p>
                    </div>
                </div>
                <div class="psychologistcard-yXs">
                    <img class="rectangle-85-UzR" src="./assets/rectangle-85-oqf.png" />
                    <div class="frame-1-Pbb">
                        <p class="tn-Ww7">Dr. Trinh Mai</p>
                        <img class="checkcircle-3w3" src="./assets/checkcircle-f97.png" />
                    </div>
                    <p class="a-ch-zLV">Đồng Nai</p>
                    <div class="auto-group-4uvd-uyF">
                        <img class="image-7-SCV" src="./assets/image-7-juw.png" />
                        <p class="s-lng-Nbw">(4)</p>
                    </div>
                    <div class="auto-group-qsvz-heD">
                        <img class="chat-S61" src="./assets/chat-bSV.png" />
                        <p class="s-bnh-lun-nQm">Đã viết 105 bình luận</p>
                    </div>
                    <div class="auto-group-unzr-Wbf">
                        <img class="arrowselectortool-2a1" src="./assets/arrowselectortool-17K.png" />
                        <p class="s-truy-cp-ZK3">Có 10 lượt truy cập</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="auto-group-kmks-Fhf">
            <div class="psychologistcard-azq">
                <img class="rectangle-85-6CV" src="./assets/rectangle-85.png" />
                <div class="frame-1-bf3">
                    <p class="tn-vxD">Psy. Đặng Mai</p>
                    <img class="checkcircle-s6m" src="./assets/checkcircle-hqP.png" />
                </div>
                <p class="a-ch-zSH">Địa chỉ</p>
                <div class="auto-group-kcvy-hrV">
                    <img class="image-7-ELd" src="./assets/image-7.png" />
                    <p class="s-lng-mbT">(17)</p>
                </div>
                <div class="auto-group-cyjw-hV7">
                    <img class="chat-21b" src="./assets/chat-87X.png" />
                    <p class="s-bnh-lun-kyB">Đã viết 1k3 bình luận</p>
                </div>
                <div class="auto-group-tjdk-HTK">
                    <img class="arrowselectortool-R3j" src="./assets/arrowselectortool-p6H.png" />
                    <p class="s-truy-cp-9VX">Có 20 lượt truy cập</p>
                </div>
            </div>
            <div class="psychologistcard-46h">
                <img class="rectangle-85-aKw" src="./assets/rectangle-85-YXX.png" />
                <div class="frame-1-VC1">
                    <p class="tn-ajF">Psy. Trang Hoàng</p>
                    <img class="checkcircle-uWd" src="./assets/checkcircle-iTf.png" />
                </div>
                <p class="a-ch-2bF">Địa chỉ</p>
                <div class="auto-group-6erb-Lbw">
                    <img class="image-7-GVb" src="./assets/image-7-pSq.png" />
                    <p class="s-lng-cJZ">(51)</p>
                </div>
                <div class="auto-group-rbwk-8Gu">
                    <img class="chat-eW9" src="./assets/chat-TjB.png" />
                    <p class="s-bnh-lun-yYR">Đã viết 621 bình luận</p>
                </div>
                <div class="auto-group-n8rz-6d3">
                    <img class="arrowselectortool-pJ9" src="./assets/arrowselectortool-7vD.png" />
                    <p class="s-truy-cp-kBo">Có 182 lượt truy cập</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>