@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Ppychologist Info";
    Layout = "~/Views/Shared/Psychologist_Layout.cshtml";
}
<head>
    <title>Psychologist Profile</title>
    <style>
        .DescriptionPpychologistBox {
          
            border-radius: 7px;
            background-color: whitesmoke;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 1vw 2vw 1vw 2vw;
            margin-top: 2rem;
            flex-wrap: wrap;
            font-size:0.9rem;        }
    </style>
</head>


    
<div class="boxProfile">
   <div class="row">
       <div class="col-3">
            <img style="width: 12vw; display:block;  margin:0 auto; max-height: 15vw; border-radius: 10px" src="https://img.cand.com.vn/resize/800x800/NewFiles/Images/2023/06/01/313437324_530297825770289_851393-1685621442627.jpg" />
            <div style="padding: 0.1rem 0;">        
                <i class="fa-solid fa-star fa-xs" style="color:yellow"></i>
                <i class="fa-solid fa-star fa-xs" style="color:yellow"></i>
                <i class="fa-solid fa-star fa-xs" style="color:yellow"></i>
                <i class="fa-solid fa-star fa-xs" style="color:yellow"></i>
                <i class="fa-solid fa-star fa-xs" style="color:yellow"></i>
                <div style="display:inline-block; color: black; margin:auto 0; font-size: 12px; font-family: Inter; font-weight:400;">(5.0)</div>               
            </div>
            <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word; padding: 0.1rem 0;">Psy. Cao Hữu Thịnh</div>
            <div style=" color: #063C8E; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word; padding: 0.1rem 0;">102 Hoàng Diệu, Tp Thủ Đức, Tp. Hồ Chí Minh</div>
       </div>
       <div class="col-9">
            @*Mấy cái chỗ này đang k biết làm sao cho lên dữ liệu như nào luôn*@
            @*Database chưa có field cho mấy cái này nên set cứng đỡ*@
            <div>
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Lĩnh vực nghiên cứu</span>
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 400;  word-wrap: break-word"> : Tâm lý học lâm sàng<br /></span>
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 600;  word-wrap: break-word">Nơi công tác</span>
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 400;  word-wrap: break-word"> : Viện Tâm lý Việt - Pháp<br /></span>
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 600;  word-wrap: break-word">Chức vụ</span>
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 400;  word-wrap: break-word">: Viện trưởng Viện Tâm lý Việt - Pháp</span>
            </div>
            <div style="width: 70%; height: 0px; border: 1px #063C8E solid; margin:0.8rem 0;"></div>
            <div style="width: 455px">
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 600;  word-wrap: break-word">Các cột mốc nổi bật:<br /></span>
                <span style="color: black; font-size: 14px; font-family: Inter; font-weight: 400;  word-wrap: break-word">Phó chủ nhiệm Khoa các Khoa học Giáo dục, trường Đại học Giáo dục, Đại học Quốc gia Hồ Chí Minh<br />Cử nhân ĐHSP Gerxen, Leningrat (Liên Xô cũ)</span>
                
            </div>
            <br />
            <div class="row">
                <div class="col-5">
                    <div style="color: #063C8E; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word; margin-bottom:0.5rem;">
                        Số điện thoại
                    </div>
                    <div style="width: 12vw; font-size: 13px; height: 30px; background: white; border-radius: 10px; padding:0 0.5rem; display:flex; align-items: center;">
                        0987654321
                    </div>
                </div>
                <div class="col-7">
                    <div style="color: #063C8E; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word; margin-bottom:0.5rem;">
                        Email
                    </div>
                    <div style="width: 17vw; font-size: 13px; height: 30px; background: white; border-radius: 10px; padding:0 0.5rem; display:flex; align-items: center;">
                        chankongdinh@gmail.com
                    </div>
                </div>
            </div>
       </div>
   </div>

   <div class="row">
        <div class="DescriptionPpychologistBox">
            <p>
                “Tôi là Trần Minh Phát, nhà tâm lý học lâm sàng có kinh nghiệm hơn 4 năm trong lĩnh vực trị liệu tâm lý. Tôi đã giúp đỡ nhiều thân chủ vượt qua các vấn đề về sức khỏe tâm thần, bao gồm trầm cảm, lo âu, rối loạn ăn uống, rối loạn nhân cách và các vấn đề về tâm lý xã hội.
            </p>
            <p>
                Tôi tin rằng mỗi người đều có tiềm năng để tự chữa lành và phát triển. Mục tiêu của tôi là giúp thân chủ hiểu rõ hơn về bản thân, phát triển các kỹ năng ứng phó lành mạnh và xây dựng một cuộc sống hạnh phúc và trọn vẹn hơn.”
            </p>
       </div>
   </div>
</div>
