@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Spychologist Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>ProfilePsychologist</title>
    <link rel="stylesheet" href="~/assets/css/psychologists-info.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-qyhb-1t9">
        <div class="account-information-7gH" style="margin-left:-100px">
            <button class="auto-group-bzos-zVB" style="border:none;">
                <img class="image-5-us3" src="~/assets/images/image-5-xRj.png" />
                <p class="thng-tin-c-nhn-E8d">Thông tin cá nhân</p>
            </button>
            <button class="auto-group-h5nd-uEm" style="border:none;">
                <img class="person-EH3" src="~/assets/images/person-9Mo.png" />
                <p class="bi-vit-ca-ti-kWH">Bài viết (2)</p>
            </button>
            <button class="auto-group-gdnd-2yb" style="border:none;">
                <img class="auto-group-8zbb-A4D" src="~/assets/images/auto-group-8zbb.png" />
                <p class="bi-vit-lu-tku">Bình luận (2741)</p>
            </button>
            <button class="auto-group-g6sr-NAH" style="border:none;">
                <img class="auto-group-n2l5-r5T" src="~/assets/images/auto-group-n2l5.png" />
                <p class="lch-s-giao-dch-jQ9">Đánh giá (501)</p>
            </button>
        </div>
        <div class="auto-group-uomx-y3b">
            <div class="auto-group-5xnq-gCu">
                <div class="auto-group-7rgr-zDb">
                    <img class="rectangle-60-jBB" src="~/assets/images/rectangle-60.png" />
                    <p class="psy-trn-pht-RJu">Psy. Trần Phát</p>
                    <div class="auto-group-oma5-KfB">
                        <p class="item-43-fDF">(4.3)</p>
                        <img class="image-7-9PK" src="~/assets/images/image-7-ppd.png" />
                    </div>
                </div>
                <div class="auto-group-6shx-Tuo">
                    <div class="auto-group-9c4u-oyf">
                        <p class="lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR">
                            <span class="lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-0">Lĩnh vực nghiên cứu</span>
                            <span class="lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-1">
                                : Tâm lý học lâm sàng
                                <br />

                            </span>
                            <span class="lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-2">Nơi công tác</span>
                            <span class="lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-3">
                                : Viện Tâm lý Việt - Pháp
                                <br />

                            </span>
                            <span class="lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-4">Chức vụ</span>
                            <span class="lnh-vc-nghin-cu-tm-l-hc-lm-sng-ni-cng-tc-vin-tm-l-vit-php-chc-v-vin-trng-vin-tm-l-vit-php-AJR-sub-5">: Viện trưởng Viện Tâm lý Việt - Pháp</span>
                        </p>
                        <div class="auto-group-rypf-9bb">
                            <p class="nhn-xem-cc-th-HSu">Nhấn để xem các thẻ</p>
                            <img class="arrowdropdown-MxZ" src="~/assets/images/arrowdropdown.png" />
                        </div>
                    </div>
                    <div class="auto-group-frv9-H5X">
                        <div class="line-1-cdb">
                        </div>
                        <p class="cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs">
                            <span class="cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs-sub-0">
                                Các cột mốc nổi bật:
                                <br />

                            </span>
                            <span class="cc-ct-mc-ni-bt-ph-ch-nhim-khoa-cc-khoa-hc-gio-dc-trng-i-hc-gio-dc-i-hc-quc-gia-h-ch-minh-c-nhn-hsp-gerxen-leningrat-lin-x-c-wfs-sub-1">
                                Phó chủ nhiệm Khoa các Khoa học Giáo dục, trường Đại học Giáo dục, Đại học Quốc gia Hồ Chí Minh
                                <br />
                                Cử nhân ĐHSP Gerxen, Leningrat (Liên Xô cũ)
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <p class="hong-diu-tp-th-c-tp-h-ch-minh-YJH">102 Hoàng Diệu, Tp Thủ Đức, Tp. Hồ Chí Minh</p>
            <div class="auto-group-bzq5-1hf">
                <p class="s-in-thoi-8nH">Số điện thoại</p>
                <p class="email-riH">Email</p>
            </div>
            <div class="auto-group-fv2q-CGM">
                <div class="auto-group-f3df-XJd">0345578965</div>
                <div class="auto-group-2crt-aXo">phattran02@gmail.com</div>
            </div>
            <div class="auto-group-a9gh-Fdw">
                <p class="ti-l-trn-minh-pht-nh-tm-l-hc-lm-sng-c-kinh-nghim-hn-4-nm-trong-lnh-vc-tr-liu-tm-l-ti-gip-nhiu-thn-ch-vt-qua-cc-vn-v-sc-khe-tm-thn-bao-gm-trm-cm-lo-u-ri-lon-n-ung-ri-lon-nhn-cch-v-cc-vn-v-tm-l-x-hi-ti-tin-rng-mi-ngi-u-c-tim-nng-t-cha-lnh-v-pht-trin-mc-tiu-ca-ti-l-gip-thn-ch-hiu-r-hn-v-bn-thn-pht-trin-cc-k-nng-ng-ph-lnh-mnh-v-xy-dng-mt-cuc-sng-hnh-phc-v-trn-vn-hn-m6V">
                    “Tôi là Trần Minh Phát, nhà tâm lý học lâm sàng có kinh nghiệm hơn 4 năm trong lĩnh vực trị liệu tâm lý. Tôi đã giúp đỡ nhiều thân chủ vượt qua các vấn đề về sức khỏe tâm thần, bao gồm trầm cảm, lo âu, rối loạn ăn uống, rối loạn nhân cách và các vấn đề về tâm lý xã hội.
                    <br />

                    <br />
                    Tôi tin rằng mỗi người đều có tiềm năng để tự chữa lành và phát triển. Mục tiêu của tôi là giúp thân chủ hiểu rõ hơn về bản thân, phát triển các kỹ năng ứng phó lành mạnh và xây dựng một cuộc sống hạnh phúc và trọn vẹn hơn.”
                </p>
            </div>
            <div class="auto-group-evk9-K9w">
                <button class="auto-group-jqjd-35w" style="border:none">Viết đánh giá</button>
                <button class="auto-group-1c8m-hRP" style="border:none">Kết nối ngay bằng Zalo</button>
            </div>
        </div>
    </div>
</body>
</html>