@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Spychologist Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Spychologist Comment</title>
    <link rel="stylesheet" href="~/assets/css/psychologists-comment.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="account-information-7gH" style="margin-left:-100px;">
        <div class="auto-group-cnjx-ecm">
            <div class="account-information-kA1">
                <div class="auto-group-1wuy-WqK" style="border:none;">
                    <img class="person-CCM" src="~/assets/images/person-eqb.png" />
                    <a href="~/Psychologist/Index" style="text-decoration:none" class="bi-vit-ca-ti-L3f">Thông tin cá nhân</a>
                </div>
                <div class="auto-group-1wuy-WqK" style="border:none;">
                    <img class="person-CCM" src="~/assets/images/person-eqb.png" />
                    <a href="~/Psychologist/PsychologistPost" style="text-decoration:none" class="bi-vit-ca-ti-L3f">Bài viết (2)</a>
                </div>
                <div class="auto-group-hrrq-Cbf" style="border:none;">
                    <img class="auto-group-ibpr-VKs" src="~/assets/images/auto-group-ibpr.png" />
                    <a href="~/Psychologist/PsychologistComment" style="text-decoration:none" class="bi-vit-lu-cfP">Bình luận (135)</a>
                </div>
                <div class="auto-group-awdp-u8h" style="border:none;">
                    <img class="auto-group-z6fp-bnD" src="~/assets/images/auto-group-z6fp.png" />
                    <a href="~/Psychologist/PsychologistRating" style="text-decoration:none" class="lch-s-giao-dch-W8V">Đánh giá (525)</a>
                </div>
            </div>
            <div class="auto-group-x8pf-BEd">
                <p class="danh-sch-binh-lun-H2m">DANH SÁCH BÌNH LUẬN</p>
                <div class="auto-group-zdmw-yAV">
                    <div class="auto-group-vdft-U7F">
                        <button class="tag-1ss">Học đường</button>
                        <button class="tag-fhX">Gia đình</button>
                        <button class="tag-jSV">và 2 thẻ khác ...</button>
                        <img class="expandmore-nvZ" src="~/assets/images/expandmore-FkZ.png" />
                    </div>
                    <p class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-Kfb">
                        <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-Kfb-sub-0">Em đang trong mùa ôn thi đã rất áp lực điểm số rồi nhưng về nhà vẫn</span>
                        <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-Kfb-sub-1"> </span>
                        <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-Kfb-sub-2">...</span>
                        <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-Kfb-sub-3"> </span>
                        <a class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-Kfb-sub-4">xem thêm</a>
                    </p>
                </div>
                <div class="auto-group-qblh-MeD">
                    <img class="ellipse-5-GWH" src="~/assets/images/ellipse-5-azH.png" />
                    <div class="auto-group-d2gu-p21">
                        <div class="auto-group-5mz5-j8y">
                            <a class="windino-Fd7">Windino</a>
                            <p class="pht-trc-nd3">15 phút trước</p>
                        </div>
                        <p class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-hy-bt-u-t-vic-vit-li-mc-ch-l-do-chn-la-con-ng-ca-em-ly-n-lm-im-ta-mi-khi-i-din-vi-cm-xc-kh-chu-m-em-cp-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-uhf">
                            <span class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-hy-bt-u-t-vic-vit-li-mc-ch-l-do-chn-la-con-ng-ca-em-ly-n-lm-im-ta-mi-khi-i-din-vi-cm-xc-kh-chu-m-em-cp-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-uhf-sub-0">Em chỉ đang cảm thấy mệt mỏi, quá tải và cần sẻ chia thôi. Anh luôn ở đây hỗ trợ em, bản chất em có những suy nghĩ trên đã là một điểm tích cực, là điều đáng quý. Hãy bắt đầu từ việc viết lại mục đích, lý do chọn lựa con đường của em, để lấy nó làm điểm tựa mỗi khi đối diện với cảm xúc khó chịu mà em đề cập. Còn nếu được hãy tham gia một buổi hẹn ngắn với anh nếu em vẫn cảm thấy struggle: </span>
                            <span class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-hy-bt-u-t-vic-vit-li-mc-ch-l-do-chn-la-con-ng-ca-em-ly-n-lm-im-ta-mi-khi-i-din-vi-cm-xc-kh-chu-m-em-cp-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-uhf-sub-1">0948 483 304</span>
                        </p>
                        <button class="auto-group-gwmb-9XT">Edit</button>
                    </div>
                </div>
                <div class="auto-group-nkpr-13s">
                    <div class="auto-group-nbrd-6LD">
                        <button class="tag-2zZ">Công việc</button>
                        <button class="tag-va9">Gia đình</button>
                        <button class="tag-CXf">Stress</button>
                        <img class="expandmore-HZ7" src="~/assets/images/expandmore-ewF.png" />
                    </div>
                    <p class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-RfK">
                        <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-RfK-sub-0">Làm một ngày gần 12 tiếng nhưng khi về đến nhà vẫn không được nghỉ ngơi </span>
                        <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-RfK-sub-1"> </span>
                        <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-RfK-sub-2">...</span>
                        <span class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-RfK-sub-3"> </span>
                        <a class="lm-mt-ngy-gn-12-ting-nhng-khi-v-n-nh-vn-khng-c-ngh-ngi-xem-thm-RfK-sub-4">xem thêm</a>
                    </p>
                </div>
                <div class="auto-group-tzp5-s3T">
                    <img class="ellipse-22-aTf" src="~/assets/images/ellipse-22.png" />
                    <div class="auto-group-pgfo-7Ch">
                        <div class="auto-group-eagv-2Kf">
                            <a class="windino-kWZ">Windino</a>
                            <p class="pht-trc-t6y">15 phút trước</p>
                        </div>
                        <p class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-QLD">
                            <span class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-QLD-sub-0">Em chỉ đang cảm thấy mệt mỏi, quá tải và cần sẻ chia thôi. Anh luôn ở đây hỗ trợ em, bản chất em có những suy nghĩ trên đã là một điểm tích cực, là điều đáng quý.  Còn nếu được hãy tham gia một buổi hẹn ngắn với anh nếu em vẫn cảm thấy struggle: </span>
                            <span class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-QLD-sub-1">0948 483 304</span>
                        </p>
                        <button class="auto-group-jvlm-UN1">Edit</button>
                    </div>
                </div>
                <div class="auto-group-gley-YMs">
                    <div class="auto-group-bscd-3pR">
                        <button class="tag-zDs">Đồng trang lứa</button>
                        <button class="tag-dXj">Stress</button>
                        <img class="expandmore-HsB" src="~/assets/images/expandmore-n93.png" />
                    </div>
                    <p class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-Dkq">
                        <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-Dkq-sub-0">Lướt tiktok ai cũng lương tháng 100 triệu trong khi mình chỉ đủ mua ổ bánh mì</span>
                        <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-Dkq-sub-1"> </span>
                        <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-Dkq-sub-2">...</span>
                        <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-Dkq-sub-3"> </span>
                        <span class="lt-tiktok-ai-cng-lng-thng-100-triu-trong-khi-mnh-ch-mua-bnh-m-xem-thm-Dkq-sub-4">xem thêm</span>
                    </p>
                </div>
                <div class="auto-group-cueh-N9s">
                    <img class="ellipse-21-65s" src="~/assets/images/ellipse-21-LK7.png" />
                    <div class="auto-group-j9vw-dbb">
                        <div class="auto-group-q5up-MGh">
                            <a class="windino-5Ch">Windino</a>
                            <p class="pht-trc-oeV">15 phút trước</p>
                        </div>
                        <p class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-hy-bt-u-t-vic-vit-li-mc-ch-l-do-chn-la-con-ng-ca-em-ly-n-lm-im-ta-mi-khi-i-din-vi-cm-xc-kh-chu-m-em-cp-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-vz1">
                            <span class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-hy-bt-u-t-vic-vit-li-mc-ch-l-do-chn-la-con-ng-ca-em-ly-n-lm-im-ta-mi-khi-i-din-vi-cm-xc-kh-chu-m-em-cp-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-vz1-sub-0">Em chỉ đang cảm thấy mệt mỏi, quá tải và cần sẻ chia thôi. Anh luôn ở đây hỗ trợ em, bản chất em có những suy nghĩ trên đã là một điểm tích cực, là điều đáng quý. Hãy bắt đầu từ việc viết lại mục đích, lý do chọn lựa con đường của em, để lấy nó làm điểm tựa mỗi khi đối diện với cảm xúc khó chịu mà em đề cập. Còn nếu được hãy tham gia một buổi hẹn ngắn với anh nếu em vẫn cảm thấy struggle: </span>
                            <span class="em-ch-ang-cm-thy-mt-mi-qu-ti-v-cn-s-chia-thi-anh-lun-y-h-tr-em-bn-cht-em-c-nhng-suy-ngh-trn-l-mt-im-tch-cc-l-iu-ng-qu-hy-bt-u-t-vic-vit-li-mc-ch-l-do-chn-la-con-ng-ca-em-ly-n-lm-im-ta-mi-khi-i-din-vi-cm-xc-kh-chu-m-em-cp-cn-nu-c-hy-tham-gia-mt-bui-hn-ngn-vi-anh-nu-em-vn-cm-thy-struggle-0948-483-304-vz1-sub-1">0948 483 304</span>
                        </p>
                        <button class="auto-group-z35x-dos">Edit</button>
                    </div>
                </div>
                <div class="auto-group-us4z-W6y">
                    <button class="auto-group-95ad-M7b">1</button>
                    <button class="auto-group-ke3x-1T3">2</button>
                    <p class="item--gZB">...</p>
                    <button class="auto-group-sat5-CnR">50</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>