@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Spychologist Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Spychologist Rating</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-6jim-dob">
        <div class="auto-group-r4kf-kNR">
            <div class="auto-group-wcxx-4e1">
                @* <img class="image-8-CkD" src="./assets/image-8-Sd3.png" /> *@
                <div class="account-information-vRK">
                    <div class="auto-group-fbdf-Zz5">
                        <img class="image-9-3Xs" src="./assets/image-9-i8M.png" />
                        <div class="thng-tin-c-nhn-Ays">@Html.ActionLink("Thông tin cá nhân", "Info", "User", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>                        
                    </div>
                    <div class="auto-group-chxb-xeq">
                        <img class="person-2Po" src="./assets/person-Ery.png" />
                        <div class="bi-vit-ca-ti-9zD">@Html.ActionLink("Bài viết của tôi", "Index", "MyPost", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>
                    </div>
                    <div class="auto-group-gd9w-341">
                        <img class="commentbank-kDK" src="./assets/commentbank-iPf.png" />
                        <div class="bi-vit-lu-gsf">@Html.ActionLink("Bài viết đã lưu", "SavedPost", "SavePost", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>
                    </div>
                    <div class="auto-group-tm1f-ai9">
                        <img class="monetizationon-6Rb" src="./assets/monetizationon-MA5.png" />
                        <div class="lch-s-giao-dch-qPB">@Html.ActionLink("Thanh toán", "Transaction", "Transaction", null, htmlAttributes: new {@style="color: black; text-decoration: none; font-size: 1.2vw"})</div>
                    </div>
                </div>
            </div>
            <div class="auto-group-sxff-XWu">
                <div class="auto-group-lgwh-ebX">
                    <div class="auto-group-cdyz-zvH">
                        <div class="auto-group-mdbb-LUM">
                            <p class="hy-chn-gi-dch-v-ph-hp-nht-vi-nhu-cu-ca-bn-ezq">Hãy chọn gói dịch vụ phù hợp nhất với nhu cầu của bạn</p>
                            <p class="tr-ph-hng-thng-hoc-tit-kim-khng-vi-la-chn-theo-gi-nm-jmP">Trả phí hằng tháng hoặc tiết kiệm khủng với lựa chọn theo gói năm!</p>
                        </div>
                        <div class="auto-group-9vrh-Cey">
                            <div class="auto-group-8e1b-8Yd">
                                <img class="ellipse-11-4x5" src="./assets/ellipse-11.png" />
                                <img class="ellipse-12-ouf" src="./assets/ellipse-12.png" />
                                <img class="ellipse-13-joK" src="./assets/ellipse-13.png" />
                                <img class="ellipse-14-V1o" src="./assets/ellipse-14.png" />
                            </div>
                            <p class="windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9">
                                <span class="windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9-sub-0">
                                    Windo, Shiba, Pico và 4k5 người khác
                                    <br />

                                </span>
                                <span class="windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9-sub-1">đã trở thành Zalpha Membership!</span>
                            </p>
                        </div>
                        <div class="auto-group-skdx-jTs">
                            <div class="ellipse-9-fMX">
                            </div>
                            <p class="windino-AZB">Windino</p>
                            <p class="freemium-uFs">(Freemium)</p>
                        </div>
                    </div>
                    <div class="auto-group-gepd-q9X">
                        <div class="rectangle-111-iUD">
                        </div>
                        <div class="membership-2jo">
                            <p class="membership-2jo-text">Membership</p>                           
                        </div>                        
                        <div class="line-7-jPK">
                        </div>
                        <div class="rectangle-109-C21">
                        </div>
                        <div class="rectangle-110-iFF">
                        </div>
                        <div class="line-10-3YR">
                        </div>
                        <div class="line-10-4YR">
                        </div>
                        <div class="line-10-5YR">
                        </div>
                        <div class="line-10-6YR">
                        </div>
                        <div class="line-10-7YR">
                        </div>
                        <div class="line-10-8YR">
                        </div>
                        <div class="line-11-Bed">
                        </div>
                        <p class="monthly-Kkq">Monthly</p>
                        <p class="quaterly-Ros">Quaterly</p>
                        <p class="annually-Ydb">Annually</p>
                        <div class="frame-22-ruB">
                            <p class="item-49-nnq">49</p>
                            <p class="vnd-Knm">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-5-f5w">
                            <p class="item-129-ngM">129</p>
                            <p class="vnd-KwB">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-23-sSu">
                            <p class="item-499-Czy">499</p>
                            <p class="vnd-LrH">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-24-HWd">
                            <p class="item-249-R73">249</p>
                            <p class="vnd-MWV">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-4-u2D">
                            <p class="item-249-2sX">249</p>
                            <p class="vnd-aPF">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-6-KLq">Chọn</div>
                        <div class="frame-10-oG1">Chọn</div>
                        <div class="frame-9-fp1">Chọn</div>
                        <div class="frame-8-Y77">Chọn</div>
                        <div class="frame-7-ccm">Chọn</div>
                        <div class="rectangle-112-6Xw">
                        </div>
                        <div class="rectangle-113-cFP">
                        </div>
                        <div class="rectangle-114-8Ud">
                        </div>
                        <p class="member-G53">Member</p>
                        <p class="organization-nJH">Organization</p>
                        <p class="cooperator-VTb">Cooperator</p>
                    </div>
                </div>
                <div class="auto-group-gn2h-Ywf">
                    <div class="auto-group-5wj1-hZf">
                        <img class="auto-group-ccbw-Dnu" src="./assets/auto-group-ccbw.png" />
                    </div>
                    <div class="auto-group-uxu1-WX7">
                        <div class="frame-11-NZK">
                            <div class="auto-group-bnn9-WfX">
                                <img class="editdocument-CoF" src="./assets/editdocument.png" />
                                <p class="bi-vit-ca-bn-hk1">Bài viết của bạn</p>
                            </div>
                            <p class="lng-bi-post-m-bn-c-th-vit-v-vn-ca-mnh-c6H">Lượng bài post mà bạn có thể viết về vấn đề của mình</p>
                        </div>
                        <div class="auto-group-rwnd-Tsb">
                            <div class="auto-group-bckm-byo">
                                <img class="cancel-gEZ" src="./assets/cancel.png" />
                                <p class="b-gii-hn-bMX">Bị giới hạn</p>
                            </div>
                            <div class="frame-18-Uw7">
                                <img class="checkcircle-1g9" src="./assets/checkcircle-q9P.png" />
                                <p class="khng-gii-hn-h3B">Không giới hạn</p>
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-shk1-13s">
                        <div class="frame-12-uf3">
                            <div class="auto-group-tte1-EhK">
                                <img class="chatbubble-mhF" src="./assets/chatbubble.png" />
                                <p class="bnh-lun-hqo">Bình luận</p>
                            </div>
                            <p class="xem-gp-quan-im-t-chuyn-gia-v-ngi-h-tr-cm-xc-di-mi-bi-vit-qh7">Xem góp ý, quan điểm từ chuyên gia và người hỗ trợ cảm xúc dưới mỗi bài viết</p>
                        </div>
                        <img class="auto-group-qzuk-KMP" src="./assets/auto-group-qzuk.png" />
                        <p class="ch-bnh-lun-t-ngi-dng-2mb">Chỉ bình luận từ người dùng</p>
                        <div class="frame-19-v6H">
                            <img class="checkcircle-4CV" src="./assets/checkcircle-UMB.png" />
                            <p class="khng-gii-hn-C3o">Không giới hạn</p>
                        </div>
                    </div>
                    <div class="auto-group-7nqb-7Am">
                        <div class="frame-13-F25">
                            <div class="auto-group-2trx-zVT">
                                <img class="cloudupload-85s" src="./assets/cloudupload.png" />
                                <p class="lu-tr-ni-dung-4ER">Lưu trữ nội dung</p>
                            </div>
                            <p class="lu-li-nhng-vn-bn-quan-tm-hoc-nhng-bi-vit-ng-ch--PXb">Lưu lại những vấn đề bạn quan tâm hoặc những bài viết đáng chú ý</p>
                        </div>
                        <img class="cancel-sxZ" src="./assets/cancel-BYZ.png" />
                        <p class="cha-h-tr-obK">Chưa hỗ trợ</p>
                        <div class="frame-18-iiH">
                            <img class="checkcircle-5Yq" src="./assets/checkcircle-xbw.png" />
                            <p class="c-h-tr-cYm">Có hỗ trợ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auto-group-xwmj-vJZ">
            <div class="frame-15-ot9">
                <div class="auto-group-uw6m-koP">
                    <img class="filteralt-NJy" src="./assets/filteralt.png" />
                    <p class="phn-loi-ni-dung-JyK">Phân loại nội dung</p>
                </div>
                <p class="h-thng-tm-kim-v-phn-loi-nhng-vn-bn-quan-tm-e1b">Hệ thống tìm kiếm và phân loại những vấn đề bạn quan tâm</p>
            </div>
            <img class="cancel-Lf7" src="./assets/cancel-rsF.png" />
            <p class="cha-h-tr-fhP">Chưa hỗ trợ</p>
            <div class="frame-18-nX7">
                <img class="checkcircle-YFP" src="./assets/checkcircle-weV.png" />
                <p class="c-h-tr-sYZ">Có hỗ trợ</p>
            </div>
        </div>
        <div class="auto-group-teff-18y">
            <div class="auto-group-k8aq-7ho">
                <div class="auto-group-9gnq-Szy">
                    <img class="datalossprevention-abP" src="./assets/datalossprevention.png" />
                    <p class="tm-hiu-chuyn-gia-Wzq">Tìm hiểu chuyên gia</p>
                </div>
                <p class="xem-profile-chuyn-gia-tm-hiu-h-trc-khi-kt-ni-T9P">Xem profile chuyên gia để tìm hiểu họ trước khi kết nối</p>
            </div>
            <div class="auto-group-jziq-x69">
                <img class="cancel-GsX" src="./assets/cancel-qos.png" />
                <p class="ch-truy-cp-c-thng-tin-c-bn-REd">Chỉ truy cập được thông tin cơ bản</p>
            </div>
            <div class="frame-18-ijX">
                <img class="checkcircle-Gm3" src="./assets/checkcircle-Niy.png" />
                <p class="truy-cp-nng-cao-mi-thng-tin-oW5">Truy cập nâng cao mọi thông tin</p>
            </div>
        </div>
        <div class="auto-group-jskw-isw">
            <div class="frame-16-Sow">
                <div class="auto-group-cw4u-PjB">
                    <img class="importcontacts-XKb" src="./assets/importcontacts.png" />
                    <p class="kho-ni-dung-zalpha-G2H">Kho nội dung Zalpha</p>
                </div>
                <p class="tng-hp-cc-bi-test-tm-l-l-trnh-t-cha-lnh-kt-hp-podcast-m-nhc-thin-nh-gip-relax-gim-stress-yhP">Tổng hợp các bài test tâm lý, lộ trình tự chữa lành kết hợp podcast, âm nhạc thiền định, giúp relax, giảm stress</p>
            </div>
            <img class="cancel-EdK" src="./assets/cancel-unV.png" />
            <p class="cha-h-tr-Ams">Chưa hỗ trợ</p>
            <div class="frame-18-69j">
                <img class="checkcircle-3Ks" src="./assets/checkcircle-EsP.png" />
                <p class="c-h-tr-BBB">Có hỗ trợ</p>
            </div>
        </div>
    </div>
    <style>
        html {
            font-size: 62.5%;
        }

        ul, li {
            list-style: none;
        }

        input {
            border: none;
        }

        body {
            width: auto;
        }

        .auto-group-6jim-dob {
            margin: 3rem 8.9rem 24.7rem 7.5rem;
            width: calc(100% - 16.4rem);
            height: 71.8rem;
            display: flex;
            align-items: flex-start;
        }

            .auto-group-6jim-dob .auto-group-r4kf-kNR {
                width: 100%;
                height: 57.3rem;
                /* position: absolute; */
                /* left: 4.9rem; */
                /* top: 5.6rem; */
                display: flex;
                align-items: center;
            }

                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 {
                    width: 30%;
                    height: 100%;
                    margin-right: 4.7rem;
                    margin-left: -10vw;
                    position: relative;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .image-8-CkD {
                        width: 10.2rem;
                        height: 8.6rem;
                        position: absolute;
                        left: 1.7rem;
                        top: 0.3rem;
                        object-fit: cover;
                        vertical-align: top;
                    }

                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK {
                        box-sizing: border-box;
                        padding: 3.4rem 1.6rem 1.6rem 1.6rem;
                        width: 100%;
                        height: 36.5rem;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        background-color: #ffffff;
                        border-radius: 2rem;
                        row-gap: 2.5rem;
                    }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-fbdf-Zz5 {
                            box-sizing: border-box;
                            padding: 0.5rem 8.7rem 0.5rem 0.9rem;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #ffffff;
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-fbdf-Zz5 .rectangle-23-ULM {
                                width: 31.6rem;
                                height: 7rem;
                                cursor: pointer;
                                position: absolute;
                                left: 1.2rem;
                                top: 1.1rem;
                                background-color: #ffffff;
                                border-radius: 2rem;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-fbdf-Zz5 .thng-tin-c-nhn-Ays {
                                margin-top: 0.3rem;
                                font-size: 2rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #000000;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-fbdf-Zz5 .image-9-3Xs {
                                margin-right: 1rem;
                                margin-left: 0.3rem;
                                max-width: 5rem;
                                width: 100%;
                                height: 5rem;
                                object-fit: cover;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-chxb-xeq {
                            box-sizing: border-box;
                            padding: 0.5rem 8.7rem 0.5rem 0.9rem;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #ffffff;
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-chxb-xeq .person-2Po {
                                margin-right: 1rem;
                                margin-left: 0.3rem;
                                max-width: 5rem;
                                width: 100%;
                                height: 5rem;
                                object-fit: cover;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-chxb-xeq .bi-vit-ca-ti-9zD {
                                margin-top: 0.1rem;
                                cursor: pointer;
                                font-size: 2rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #000000;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-gd9w-341 {
                            box-sizing: border-box;
                            padding: 0.5rem 8.7rem 0.5rem 0.9rem;
                            width: 100%;
                            height: 7rem;
                            display: flex;
                            align-items: center;
                            background-color: #ffffff;
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-gd9w-341 .commentbank-kDK {
                                margin-right: 1rem;
                                margin-left: 0.3rem;
                                max-width: 5rem;
                                width: 100%;
                                height: 5rem;
                                cursor: pointer;
                                position: relative;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-gd9w-341 .bi-vit-lu-gsf {
                                margin-top: 0.1rem;
                                cursor: pointer;
                                font-size: 2rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #000000;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-tm1f-ai9 {
                            box-sizing: border-box;
                            padding: 0.4rem 5.8rem 0.6rem 0.8rem;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #fbd78f;
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-tm1f-ai9 .monetizationon-6Rb {
                                margin-right: 1rem;
                                margin-left: 0.3rem;
                                max-width: 5rem;
                                width: 100%;
                                height: 5rem;
                                cursor: pointer;
                                position: relative;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-wcxx-4e1 .account-information-vRK .auto-group-tm1f-ai9 .lch-s-giao-dch-qPB {
                                margin-top: 0.1rem;
                                font-size: 2rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #000000;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu {
                    margin: 0.3rem 0rem 0.2rem 0rem;
                    width: 90.5rem;
                    height: calc(100% - 0.5rem);
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX {
                        width: 100%;
                        height: 36.8rem;
                        display: flex;
                        align-items: flex-start;
                        flex-shrink: 0;
                    }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH {
                            margin-right: 6.2rem;
                            width: 43rem;
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-mdbb-LUM {
                                margin-bottom: 0.4rem;
                                box-sizing: border-box;
                                padding: 2.1rem 1.3rem 1.9rem 1.3rem;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                background-color: #fffbdd;
                                border-radius: 1rem;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-mdbb-LUM .hy-chn-gi-dch-v-ph-hp-nht-vi-nhu-cu-ca-bn-ezq {
                                    margin-bottom: 0.6rem;
                                    max-width: 37.8rem;
                                    font-size: 2rem;
                                    font-weight: 600;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-mdbb-LUM .tr-ph-hng-thng-hoc-tit-kim-khng-vi-la-chn-theo-gi-nm-jmP {
                                    margin-left: 0.3rem;
                                    max-width: 35.5rem;
                                    font-size: 1.4rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey {
                                box-sizing: border-box;
                                padding: 5.2rem 1rem 0.3rem 14.3rem;
                                width: 100%;
                                align-items: flex-end;
                                display: flex;
                                flex-direction: column;
                                background-size: 100% 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-image: url('../assets/rectangle-86-bg-twP.png');
                                border-radius: 1rem;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .auto-group-8e1b-8Yd {
                                    margin-bottom: 0.2rem;
                                    width: 9.2rem;
                                    height: 2.4rem;
                                    position: relative;
                                    flex-shrink: 0;
                                }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .auto-group-8e1b-8Yd .ellipse-11-4x5 {
                                        width: 2.8rem;
                                        height: 2.4rem;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        object-fit: contain;
                                        vertical-align: top;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .auto-group-8e1b-8Yd .ellipse-12-ouf {
                                        width: 2.6rem;
                                        height: 2.4rem;
                                        position: absolute;
                                        left: 2.2rem;
                                        top: 0;
                                        object-fit: contain;
                                        vertical-align: top;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .auto-group-8e1b-8Yd .ellipse-13-joK {
                                        width: 2.7rem;
                                        height: 2.4rem;
                                        position: absolute;
                                        left: 4.4rem;
                                        top: 0;
                                        object-fit: contain;
                                        vertical-align: top;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .auto-group-8e1b-8Yd .ellipse-14-V1o {
                                        width: 2.8rem;
                                        height: 2.4rem;
                                        position: absolute;
                                        left: 6.4rem;
                                        top: 0;
                                        object-fit: contain;
                                        vertical-align: top;
                                    }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9 {
                                    max-width: 27.7rem;
                                    text-align: right;
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                    line-height: 1.2102272034;
                                    color: #ffffff;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9 .windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9-sub-0 {
                                        font-size: 1.5rem;
                                        font-weight: 700;
                                        line-height: 1.2125;
                                        color: #ffffff;
                                        font-family: Inter, 'Source Sans Pro';
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-9vrh-Cey .windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9 .windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9-sub-1 {
                                        font-size: 1.5rem;
                                        font-weight: 400;
                                        line-height: 1.2125;
                                        color: #000000;
                                        font-family: Inter, 'Source Sans Pro';
                                    }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-skdx-jTs {
                                box-sizing: border-box;
                                padding: 1rem 1.7rem 0rem 35.7rem;
                                width: 100%;
                                align-items: flex-end;
                                display: flex;
                                flex-direction: column;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-skdx-jTs .ellipse-9-fMX {
                                    margin: 0rem 0.5rem 0.1rem 0rem;
                                    width: 5rem;
                                    height: 5rem;
                                    background-size: 100% 100%;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-image: url('../assets/ellipse-9-bg-q6V.png');
                                    border-radius: 2.5rem;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-skdx-jTs .windino-AZB {
                                    margin-bottom: 0.2rem;
                                    font-size: 1.4rem;
                                    font-weight: 600;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-cdyz-zvH .auto-group-skdx-jTs .freemium-uFs {
                                    width: 100%;
                                    text-align: center;
                                    font-size: 0.8rem;
                                    font-weight: 500;
                                    line-height: 1.2125;
                                    color: #484ff0;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X {
                            width: 41.3rem;
                            height: 100%;
                            position: relative;                            
                            box-sizing: border-box;
                            flex-shrink: 0;                          
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .rectangle-111-iUD {
                                width: 13rem;
                                height: 4.4rem;
                                position: absolute;
                                left: 26.1rem;
                                top: 5rem;
                                background-color: #92ccd0;
                                border-top: solid 0.1rem black;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .membership-2jo {
                                width: 95%;
                                height: 14%;
                                margin: 0px 0px 0px 0px;
                                position: absolute;
                                border: solid 0.1rem black;
                                border-bottom: none;
                                text-align: center;
                                font-size: 2rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #484ff0;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .membership-2jo .membership-2jo-text {
                                margin-top: 1.3rem;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-7-jPK {
                                width: 0.1rem;
                                height: 74.8rem;
                                position: absolute;
                                left: 39.1rem;
                                top: 5rem;
                                z-index: 2;
                                background-color: #000000;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-9-4Rb {
                                width: 38.9012rem;
                                height: 0.1rem;
                                position: absolute;
                                left: 0.1rem;
                                top: 5rem;
                                background-color: #000000;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .rectangle-109-C21 {
                                width: 13.1rem;
                                height: 4.4rem;
                                position: absolute;
                                border-top: solid 0.1rem black;
                                top: 5rem;
                                background-color: #92ccd0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .rectangle-110-iFF {
                                width: 12.9rem;
                                height: 4.4rem;
                                position: absolute;
                                left: 13.1rem;
                                top: 5rem;
                                border-top: solid 0.1rem black;
                                background-color: #92ccd0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-10-3YR {
                                width: 0.1rem;
                                height: 31.8rem;
                                position: absolute;
                                left: 13.1rem;
                                top: 5rem;
                                background-color: #000000;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-10-4YR {
                                width: 0.1rem;
                                height: 74.8rem;
                                position: absolute;
                                left: 0rem;
                                top: 5rem;
                                background-color: #000000;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-10-5YR {
                                width: 88.3rem;
                                height: 0.1rem;
                                position: absolute;
                                left: -49.1rem;
                                top: 36.8rem;
                                background-color: #000000;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-10-6YR {
                                width: 88.3rem;
                                height: 0.1rem;
                                position: absolute;
                                left: -49.1rem;
                                top: 79.8rem;
                                background-color: #000000;
                            }
                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-10-7YR {
                                width: 0.01rem;
                                height: 42.9rem;
                                position: absolute;
                                left: -49.1rem;
                                top: 36.9rem;
                                background-color: #000000;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-10-8YR {
                                width: 0.01rem;
                                height: 42.9rem;
                                position: absolute;
                                left: -20.1rem;
                                top: 36.9rem;
                                background-color: #000000;
                            }
                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .line-11-Bed {
                                width: 0.1rem;
                                height: 31.8rem;
                                position: absolute;
                                left: 26rem;
                                top: 5rem;
                                background-color: #000000;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .monthly-Kkq {
                                width: 7.4rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 3.2rem;
                                top: 6.1rem;
                                font-size: 1.8rem;
                                font-weight: 800;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .quaterly-Ros {
                                width: 7.8rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 16.2rem;
                                top: 6.1rem;
                                font-size: 1.8rem;
                                font-weight: 800;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .annually-Ydb {
                                width: 8rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 29rem;
                                top: 6.1rem;
                                font-size: 1.8rem;
                                font-weight: 800;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-22-ruB {
                                width: 6.5rem;
                                height: 3.7rem;
                                position: absolute;
                                left: 3.2rem;
                                top: 10rem;
                                display: flex;
                                align-items: center;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-22-ruB .item-49-nnq {
                                    margin-right: 0.3rem;
                                    font-size: 3rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-22-ruB .vnd-Knm {
                                    max-width: 2.4rem;
                                    font-size: 1.1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-5-f5w {
                                width: 7.8rem;
                                height: 3.7rem;
                                position: absolute;
                                left: 15.7rem;
                                top: 10rem;
                                display: flex;
                                align-items: center;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-5-f5w .item-129-ngM {
                                    margin-right: 0.3rem;
                                    font-size: 3rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-5-f5w .vnd-KwB {
                                    max-width: 2.4rem;
                                    font-size: 1.1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-23-sSu {
                                width: 8.4rem;
                                height: 3.7rem;
                                position: absolute;
                                left: 28rem;
                                top: 10.2rem;
                                display: flex;
                                align-items: center;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-23-sSu .item-499-Czy {
                                    margin-right: 0.3rem;
                                    font-size: 3rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-23-sSu .vnd-LrH {
                                    max-width: 2.4rem;
                                    font-size: 1.1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-24-HWd {
                                width: 8.3rem;
                                height: 3.7rem;
                                position: absolute;
                                left: 28rem;
                                top: 20.3rem;
                                display: flex;
                                align-items: center;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-24-HWd .item-249-R73 {
                                    margin-right: 0.3rem;
                                    font-size: 3rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-24-HWd .vnd-MWV {
                                    max-width: 2.4rem;
                                    font-size: 1.1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-4-u2D {
                                width: 8.3rem;
                                height: 3.7rem;
                                position: absolute;
                                left: 28rem;
                                top: 29.1rem;
                                display: flex;
                                align-items: center;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-4-u2D .item-249-2sX {
                                    margin-right: 0.3rem;
                                    font-size: 3rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-4-u2D .vnd-aPF {
                                    max-width: 2.4rem;
                                    font-size: 1.1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    flex-shrink: 0;
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-6-KLq {
                                width: 6rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 3.4rem;
                                top: 14.4rem;
                                overflow: hidden;
                                font-size: 1rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #21cbfd;
                                border-radius: 3rem;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-10-oG1 {
                                width: 6rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 29.5rem;
                                top: 33.4rem;
                                overflow: hidden;
                                font-size: 1rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #21cbfd;
                                border-radius: 3rem;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-9-fp1 {
                                width: 6rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 29.5rem;
                                top: 24.7rem;
                                overflow: hidden;
                                font-size: 1rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #21cbfd;
                                border-radius: 3rem;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-8-Y77 {
                                width: 6rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 29.5rem;
                                top: 14.6rem;
                                overflow: hidden;
                                font-size: 1rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #21cbfd;
                                border-radius: 3rem;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .frame-7-ccm {
                                width: 6rem;
                                height: 2.2rem;
                                position: absolute;
                                left: 16.6rem;
                                top: 14.4rem;
                                overflow: hidden;
                                font-size: 1rem;
                                font-weight: 500;
                                line-height: 1.2125;
                                color: #ffffff;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #21cbfd;
                                border-radius: 3rem;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .rectangle-112-6Xw {
                                width: 2.3rem;
                                height: 9.1rem;
                                position: absolute;
                                left: 39rem;
                                top: 9.4rem;
                                background-color: #f7efe2;
                                border-radius: 0 6rem 6rem 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .rectangle-113-cFP {
                                width: 2.3rem;
                                height: 9.2rem;
                                position: absolute;
                                left: 39rem;
                                top: 18.5rem;
                                background-color: #fff5d8;
                                border-radius: 0 6rem 6rem 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .rectangle-114-8Ud {
                                width: 2.3rem;
                                height: 9.1rem;
                                position: absolute;
                                left: 39rem;
                                top: 27.7rem;
                                background-color: #FFFFFF;
                                border-radius: 0 6rem 6rem 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .member-G53 {
                                width: 1.3rem;
                                height: 4.9rem;
                                position: absolute;
                                left: 91%;
                                top: 27%;
                                font-size: 1rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #3bb3ac;
                                font-family: Inter, 'Source Sans Pro';
                                transform: rotate(90deg);
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .organization-nJH {
                                width: 1.3rem;
                                height: 6.1rem;
                                position: absolute;
                                left: 90%;
                                top: 73%;
                                font-size: 1rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #3bb3ac;
                                font-family: Inter, 'Source Sans Pro';
                                transform: rotate(90deg);
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-lgwh-ebX .auto-group-gepd-q9X .cooperator-VTb {
                                width: 1.3rem;
                                height: 6.1rem;
                                position: absolute;
                                left: 90%;
                                top: 49%;
                                font-size: 1rem;
                                font-weight: 600;
                                line-height: 1.2125;
                                color: #3bb3ac;
                                font-family: Inter, 'Source Sans Pro';
                                transform: rotate(90deg);
                            }

                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                    }

                        /* .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-5wj1-hZf {
                            margin-bottom: 1rem;
                            box-sizing: border-box;
                            padding-left: 0.1rem;
                            border-left: solid 0.1rem #000000;
                            flex-shrink: 0;
                        } */

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-5wj1-hZf .auto-group-ccbw-Dnu {
                                width: 88.1rem;
                                height: 0.1rem;
                                object-fit: contain;
                                vertical-align: top;
                            }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 {
                            margin: 0rem 25.9rem 1rem 2.4rem;
                            width: calc(100% - 28.3rem);
                            height: 5.7rem;
                            display: flex;
                            align-items: center;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .frame-11-NZK {
                                width: 23.4rem;
                                height: 100%;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .frame-11-NZK .auto-group-bnn9-WfX {
                                    margin: 0rem 6.3rem 0rem 0rem;
                                    width: calc(100% - 6.3rem);
                                    display: flex;
                                    align-items: flex-start;
                                }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .frame-11-NZK .auto-group-bnn9-WfX .editdocument-CoF {
                                        margin-right: 0.8rem;
                                        width: 2.4rem;
                                        height: 2.4rem;
                                        position: relative;
                                        object-fit: contain;
                                        vertical-align: top;
                                        flex-shrink: 0;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .frame-11-NZK .auto-group-bnn9-WfX .bi-vit-ca-bn-hk1 {
                                        text-align: center;
                                        font-size: 1.8rem;
                                        font-weight: 500;
                                        line-height: 1.2125;
                                        color: #000000;
                                        font-family: Inter, 'Source Sans Pro';
                                        white-space: nowrap;
                                        flex-shrink: 0;
                                    }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .frame-11-NZK .lng-bi-post-m-bn-c-th-vit-v-vn-ca-mnh-c6H {
                                    max-width: 23.4rem;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .auto-group-rwnd-Tsb {
                                box-sizing: border-box;
                                padding-left: 3.2rem;
                                height: 100%;
                                display: flex;
                                align-items: flex-start;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .auto-group-rwnd-Tsb .auto-group-bckm-byo {
                                    margin: 0rem 10.9rem 3.1rem 0rem;
                                    box-sizing: border-box;
                                    padding: 0.2rem 0rem 0rem 3rem;
                                    display: flex;
                                    align-items: center;
                                    flex-shrink: 0;
                                }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .auto-group-rwnd-Tsb .auto-group-bckm-byo .cancel-gEZ {
                                        margin-right: 0.6rem;
                                        width: 2.4rem;
                                        height: 2.4rem;
                                        position: relative;
                                        object-fit: contain;
                                        vertical-align: top;
                                        flex-shrink: 0;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .auto-group-rwnd-Tsb .auto-group-bckm-byo .b-gii-hn-bMX {
                                        font-size: 1.3rem;
                                        font-weight: 400;
                                        line-height: 1.2125;
                                        color: #000000;
                                        font-family: Inter, 'Source Sans Pro';
                                        white-space: nowrap;
                                        flex-shrink: 0;
                                    }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .auto-group-rwnd-Tsb .frame-18-Uw7 {
                                    margin-bottom: 2.9rem;
                                    display: flex;
                                    align-items: center;
                                    flex-shrink: 0;
                                }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .auto-group-rwnd-Tsb .frame-18-Uw7 .checkcircle-1g9 {
                                        margin-right: 0.5rem;
                                        width: 2.4rem;
                                        height: 2.4rem;
                                        position: relative;
                                        object-fit: contain;
                                        vertical-align: top;
                                        flex-shrink: 0;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-uxu1-WX7 .auto-group-rwnd-Tsb .frame-18-Uw7 .khng-gii-hn-h3B {
                                        font-size: 1.3rem;
                                        font-weight: 400;
                                        line-height: 1.2125;
                                        color: #000000;
                                        font-family: Inter, 'Source Sans Pro';
                                        white-space: nowrap;
                                        flex-shrink: 0;
                                    }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s {
                            margin: 0rem 0rem 0.7rem 2.3rem;
                            height: 5.8rem;
                            display: flex;
                            align-items: center;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-12-uf3 {
                                margin: 0rem 3.4rem 0.3rem 0rem;
                                width: 23.3rem;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-12-uf3 .auto-group-tte1-EhK {
                                    margin: 0rem 12rem 0rem 0rem;
                                    width: calc(100% - 12rem);
                                    display: flex;
                                    align-items: flex-start;
                                }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-12-uf3 .auto-group-tte1-EhK .chatbubble-mhF {
                                        margin-right: 0.9rem;
                                        width: 2.4rem;
                                        height: 2.4rem;
                                        position: relative;
                                        object-fit: contain;
                                        vertical-align: top;
                                        flex-shrink: 0;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-12-uf3 .auto-group-tte1-EhK .bnh-lun-hqo {
                                        font-size: 1.8rem;
                                        font-weight: 500;
                                        line-height: 1.2125;
                                        color: #000000;
                                        font-family: Inter, 'Source Sans Pro';
                                        white-space: nowrap;
                                        flex-shrink: 0;
                                    }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-12-uf3 .xem-gp-quan-im-t-chuyn-gia-v-ngi-h-tr-cm-xc-di-mi-bi-vit-qh7 {
                                    max-width: 23.3rem;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .auto-group-qzuk-KMP {
                                margin: -1.2rem 1rem 0rem 2.9rem;
                                width: 24px;
                                height: 24px;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .ch-bnh-lun-t-ngi-dng-2mb {
                                margin: 0rem 4.1rem 1rem 0rem;
                                max-width: 13.3rem;
                                font-size: 1.3rem;
                                font-weight: 400;
                                line-height: 1.2125;
                                color: #000000;
                                font-family: Inter, 'Source Sans Pro';
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-19-v6H {
                                margin: 1rem 0rem 2.4rem 0.5rem;
                                height: calc(100% - 3.4rem);
                                display: flex;
                                align-items: center;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-19-v6H .checkcircle-4CV {
                                    margin-right: 0.5rem;
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    position: relative;
                                    object-fit: contain;
                                    vertical-align: top;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-shk1-13s .frame-19-v6H .khng-gii-hn-C3o {
                                    font-size: 1.3rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

                        .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am {
                            margin-left: 2.4rem;
                            height: 5.7rem;
                            display: flex;
                            align-items: flex-start;
                            flex-shrink: 0;
                        }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-13-F25 {
                                margin-right: 6.5rem;
                                width: 23.1rem;
                                height: 100%;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-13-F25 .auto-group-2trx-zVT {
                                    margin: 0rem 5.6rem 0rem 0rem;
                                    width: calc(100% - 5.6rem);
                                    display: flex;
                                    align-items: flex-start;
                                }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-13-F25 .auto-group-2trx-zVT .cloudupload-85s {
                                        margin-right: 0.9rem;
                                        width: 2.4rem;
                                        height: 2.4rem;
                                        position: relative;
                                        object-fit: contain;
                                        vertical-align: top;
                                        flex-shrink: 0;
                                    }

                                    .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-13-F25 .auto-group-2trx-zVT .lu-tr-ni-dung-4ER {
                                        font-size: 1.8rem;
                                        font-weight: 500;
                                        line-height: 1.2125;
                                        color: #000000;
                                        font-family: Inter, 'Source Sans Pro';
                                        white-space: nowrap;
                                        flex-shrink: 0;
                                    }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-13-F25 .lu-li-nhng-vn-bn-quan-tm-hoc-nhng-bi-vit-ng-ch--PXb {
                                    max-width: 23.1rem;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .cancel-sxZ {
                                margin: 0.1rem 0.6rem 0rem 0rem;
                                width: 2.4rem;
                                height: 2.4rem;
                                position: relative;
                                object-fit: contain;
                                vertical-align: top;
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .cha-h-tr-obK {
                                margin: 0.5rem 10rem 0rem 0rem;
                                font-size: 1.3rem;
                                font-weight: 400;
                                line-height: 1.2125;
                                color: #000000;
                                font-family: Inter, 'Source Sans Pro';
                                white-space: nowrap;
                                flex-shrink: 0;
                            }

                            .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-18-iiH {
                                margin-bottom: 3.3rem;
                                display: flex;
                                align-items: center;
                                flex-shrink: 0;
                            }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-18-iiH .checkcircle-5Yq {
                                    margin-right: 0.5rem;
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    position: relative;
                                    object-fit: contain;
                                    vertical-align: top;
                                    flex-shrink: 0;
                                }

                                .auto-group-6jim-dob .auto-group-r4kf-kNR .auto-group-sxff-XWu .auto-group-gn2h-Ywf .auto-group-7nqb-7Am .frame-18-iiH .c-h-tr-cYm {
                                    font-size: 1.3rem;
                                    font-weight: 400;
                                    line-height: 1.2125;
                                    color: #000000;
                                    font-family: Inter, 'Source Sans Pro';
                                    white-space: nowrap;
                                    flex-shrink: 0;
                                }

            .auto-group-6jim-dob .auto-group-xwmj-vJZ {
                width: 58.8rem;
                height: 5.7rem;
                position: absolute;
                left: 50.3rem;
                top: 63.7rem;
                display: flex;
                align-items: flex-start;
            }

                .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-15-ot9 {
                    margin-right: 6.6rem;
                    width: 23.1rem;
                    height: 100%;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-15-ot9 .auto-group-uw6m-koP {
                        margin: 0rem 3.9rem 0rem 0rem;
                        width: calc(100% - 3.9rem);
                        display: flex;
                        align-items: flex-start;
                    }

                        .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-15-ot9 .auto-group-uw6m-koP .filteralt-NJy {
                            margin-right: 0.9rem;
                            width: 2.4rem;
                            height: 2.4rem;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-15-ot9 .auto-group-uw6m-koP .phn-loi-ni-dung-JyK {
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-15-ot9 .h-thng-tm-kim-v-phn-loi-nhng-vn-bn-quan-tm-e1b {
                        max-width: 23.1rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                    }

                .auto-group-6jim-dob .auto-group-xwmj-vJZ .cancel-Lf7 {
                    margin-right: 0.6rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .auto-group-6jim-dob .auto-group-xwmj-vJZ .cha-h-tr-fhP {
                    margin: 0.4rem 10rem 0rem 0rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-18-nX7 {
                    margin-bottom: 3.3rem;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-18-nX7 .checkcircle-YFP {
                        margin-right: 0.5rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-6jim-dob .auto-group-xwmj-vJZ .frame-18-nX7 .c-h-tr-sYZ {
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

            .auto-group-6jim-dob .auto-group-teff-18y {
                width: 73rem;
                height: 6.1rem;
                position: absolute;
                left: 50.4rem;
                top: 69.8rem;
                display: flex;
                align-items: flex-start;
            }

                .auto-group-6jim-dob .auto-group-teff-18y .auto-group-k8aq-7ho {
                    margin: 0.6rem 3.4rem 0rem 0rem;
                    width: 23.2rem;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-teff-18y .auto-group-k8aq-7ho .auto-group-9gnq-Szy {
                        margin: 0rem 2.6rem 0rem 0rem;
                        width: calc(100% - 2.6rem);
                        display: flex;
                        align-items: flex-start;
                    }

                        .auto-group-6jim-dob .auto-group-teff-18y .auto-group-k8aq-7ho .auto-group-9gnq-Szy .datalossprevention-abP {
                            margin-right: 0.9rem;
                            width: 2.4rem;
                            height: 2.4rem;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .auto-group-6jim-dob .auto-group-teff-18y .auto-group-k8aq-7ho .auto-group-9gnq-Szy .tm-hiu-chuyn-gia-Wzq {
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-6jim-dob .auto-group-teff-18y .auto-group-k8aq-7ho .xem-profile-chuyn-gia-tm-hiu-h-trc-khi-kt-ni-T9P {
                        max-width: 23.2rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                    }

                .auto-group-6jim-dob .auto-group-teff-18y .auto-group-jziq-x69 {
                    margin-right: 4.8rem;
                    box-sizing: border-box;
                    padding: 0.2rem 0rem 0.2rem 3rem;
                    height: 5.4rem;
                    display: flex;
                    align-items: flex-start;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-teff-18y .auto-group-jziq-x69 .cancel-GsX {
                        margin-right: 0.6rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-6jim-dob .auto-group-teff-18y .auto-group-jziq-x69 .ch-truy-cp-c-thng-tin-c-bn-REd {
                        margin-top: 0.3rem;
                        max-width: 12.8rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        flex-shrink: 0;
                    }

                .auto-group-6jim-dob .auto-group-teff-18y .frame-18-ijX {
                    margin-top: 0.2rem;
                    margin-left: -0.3rem;
                    display: flex;
                    align-items: flex-start;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-teff-18y .frame-18-ijX .checkcircle-Gm3 {
                        margin-right: 0.5rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-6jim-dob .auto-group-teff-18y .frame-18-ijX .truy-cp-nng-cao-mi-thng-tin-oW5 {
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

            .auto-group-6jim-dob .auto-group-jskw-isw {
                width: 58.8rem;
                height: 6.7rem;
                position: absolute;
                left: 50.3rem;
                top: 76.9rem;
                display: flex;
                align-items: flex-start;
            }

                .auto-group-6jim-dob .auto-group-jskw-isw .frame-16-Sow {
                    margin-right: 7.6rem;
                    width: 22.1rem;
                    height: 100%;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-jskw-isw .frame-16-Sow .auto-group-cw4u-PjB {
                        margin: 0rem 1.1rem 0rem 0rem;
                        width: calc(100% - 1.1rem);
                        display: flex;
                        align-items: flex-start;
                    }

                        .auto-group-6jim-dob .auto-group-jskw-isw .frame-16-Sow .auto-group-cw4u-PjB .importcontacts-XKb {
                            margin-right: 0.9rem;
                            width: 2.4rem;
                            height: 2.4rem;
                            position: relative;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .auto-group-6jim-dob .auto-group-jskw-isw .frame-16-Sow .auto-group-cw4u-PjB .kho-ni-dung-zalpha-G2H {
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 1.2125;
                            color: #000000;
                            font-family: Inter, 'Source Sans Pro';
                            white-space: nowrap;
                            flex-shrink: 0;
                        }

                    .auto-group-6jim-dob .auto-group-jskw-isw .frame-16-Sow .tng-hp-cc-bi-test-tm-l-l-trnh-t-cha-lnh-kt-hp-podcast-m-nhc-thin-nh-gip-relax-gim-stress-yhP {
                        max-width: 22.1rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                    }

                .auto-group-6jim-dob .auto-group-jskw-isw .cancel-EdK {
                    margin-right: 0.6rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                }

                .auto-group-6jim-dob .auto-group-jskw-isw .cha-h-tr-Ams {
                    margin: 0.4rem 10rem 0rem 0rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .auto-group-6jim-dob .auto-group-jskw-isw .frame-18-69j {
                    margin-bottom: 4.3rem;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                }

                    .auto-group-6jim-dob .auto-group-jskw-isw .frame-18-69j .checkcircle-3Ks {
                        margin-right: 0.5rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                    }

                    .auto-group-6jim-dob .auto-group-jskw-isw .frame-18-69j .c-h-tr-BBB {
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 1.2125;
                        color: #000000;
                        font-family: Inter, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                    }

            .auto-group-6jim-dob .line-6-WUM {
                width: 88.0999rem;
                height: 0.1rem;
                position: absolute;
                left: 48rem;
                top: 85.4rem;
                background-color: #000000;
            }
    </style>
</body>
</html>
