@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Spychologist Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Spychologist Rating</title>
    <link rel="stylesheet" href="~/assets/css/transaction.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
</head>
<body>
    <div class="auto-group-6jim-dob">
        <div class="auto-group-r4kf-kNR">
            <div class="auto-group-wcxx-4e1">
                <img class="image-8-CkD" src="~/assets/images/image-8-Sd3.png" />
                <div class="account-information-vRK">
                    <div class="auto-group-fbdf-Zz5">
                        <div class="rectangle-23-ULM">
                        </div>
                        <p class="thng-tin-c-nhn-Ays">Thông tin cá nhân</p>
                        <img class="image-9-3Xs" src="~/assets/images/image-9-i8M.png" />
                    </div>
                    <div class="auto-group-chxb-xeq">
                        <img class="person-2Po" src="~/assets/images/person-Ery.png" />
                        <p class="bi-vit-ca-ti-9zD">Bài viết của tôi</p>
                    </div>
                    <div class="auto-group-gd9w-341">
                        <img class="commentbank-kDK" src="~/assets/images/commentbank-iPf.png" />
                        <p class="bi-vit-lu-gsf">Bài viết đã lưu</p>
                    </div>
                    <div class="auto-group-tm1f-ai9">
                        <img class="monetizationon-6Rb" src="~/assets/images/monetizationon-MA5.png" />
                        <p class="lch-s-giao-dch-qPB">Thanh toán</p>
                    </div>
                </div>
            </div>
            <div class="auto-group-sxff-XWu">
                <div class="auto-group-lgwh-ebX">
                    <div class="auto-group-cdyz-zvH">
                        <div class="auto-group-mdbb-LUM">
                            <p class="hy-chn-gi-dch-v-ph-hp-nht-vi-nhu-cu-ca-bn-ezq">Hãy chọn gói dịch vụ phù hợp nhất với nhu cầu của bạn</p>
                            <p class="tr-ph-hng-thng-hoc-tit-kim-khng-vi-la-chn-theo-gi-nm-jmP">Trả phí hằng tháng hoặc tiết kiệm khủng với lựa chọn theo gói năm!</p>
                        </div>
                        <div class="auto-group-9vrh-Cey">
                            <div class="auto-group-8e1b-8Yd">
                                <img class="ellipse-11-4x5" src="~/assets/images/ellipse-11.png" />
                                <img class="ellipse-12-ouf" src="~/assets/images/ellipse-12.png" />
                                <img class="ellipse-13-joK" src="~/assets/images/ellipse-13.png" />
                                <img class="ellipse-14-V1o" src="~/assets/images/ellipse-14.png" />
                            </div>
                            <p class="windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9">
                                <span class="windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9-sub-0">
                                    Windo, Shiba, Pico và 4k5 người khác
                                    <br />

                                </span>
                                <span class="windo-shiba-pico-v-4k5-ngi-khc-tr-thnh-zalpha-membership-Rg9-sub-1">đã trở thành Zalpha Membership!</span>
                            </p>
                        </div>
                        <div class="auto-group-skdx-jTs">
                            <div class="ellipse-9-fMX">
                            </div>
                            <p class="windino-AZB">Windino</p>
                            <p class="freemium-uFs">(Freemium)</p>
                        </div>
                    </div>
                    <div class="auto-group-gepd-q9X">
                        <div class="rectangle-111-iUD">
                        </div>
                        <p class="membership-2jo">Membership</p>
                        <div class="line-7-jPK">
                        </div>
                        <div class="line-9-4Rb">
                        </div>
                        <div class="rectangle-109-C21">
                        </div>
                        <div class="rectangle-110-iFF">
                        </div>
                        <div class="line-10-3YR">
                        </div>
                        <div class="line-11-Bed">
                        </div>
                        <p class="monthly-Kkq">Monthly</p>
                        <p class="quaterly-Ros">Quaterly</p>
                        <p class="annually-Ydb">Annually</p>
                        <div class="frame-22-ruB">
                            <p class="item-49-nnq">49</p>
                            <p class="vnd-Knm">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-5-f5w">
                            <p class="item-129-ngM">129</p>
                            <p class="vnd-KwB">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-23-sSu">
                            <p class="item-499-Czy">499</p>
                            <p class="vnd-LrH">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-24-HWd">
                            <p class="item-249-R73">249</p>
                            <p class="vnd-MWV">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-4-u2D">
                            <p class="item-249-2sX">249</p>
                            <p class="vnd-aPF">
                                .000
                                <br />
                                VND
                            </p>
                        </div>
                        <div class="frame-6-KLq">Chọn</div>
                        <div class="frame-10-oG1">Chọn</div>
                        <div class="frame-9-fp1">Chọn</div>
                        <div class="frame-8-Y77">Chọn</div>
                        <div class="frame-7-ccm">Chọn</div>
                        <div class="rectangle-112-6Xw">
                        </div>
                        <div class="rectangle-113-cFP">
                        </div>
                        <div class="rectangle-114-8Ud">
                        </div>
                        <p class="member-G53">Member</p>
                        <p class="organization-nJH">Organization</p>
                        <p class="cooperator-VTb">Cooperator</p>
                    </div>
                </div>
                <div class="auto-group-gn2h-Ywf">
                    <div class="auto-group-5wj1-hZf">
                        <img class="auto-group-ccbw-Dnu" src="~/assets/images/auto-group-ccbw.png" />
                    </div>
                    <div class="auto-group-uxu1-WX7">
                        <div class="frame-11-NZK">
                            <div class="auto-group-bnn9-WfX">
                                <img class="editdocument-CoF" src="~/assets/images/editdocument.png" />
                                <p class="bi-vit-ca-bn-hk1">Bài viết của bạn</p>
                            </div>
                            <p class="lng-bi-post-m-bn-c-th-vit-v-vn-ca-mnh-c6H">Lượng bài post mà bạn có thể viết về vấn đề của mình</p>
                        </div>
                        <div class="auto-group-rwnd-Tsb">
                            <div class="auto-group-bckm-byo">
                                <img class="cancel-gEZ" src="~/assets/images/cancel.png" />
                                <p class="b-gii-hn-bMX">Bị giới hạn</p>
                            </div>
                            <div class="frame-18-Uw7">
                                <img class="checkcircle-1g9" src="~/assets/images/checkcircle-q9P.png" />
                                <p class="khng-gii-hn-h3B">Không giới hạn</p>
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-shk1-13s">
                        <div class="frame-12-uf3">
                            <div class="auto-group-tte1-EhK">
                                <img class="chatbubble-mhF" src="~/assets/images/chatbubble.png" />
                                <p class="bnh-lun-hqo">Bình luận</p>
                            </div>
                            <p class="xem-gp-quan-im-t-chuyn-gia-v-ngi-h-tr-cm-xc-di-mi-bi-vit-qh7">Xem góp ý, quan điểm từ chuyên gia và người hỗ trợ cảm xúc dưới mỗi bài viết</p>
                        </div>
                        <img class="auto-group-qzuk-KMP" src="~/assets/images/auto-group-qzuk.png" />
                        <p class="ch-bnh-lun-t-ngi-dng-2mb">Chỉ bình luận từ người dùng</p>
                        <div class="frame-19-v6H">
                            <img class="checkcircle-4CV" src="~/assets/images/checkcircle-UMB.png" />
                            <p class="khng-gii-hn-C3o">Không giới hạn</p>
                        </div>
                    </div>
                    <div class="auto-group-7nqb-7Am">
                        <div class="frame-13-F25">
                            <div class="auto-group-2trx-zVT">
                                <img class="cloudupload-85s" src="~/assets/images/cloudupload.png" />
                                <p class="lu-tr-ni-dung-4ER">Lưu trữ nội dung</p>
                            </div>
                            <p class="lu-li-nhng-vn-bn-quan-tm-hoc-nhng-bi-vit-ng-ch--PXb">Lưu lại những vấn đề bạn quan tâm hoặc những bài viết đáng chú ý</p>
                        </div>
                        <img class="cancel-sxZ" src="~/assets/images/cancel-BYZ.png" />
                        <p class="cha-h-tr-obK">Chưa hỗ trợ</p>
                        <div class="frame-18-iiH">
                            <img class="checkcircle-5Yq" src="~/assets/images/checkcircle-xbw.png" />
                            <p class="c-h-tr-cYm">Có hỗ trợ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auto-group-xwmj-vJZ">
            <div class="frame-15-ot9">
                <div class="auto-group-uw6m-koP">
                    <img class="filteralt-NJy" src="~/assets/images/filteralt.png" />
                    <p class="phn-loi-ni-dung-JyK">Phân loại nội dung</p>
                </div>
                <p class="h-thng-tm-kim-v-phn-loi-nhng-vn-bn-quan-tm-e1b">Hệ thống tìm kiếm và phân loại những vấn đề bạn quan tâm</p>
            </div>
            <img class="cancel-Lf7" src="~/assets/images/cancel-rsF.png" />
            <p class="cha-h-tr-fhP">Chưa hỗ trợ</p>
            <div class="frame-18-nX7">
                <img class="checkcircle-YFP" src="~/assets/images/checkcircle-weV.png" />
                <p class="c-h-tr-sYZ">Có hỗ trợ</p>
            </div>
        </div>
        <div class="auto-group-teff-18y">
            <div class="auto-group-k8aq-7ho">
                <div class="auto-group-9gnq-Szy">
                    <img class="datalossprevention-abP" src="~/assets/images/datalossprevention.png" />
                    <p class="tm-hiu-chuyn-gia-Wzq">Tìm hiểu chuyên gia</p>
                </div>
                <p class="xem-profile-chuyn-gia-tm-hiu-h-trc-khi-kt-ni-T9P">Xem profile chuyên gia để tìm hiểu họ trước khi kết nối</p>
            </div>
            <div class="auto-group-jziq-x69">
                <img class="cancel-GsX" src="~/assets/images/cancel-qos.png" />
                <p class="ch-truy-cp-c-thng-tin-c-bn-REd">Chỉ truy cập được thông tin cơ bản</p>
            </div>
            <div class="frame-18-ijX">
                <img class="checkcircle-Gm3" src="~/assets/images/checkcircle-Niy.png" />
                <p class="truy-cp-nng-cao-mi-thng-tin-oW5">Truy cập nâng cao mọi thông tin</p>
            </div>
        </div>
        <div class="auto-group-jskw-isw">
            <div class="frame-16-Sow">
                <div class="auto-group-cw4u-PjB">
                    <img class="importcontacts-XKb" src="~/assets/images/importcontacts.png" />
                    <p class="kho-ni-dung-zalpha-G2H">Kho nội dung Zalpha</p>
                </div>
                <p class="tng-hp-cc-bi-test-tm-l-l-trnh-t-cha-lnh-kt-hp-podcast-m-nhc-thin-nh-gip-relax-gim-stress-yhP">Tổng hợp các bài test tâm lý, lộ trình tự chữa lành kết hợp podcast, âm nhạc thiền định, giúp relax, giảm stress</p>
            </div>
            <img class="cancel-EdK" src="~/assets/images/cancel-unV.png" />
            <p class="cha-h-tr-Ams">Chưa hỗ trợ</p>
            <div class="frame-18-69j">
                <img class="checkcircle-3Ks" src="~/assets/images/checkcircle-EsP.png" />
                <p class="c-h-tr-BBB">Có hỗ trợ</p>
            </div>
        </div>
        <div class="line-6-WUM">
        </div>
    </div>
</body>
</html>
