@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity;
@using ZAlpha.Domain.Identity;
@using ZAlpha.Application.Common.Interfaces;
@{
    ViewBag.Title = "Change P";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IIdentityService _identityServices;

@using Microsoft.AspNetCore.Mvc;


<!-- CONTENT GRID -->
<div class="content-grid">

    <div class="grid-column medium-space">
       
        <!-- GRID COLUMN -->
        <div class="account-hub-content">
            <!-- SECTION HEADER -->
            <div class="section-header">
                <!-- SECTION HEADER INFO -->
                <div class="section-header-info">
                    <!-- SECTION PRETITLE -->
                    <p class="section-pretitle">Tài khoản</p>
                    <!-- /SECTION PRETITLE -->
                    <!-- SECTION TITLE -->
                    <h2 class="section-title">Đổi mật khẩu</h2>
                    <!-- /SECTION TITLE -->
                </div>
                <!-- /SECTION HEADER INFO -->
            </div>
            <!-- /SECTION HEADER -->
            <!-- GRID COLUMN -->
            <div class="grid-column">
                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">
                        <!-- FORM -->
                        <form class="form" action="~/Home/ChangePassword" method="post">
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item">
                                    <!-- FORM INPUT -->
                                    <div class="form-input">
                                        <label for="account-current-password">Mật khẩu cũ</label>
                                        <input type="password" required id="account-current-password" name="OldPassword">
                                    </div>
                                    @if (ViewBag.OldPasswordValidate != null)
                                    {
                                        <div style="word-wrap: break-word; word-break: break-word; display: block; width: inherit; font-size:14px;">
                                            <div class="text-danger">@ViewBag.OldPasswordValidate</div>
                                        </div>
                                    }
                                    <!-- /FORM INPUT -->
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- FORM ROW -->
                            <div class="form-row split">
                                <!-- FORM ITEM -->
                                <div class="form-item">
                                    <!-- FORM INPUT -->
                                    <div class="form-input small">
                                        <label for="account-new-password">Mật khẩu mới</label>
                                        <input type="password" id="account-new-password" name="NewPassword">
                                    </div>
                                    @if (ViewBag.NewPasswordValidate != null)
                                    {
                                        <div style="word-wrap: break-word; word-break: break-word; display: block; width: inherit; font-size:14px;">
                                            <div class="text-danger">@ViewBag.NewPasswordValidate</div>
                                        </div>
                                    }
                                    <!-- /FORM INPUT -->
                                </div>
                                <!-- /FORM ITEM -->
                                <!-- FORM ITEM -->
                                <div class="form-item">
                                    <!-- FORM INPUT -->
                                    <div class="form-input small">
                                        <label for="account-new-password-confirm">Nhập lại mật khẩu mới</label>
                                        <input type="password" id="account-new-password-confirm" name="ConfirmPassword">
                                    </div>
                                    @if (ViewBag.PasswordConfirmValidate != null)
                                    {
                                        <div style="word-wrap: break-word; word-break: break-word; display: block; width: inherit; font-size:14px;">
                                            <div class="text-danger">@ViewBag.PasswordConfirmValidate</div>
                                        </div>
                                    }
                                    <!-- /FORM INPUT -->
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- FORM ROW -->
                            <div class="form-row split">
                                <!-- FORM ITEM -->
                                <div class="form-item">
                                    <!-- BUTTON -->
                                    <p class="button full secondary">Quên mật khẩu ?</p>
                                    <!-- /BUTTON -->
                                </div>
                                <!-- /FORM ITEM -->
                                <!-- FORM ITEM -->
                                <div class="form-item">
                                    <!-- BUTTON -->
                                    <button class="button full primary">Thay đổi mật khẩu bây giờ</button>
                                    <!-- /BUTTON -->
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                        </form>
                        <!-- /FORM -->
                    </div>
                    <!-- WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->
            </div>
            <!-- /GRID COLUMN -->
        </div>
        <!-- /GRID COLUMN -->
    </div>
</div>
<!-- /CONTENT GRID -->
