@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/assets/images/css/NewFeed.css" rel="stylesheet" />
</head>
<div>

    <div class="" style="margin:10px 15vw;">
       
        <div class="row">
            <div style="text-align:center;">
                <img  style="width:100%;  border-radius: 10px" src="https://via.placeholder.com/800x251" />
            </div>

        </div>

       


        @*-------------post 2 (detail)-----------*@
        <div class="box">
            <div>
                <div style="position:relative ;">
                    <i style ="position: absolute; top:10px; right:10px;" class="fa-solid fa-arrow-up-wide-short fa-l"></i>                   
                    <br />
                </div>
                <div class="textbox">Công việc </div>
                <div class="textbox">Gia đình</div>
               
            </div>
            <div class="TiltePost">
                <strong>
                    Làm một ngày gần 12 tiếng nhưng khi về đến nhà vẫn không được nghỉ ngơi haizzz...
                </strong>
            </div>

           <div class="row">
                <div class="col-6">
                    <img class="" style="width: 100%; border-radius: 10px" src="https://via.placeholder.com/330x330" />
                </div>
                <div class="col-6" >
                    <div class="row" style="position:relative;">
                        <div class="col-2">
                            <img style="width:3.7vw;border-radius: 9999px" src="https://via.placeholder.com/38x38" />
                        </div>
                        <div class="col-10" style="position: absolute; left:5vw; top:0.3vw;">
                            <div style="color: black; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word">Shiba</div>                           
                            <div style="color: #FF6C37; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">20 phút trước</div>
                        </div>
                    </div>
                    <div class="hashtag">                       
                        <p>#kiemtien</p>
                        <p>#nghihoc</p>
                    </div>
                    <div class="PostText">
                        Nhà em cũng không phải khá giả nên em bỏ học đi làm từ sớm, muốn chạy đi kiếm tiền luôn. Hiện tại là một shipper ngày nào cũng ráng giao cả ngàn đơn, dãi nắng cả buổi, ráng cày thêm đơn để được thưởng KPI. Vậy nên mỗi khi về nhà, ngoài kiệt sức ra em thường xuyên cảm thấy căng thẳng, mệt mỏi và có những suy nghĩ tiêu cực về bản thân, mình cải cha cãi má bỏ học đi làm mà. Em chỉ muốn được nghỉ ngơi nhưng mẹ bảo em xuống làm cơm cho ba má ăn với lo dọn dẹp nhà. Điều này khiến em cảm thấy mệt mỏi và khó chịu.
                    </div>                    
                </div>
           </div>
            <div class="row" style="margin-top:2vh;">
               <div class="col-2" >             
                    <button class="button-2" style="height: 32px;" role="button"><i class="fa-solid fa-arrow-up"></i> Push</button>                   
               </div>
                <div class="col-2">
                    <button class="button-62" style="height: 32px;" role="button"><i class="fa-solid fa-arrow-down"></i> Hide</button>
                </div>

                <div class="col-6">
                    <button class="button-10" style="width: 20vw;  font-size: 14px;" role="button"> Comment </button>
                </div>
                <div class="col-2">
                    <button class="button-10" style="width: 6vw;  font-size: 14px;" role="button"> Save </button>
                </div>
           </div>
        </div>
        @*------------------------*@
        @*-------------post 2 (comment)-----------*@
        <div class="boxComment">
            @*Div comment*@
            <div class="row">
                <div class="col-1" style="padding:1vw;">
                    <img style="width:3vw;border-radius: 9999px" src="https://via.placeholder.com/35x35" />
                </div>
                <div class="col-11">
                    <div class="DivComment">
                        <div style="font-size:13px">
                            Em chỉ đang cảm thấy mệt mỏi, quá tải và cần sẻ chia thôi. Anh luôn ở đây hỗ trợ em, bản chất em có những suy nghĩ trên đã là một điểm tích cực, là điều đáng quý. Hãy bắt đầu từ việc viết lại mục đích, lý do chọn lựa con đường của em, để lấy nó làm điểm tựa mỗi khi đối diện với cảm xúc khó chịu mà em đề cập. Còn nếu được hãy tham gia một buổi hẹn ngắn với anh nếu em vẫn cảm thấy struggle
                        </div>
                        <div class="button-comment" style="">
                            <div style="">
                                <button type="button" class="btn btn-success btn-circle"><i class="fa-solid fa-arrow-up"></i></button>
                                <button type="button" class="btn btn-warning btn-circle"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                               
                </div>
            </div>
            @*Div comment*@
            <div class="row">
                <div class="col-1" style="padding:1vw;">
                    <img style="width:3vw;border-radius: 9999px" src="https://via.placeholder.com/35x35" />
                </div>
                <div class="col-11">
                    <div class="DivComment">
                        <div style="font-size:13px">
                            MÌnh cũng gặp trường hợp tương tự, áp lực bản thân, ngoài xã hội chưa đủ về thấy người nhà cũng chẳng động viên, quả thực là rất stress
                        </div>
                    </div>
                </div>
            </div>
            @*Div comment*@
            <div class="row">
                <div class="col-1" style="padding:1vw;">
                    <img style="width:3vw;border-radius: 9999px" src="https://via.placeholder.com/35x35" />
                </div>
                <div class="col-11">
                    <div class="DivComment">
                        <div style="font-size:13px">
                            Có thời gian thì nên làm rõ với bố mẹ, để giải quyết vấn đề này thì chỉ có cách ngồi lại với nhau thôi! Nói cho họ biết suy nghĩ của bạn, bạn muốn gì, cần gì, muốn bố mẹ hỗ trợ gì...
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        @*------------------------*@
        <div class="br"> </div>


        @*-------------post 1-----------*@
        <div class="box">
            <div>
                <div style="position:relative ;">
                    <i style="position: absolute; top:10px; right:10px;" class="fa-solid fa-arrow-down-short-wide fa-l"></i>
                    <br />
                </div>
                <div class="textbox">Học đường</div>
                <div class="textbox">Stress</div>
            </div>
            <div class="TiltePost">
                <strong>
                    Em đang trong mùa ôn thi đã rất áp lực điểm số rồi nhưng về nhà vẫn...
                </strong>
            </div>
        </div>
        @*------------------------*@




    </div>


</div>
