@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="" style="margin:10px 12vw;">
        <div class="row">
            <div style="text-align:center;">
                <img  style="width:100%;  border-radius: 10px" src="https://via.placeholder.com/800x251" />
            </div>

        </div>

        <div class="row">
            <div class="auto-group-uk73-4RT">
                <div class="auto-group-csnm-jnV">
                    <div class="tag-UVB">Học đường</div>
                    <div class="tag-8Zj">Gia đình</div>
                    <div class="tag-PVf">và 2 thẻ khác ...</div>
                    <img class="expandmore-FGy" src="./assets/expandmore-Y6R.png" />
                </div>
                <p class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-nGu">
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-nGu-sub-0">Em đang trong mùa ôn thi đã rất áp lực điểm số rồi nhưng về nhà vẫn</span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-nGu-sub-1"> </span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-nGu-sub-2">...</span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-nGu-sub-3"> </span>
                    <span class="em-ang-trong-ma-n-thi-rt-p-lc-im-s-ri-nhng-v-nh-vn-xem-thm-nGu-sub-4">xem thêm</span>
                </p>
            </div>


        </div>
       

    </div>


</div>
